/// -----------------------------------------------------------------------------
/// DEPRECATION NOTICE
///
/// This stylesheet contains deprecated code that should not be used anymore.
/// Please use the common library following the related documentation for the
/// frontend SCSS architecture
/// -----------------------------------------------------------------------------

@use 'colors' as colors;

$stdPadding: 8px;

.drop-down-box__grid
  > .dx-datagrid.dx-gridbase-container
  > .dx-datagrid-rowsview.dx-datagrid-nowrap
  > .dx-datagrid-content {
  &
    > table.dx-datagrid-table.dx-datagrid-table-fixed
    > tbody
    > tr
    > td:first-child {
    cursor: pointer;
  }

  & > .dx-datagrid-focus-overlay {
    display: none;
  }
}

.dx-datagrid-content .dx-datagrid-table .dx-row > td,
.dx-datagrid-content .dx-datagrid-table .dx-row > tr > td {
  font-size: 14px !important;
  border-right: none !important;
}

table.dx-datagrid-table {
  tbody {
    tr.dx-row.dx-data-row,
    tr.dx-row.dx-data-row.dx-row-alt {
      &.dx-state-hover,
      &.dx-state-hover.dx-selection {
        color: colors.$textGray !important;
        background: colors.$hoverBlue !important;
        cursor: pointer;
        td:hover {
          background: colors.$color-brand-primary-light !important;
        }
      }
    }
    tr.dx-row.dx-data-row {
      &.dx-row-alt {
        td {
          background: colors.$offWhite;
        }
      }
      &.dx-selection {
        td {
          background: colors.$color-brand-primary-light !important;
          color: black;
        }
      }
    }

    tr.dx-row.dx-group-row {
      td.dx-group-cell {
        color: black;
      }
    }
  }
}

dx-tree-list {
  height: 100%;
  font-family: Helvetica;
  font-size: 14px;

  div.dx-treelist-headers {
    background-color: colors.$lightGray;

    div.dx-treelist-content {
      table {
        tbody {
          background-color: colors.$lightGray;
          color: colors.$costarBlue;
          font-family: Helvetica;
          font-size: 14px !important;
          font-weight: bold;

          tr.dx-header-row {
            td {
              div.dx-column-indicators {
                span.dx-header-filter {
                  color: colors.$costarMediumBlue;

                  &.dx-header-filter-empty {
                    color: rgba(149, 149, 149, 0.5);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  table.dx-treelist-table {
    tbody {
      tr.dx-row.dx-data-row {
        &:hover {
          background: colors.$hoverBlue !important;
          cursor: default;
        }

        &.dx-row-alt {
          &:hover {
            background: colors.$hoverBlue !important;
            cursor: default;

            td {
              background: colors.$hoverBlue !important;
              cursor: default;
            }
          }

          td {
            background: colors.$offWhite;
          }
        }

        &.dx-selection {
          &:hover {
            background: colors.$costarLightBlue;
            color: white;
          }

          &.dx-row-alt {
            &:hover {
              td {
                background: colors.$costarLightBlue !important;
                color: white;
              }
            }
          }

          td {
            background: colors.$costarLightBlue;
            color: black;
          }
        }
      }

      tr.dx-row.dx-group-row {
        td.dx-group-cell {
          color: black;
        }
      }
    }
  }

  .dx-header-row > td > .dx-treelist-text-content {
    text-align: center;
  }

  .dx-treelist .dx-row-alt > td,
  .dx-treelist .dx-row-alt > tr > td {
    background-color: colors.$offWhite;
  }

  div.dx-datagrid-pager.dx-pager {
    div.dx-page-sizes {
      div.dx-page-size {
        &.dx-selection {
          color: white;
          background-color: colors.$primary;
        }
      }
    }

    div.dx-pages {
      div.dx-page {
        &.dx-selection {
          color: white;
          background-color: colors.$primary;
        }
      }

      div.dx-navigate-button {
        color: colors.$primary;
      }
    }
  }

  .dx-treelist-search-text {
    color: black;
    background-color: rgb(255, 255, 55);
  }
}

dx-data-grid
  table.dx-datagrid-table
  tbody
  tr.dx-row.dx-master-detail-row
  td.dx-master-detail-cell {
  padding: 16px;
}

tr.dx-row.dx-datagrid-filter-row input.dx-texteditor-input {
  font-size: 14px !important;
}

.dx-popup-wrapper > .dx-overlay-content {
  border: 1px solid colors.$color-neutral-medium !important;
  background: #fff;
  // box-shadow: none !important;
  border-radius: 2px !important;
}

.dx-searchbox .dx-placeholder:before,
.dx-searchbox .dx-texteditor-input {
  padding-left: 32px !important;
}

div[id$='dropdownContainer'] {
  .dx-datagrid-content .dx-datagrid-table .dx-row > td,
  .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td {
    font-size: 16px !important;
  }

  dx-data-grid.drop-down-box__grid.dx-widget.dx-visibility-change-handler {
    .dx-datagrid.dx-gridbase-container {
      .dx-datagrid-headers.dx-datagrid-nowrap {
        .dx-datagrid-scrollable-simulated.dx-datagrid-content.dx-datagrid-scroll-container {
          table.dx-datagrid-table.dx-datagrid-table-fixed {
            tbody {
              background-color: colors.$lightGray;

              tr.dx-row.dx-header-row {
                td.dx-datagrid-action {
                  width: 100%;

                  .dx-datagrid-text-content.dx-text-content-alignment-left {
                    text-align: left;
                    font-size: 14px !important;
                    font-weight: 400 !important;
                    color: black !important;
                  }
                }
              }

              tr.dx-row.dx-datagrid-filter-row {
                td.dx-command-select {
                  display: none;
                }
                td.dx-editor-cell {
                  .dx-editor-with-menu {
                    .dx-editor-container {
                      .dx-textbox {
                        .dx-texteditor-container {
                          .dx-texteditor-input-container {
                            input {
                              height: 33px !important;
                              padding: 0 0 0 32px !important;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            tbody:hover {
              background-color: #e3f3fc !important;
            }
          }
        }
      }

      .dx-datagrid-rowsview {
        .dx-datagrid-content {
          table {
            tbody {
              tr {
                td.dx-command-select.dx-editor-cell.dx-editor-inline-block {
                  padding: 0;
                  width: 40px !important;
                  min-width: 40px !important;
                  max-width: 40px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-select {
  padding: 0;
  width: 40px !important;
  min-width: 40px !important;
  max-width: 40px !important;
}

dx-data-grid {
  div.dx-datagrid-headers {
    background-color: colors.$lightGray;

    div.dx-datagrid-content {
      table {
        tbody {
          background-color: colors.$lightGray;
          color: colors.$costarBlue;
          font-size: 14px;
          font-weight: bold;

          tr.dx-header-row {
            td {
              &:focus {
                outline: #3068a1 solid 2px !important;
              }
              div.dx-column-indicators {
                span.dx-header-filter {
                  color: colors.$costarMediumBlue;

                  &.dx-header-filter-empty {
                    color: rgba(149, 149, 149, 0.5);
                  }
                  &:focus {
                    outline: #3068a1 solid 2px !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  table.dx-datagrid-table {
    tbody {
      tr.dx-row.dx-data-row,
      tr.dx-row.dx-data-row.dx-row-alt {
        &.dx-state-hover,
        &.dx-state-hover.dx-selection {
          color: colors.$textGray !important;
          background: colors.$hoverBlue !important;
          cursor: pointer;
          td:hover {
            background: colors.$color-brand-primary-light !important;
          }
        }
      }

      tr.dx-row.dx-data-row {
        &.dx-row-alt {
          td {
            background: colors.$offWhite;
          }
        }

        &.dx-selection {
          td {
            background: colors.$costarLightBlue;
            color: black;
          }
        }
      }

      tr.dx-row.dx-group-row {
        td.dx-group-cell {
          color: black;
        }
      }
    }
  }

  .dx-header-row > td > .dx-datagrid-text-content {
    text-align: center;
  }

  .dx-datagrid .dx-row-alt > td,
  .dx-datagrid .dx-row-alt > tr > td {
    background-color: colors.$offWhite;
  }

  div.dx-datagrid-pager.dx-pager {
    div.dx-page-sizes {
      div.dx-page-size {
        &.dx-selection {
          color: white;
          background-color: colors.$primary;
        }
      }
    }

    div.dx-pages {
      div.dx-page {
        &.dx-selection {
          color: white;
          background-color: colors.$primary;
        }
      }

      div.dx-navigate-button {
        color: colors.$primary;
      }
    }
  }

  .dx-datagrid-search-text {
    color: black;
    background-color: rgb(255, 255, 55);
  }

  //Solves ADA: Text is clipped when resized, for 'No Data' text in with cards
  .dx-datagrid.dx-gridbase-container {
    span.dx-datagrid-nodata {
      overflow: auto;
      color: colors.$textGray;
    }
  }
  // End of ADA style fix
}

dx-data-grid {
  height: 100%;

  div.dx-datagrid-headers {
    background-color: colors.$lightGray;

    div.dx-datagrid-content {
      table {
        tbody {
          background-color: colors.$lightGray;
          color: colors.$costarBlue;
          font-size: 14px;
          font-weight: bold;

          tr.dx-header-row {
            td {
              div.dx-column-indicators {
                span.dx-header-filter {
                  color: colors.$costarMediumBlue;

                  &.dx-header-filter-empty {
                    color: #666666;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  table.dx-datagrid-table {
    tbody {
      tr.dx-row.dx-data-row,
      tr.dx-row.dx-data-row.dx-row-alt {
        &.dx-state-hover,
        &.dx-state-hover.dx-selection {
          color: colors.$textGray !important;
          background: colors.$hoverBlue !important;
          cursor: pointer;
          td:hover {
            background: colors.$color-brand-primary-light !important;
          }
        }
      }

      tr.dx-row.dx-data-row {
        &.dx-row-alt {
          td {
            background: colors.$offWhite;
          }
        }
        &.dx-selection {
          td {
            background: colors.$costarLightBlue;
            color: black;
          }
        }
      }

      tr.dx-row.dx-group-row {
        td.dx-group-cell {
          color: black;
        }
      }
    }
  }

  .dx-header-row > td > .dx-datagrid-text-content {
    text-align: center;
  }

  .dx-datagrid .dx-row-alt > td,
  .dx-datagrid .dx-row-alt > tr > td {
    background-color: colors.$offWhite;
  }

  div.dx-datagrid-pager.dx-pager {
    div.dx-info {
      color: colors.$black;
    }

    div.dx-page-sizes {
      div.dx-page-size {
        &.dx-selection {
          color: white;
          background-color: colors.$primary;
        }
      }
    }

    div.dx-pages {
      div.dx-page {
        &.dx-selection {
          color: white;
          background-color: colors.$primary;
        }
      }

      div.dx-navigate-button {
        color: colors.$primary;
      }
    }
  }

  .dx-datagrid-search-text {
    color: black;
    background-color: rgb(255, 255, 55);
  }
}

.dx-treeview-select-all-item {
  .dx-checkbox-container {
    .dx-checkbox-text {
      padding-left: 9px !important;
      margin: 0px !important;
    }
  }
}

.dx-tabpanel.dx-state-focused
  > .dx-tabpanel-tabs
  .dx-tabs-stretched
  .dx-tab:not(.dx-tab-selected):last-of-type {
  box-shadow: none !important;
}

dx-tab-panel.dx-tabpanel {
  div.dx-tabpanel-tabs {
    background: colors.$backgroundGray;
    .dx-tabs-expanded .dx-tab:not(.dx-tab-selected):first-of-type,
    .dx-tabs-expanded .dx-tab:not(.dx-tab-selected):last-of-type,
    .dx-tabs-stretched .dx-tab:not(.dx-tab-selected):last-of-type {
      box-shadow: none;
    }

    div.dx-tabs {
      border: none;
      box-shadow: none;
      height: 36px;
      border-bottom: 1px solid colors.$stdBorderGray;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;

      div.dx-tabs-wrapper {
        display: flex;
        div.dx-tab {
          box-shadow: none;
          padding: 0px 16px;
          width: auto;

          &.dx-state-hover {
            background-color: colors.$backgroundGray;
          }

          &.dx-tab-selected {
            box-shadow: none;
            background-color: colors.$backgroundGray;

            div.dx-tab-content {
              border-bottom: 3px solid colors.$costarDarkOrange;
              font-weight: bold;
            }
          }

          div.dx-tab-content {
            height: 36px;
            padding: 8px 0px;

            span.dx-tab-text {
              line-height: 17px;
              vertical-align: unset;
            }
          }
        }
      }
    }
  }

  &.dx-state-focused {
    div.dx-tabpanel-tabs {
      div.dx-tabs {
        box-shadow: none;
      }

      div.dx-tabs-expanded {
        div.dx-tab:not(.dx-tab-selected):first-of-type {
          box-shadow: none;
        }
      }
    }
  }

  div.dx-tabpanel-container {
    div.dx-multiview-wrapper {
      border: none;
    }
  }
}

// #crem-select-box.dx-overlay-wrapper {
// z-index: 2021 !important;
// }

.dx-overlay-content.dx-inner-overlay.dx-resizable.dx-context-menu.dx-datagrid {
  z-index: 2021 !important;
}

crem-dropdown {
  dx-drop-down-box {
    input.dx-texteditor-input {
      &:focus {
        border: 1px solid colors.$color-brand-primary !important;
        background-color: colors.$white;
        outline: 0;
      }
    }
  }
}

// .dx-overlay-wrapper.dx-header-filter-menu.dx-popup-wrapper {
//   .dx-overlay-content {
//     .dx-popup-bottom.dx-toolbar {
//       padding: 16px ;
//       .dx-toolbar-item {
//         padding: 0 10px 0 0 ;
//         &:last-child {
//           padding: 0px ;
//         }
//       }
//       .dx-button {
//         padding: 0px !important;
//         min-width: 100px ;
//         border-radius: 4px;
//         margin-left: 0px !important;
//       }
//     }
//   }
// }

// .dx-overlay-wrapper.dx-popup-wrapper .dx-overlay-content div.dx-popup-content {
//   padding: 0px !important;
// }

// .dx-overlay-wrapper.dx-popup-wrapper.dx-popover-wrapper,
// .dx-overlay-wrapper.dx-popup-wrapper.dx-header-filter-menu {
//   .dx-overlay-content div.dx-popup-content {
//     -webkit-user-drag: none;
//     padding: 16px !important;
//   }
// }

// .dx-overlay-wrapper.dx-header-filter-menu.dx-popup-wrapper {
//   z-index: 2021 !important;
//   .dx-overlay-content {
//     .dx-toolbar {
//       .dx-button {
//         padding: 8px !important;
//         .dx-button-content {
//           align-items: center;
//           display: flex;
//           justify-content: center;
//           .dx-button-text {
//             font-size: 14px !important;
//             font-weight: 400;
//             color: #333;
//           }
//         }
//       }
//     }
//   }
// }

.dx-calendar-body {
  height: 100%;
}
