@import '../../../../../mango/src/assets/styles/colors.scss';
@import '../../../../../mango/src/assets/styles/var.scss';

body {
  margin: 0 !important;
}

div.cdk-drop-list.dropcards {
  flex-direction: column !important;
  box-sizing: border-box;
  display: flex;
}

.group-maintenance-search
  > mat-form-field.mat-form-field.mat-form-field-appearance-outline
  div.mat-form-field-wrapper
  div.mat-form-field-flex
  div.mat-form-field-outline
  > * {
  background: white !important;
  border: none !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: $primary !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: white !important;
}

.group-maintenance-search
  > mat-form-field.mat-form-field.mat-form-field-appearance-outline
  div.mat-form-field-wrapper
  div.mat-form-field-flex
  div.mat-form-field-outline
  > * {
  background: white;
  border: none !important;
  outline: 0 !important;
}

.group-maintenance-search
  > mat-form-field.mat-form-field.mat-form-field-appearance-outline
  div.mat-form-field-wrapper
  div.mat-form-field-flex
  div.mat-mdc-form-field-infix {
  padding: 0px !important;
  overflow: visible !important;
  height: 32px !important;
  border: 1px solid #c3c3c3 !important;
  background: white !important;
  margin-top: 0px !important;
  padding-left: 8px !important;
  font-size: 16px !important;
  min-width: 200px !important;
}

dx-data-grid.drop-down-box__grid {
  div.dx-datagrid-headers {
    div.dx-datagrid-content {
      table {
        tbody > tr > td {
          width: 100% !important;
          background-color: #fff;
          color: rgba(51, 51, 51, 0.6);
        }
      }
    }
  }
}

input.search__input.mat-mdc-input-element {
  margin-top: 0px !important;
  margin-right: 28px;
}

.dx-datagrid
  .dx-datagrid-headers.dx-state-focused
  .dx-header-row
  td
  .dx-header-filter:focus,
.dx-datagrid .dx-datagrid-headers.dx-state-focused .dx-header-row td:focus {
  outline: none !important;
}

.dx-datagrid-action dx-cell-focus-disabled {
  width: 100% !important;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
  margin-top: 0px !important;
}

.dx-datagrid-borders .dx-datagrid-rowsview,
.dx-datagrid-headers + .dx-datagrid-rowsview {
  border-top: none !important;
}

.dx-field-value {
  display: flex;
  align-items: center;
}

.dx-overlay-content.dx-popup-normal.dx-resizable.dx-popup-flex-height {
  overflow: visible;
}

.dx-gantt-task-edit-progress {
  display: none !important;
}

.group-maintenance-search {
  height: auto !important;
  border: none !important;
  margin-right: 0px !important;
}

.dx-overlay-wrapper.dx-popup-wrapper {
  &.dx-dropdowneditor-overlay {
    .dx-overlay-content {
      min-width: 320px !important;

      div.dx-popup-content {
        padding: 0px !important;
      }
    }

    &.dx-selectbox-popup-wrapper {
      .dx-overlay-content {
        min-width: unset !important;
      }
    }
  }
}

.group-maintenance-dropdown
  > crem-dropdown
  > .dx-fieldset
  > .dx-field
  > .dx-field-value {
  margin-right: 0px !important;
}

.dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-select {
  width: 40px !important;
  min-width: 40px !important;
  max-width: 40px !important;
}

div.group-maintenance-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;

  div.group-maintenance-page-controls-wrapper {
    background-color: $bodyBackgroundGray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    font-size: 14px;
    border-bottom: $stdBorder;

    & > div {
      display: flex;
      align-items: center;
      z-index: 500;

      &.controls-left {
        mat-form-field.mat-form-field,
        button.btn,
        dx-text-box,
        dx-drop-down-box {
          width: 200px;
          margin-right: $stdPadding;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          margin: 0px;
        }
      }

      &.controls-right {
        mat-form-field.mat-form-field,
        button.btn,
        mat-button-toggle-group {
          margin-left: $dblPadding;
        }
      }
    }

    button.btn {
      font-size: 14px;
    }

    mat-form-field {
      &.mat-mdc-form-field {
        height: $stdPadding * 4;

        &.mat-form-field-appearance-outline {
          div.mat-form-field-wrapper {
            padding: 0px;
            margin: 0px;
          }
        }
      }
    }
  }

  div.group-maintenance-page-data-grid-wrapper {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
    flex-direction: column;
  }
}

.group-maintenance-search > mat-form-field {
  &.mat-mdc-form-field {
    line-height: 21px;

    &.mat-form-field-appearance-outline {
      div.mat-form-field-wrapper {
        margin: $stdPadding 0 $dblPadding 0;

        div.mat-form-field-flex {
          padding: 0px;
        }
      }
    }
  }
}

.mat-mdc-form-field-infix {
  display: flex !important;
}

svg#brand-search {
  padding-top: 6px;
}

.mat-form-field-suffix {
  right: 22px;
  top: 0px !important;
  align-self: center;
}

.dx-popup-wrapper > .dx-overlay-content {
  border: 1px solid #c8c8c8 !important;
  box-shadow: none !important;
  border-radius: 2px !important;
}

.mat-mdc-menu-panel > .mat-mdc-menu-content {
  font-size: 14px;

  & > ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;

    & > li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 8px 16px;
      cursor: pointer;
      line-height: 18px;

      &:hover {
        background-color: $costarLightBlue;
      }
    }
  }
}

.footerRightControls {
  display: flex;
}

.modalContent {
  font-size: 14px !important;
  padding: 0px 24px;
}

.modalHeader {
  padding: 24px 24px 8px !important;
}

.modalFooter {
  padding: 24px !important;
}

.mat-dialog-container {
  padding: 0px !important;
}

.modalHeader > .close-icon {
  transform: translateY(-4px) scale(1.5) !important;
}

.dx-dropdowneditor-input-wrapper
  > .dx-texteditor-container
  > .dx-texteditor-input-container
  > input.dx-texteditor-input {
  padding: 7px 9px 8px !important;
  border: none !important;
}

.footerRightControls > crem-button > button {
  margin-right: 0px !important;
}

crem-dropdown > .dx-fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-maintenance-data-grid-wrapper {
  height: 100% !important;
  overflow: auto;
  dx-tree-list {
    height: 100%;
  }
}

.dx-treelist-rowsview .dx-treelist-collapsed span::before {
  font-size: 24px !important;
  min-width: 24px !important;
}

.dx-treelist-rowsview .dx-treelist-expanded span::before {
  font-size: 24px !important;
  min-width: 24px !important;
}

.dx-treelist-empty-space {
  min-width: 24px !important;
}

td.dx-command-edit.not-clickable {
  cursor: default !important;
}

.not-clickable > .dx-template-wrapper > svg {
  cursor: default !important;
}

.dx-dropdowneditor-icon {
  border: none !important;
}

.dx-command-edit {
  .dx-template-wrapper {
    .btn {
      background-color: transparent;
      border: 1px solid transparent;
    }
  }
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
