<crem-accordion
  [title]="title"
  [contentPadding]="true"
  [id]="accountingSummaryService.getId(componentName, 'section', 'accordion')"
  class="classification-tests"
>
  <form
    [formGroup]="classificationTestForm"
    *ngIf="this.classificationId !== null"
    class="classification-tests__form"
  >
    <div class="classification-tests__form__controls">
      <ng-container
        *ngIf="this.classificationId === 0 || this.classificationId === 1"
      >
        <ol class="classification-tests__form__list--ordered">
          <ng-container *ngTemplateOutlet="commonTests"></ng-container>
          <ng-container *ngTemplateOutlet="testResults"></ng-container>
        </ol>
      </ng-container>
      <ng-container
        *ngIf="this.classificationId === 2 || this.classificationId === 3"
      >
        <ol class="classification-tests__form__list--ordered">
          <ng-container *ngTemplateOutlet="commonTests"></ng-container>

          <!-- 5 -->
          <li
            class="classification-tests__form__list__item"
            [id]="accountingSummaryService.getId(componentName, 'test', '5')"
          >
            <div class="ct-li-div">
              <label class="classification-tests__form__list__item__label">
                <span class="ct-bold-text">Alternative Use:</span>
                Is the underlying asset of a specialized nature?
              </label>
              <div>
                <crem-dropdown
                  #commonTest1DropDown
                  [id]="
                    accountingSummaryService.getId(
                      componentName,
                      'common-test5',
                      'dropdown'
                    )
                  "
                  displayExpr="tDisplay"
                  [dataSource]="testDropdownValues"
                  value="test5"
                  valueExpr="tValue"
                  [initialSelectedValue]="getTestDropdownValue(test5)"
                  (selectedItems)="testDropdownChanged($event, 'test5')"
                  [containerized]="true"
                  [showClearButton]="false"
                  formControlName="classificationTest5"
                >
                </crem-dropdown>
              </div>
            </div>
          </li>
          <ng-container *ngTemplateOutlet="testResults"></ng-container>
        </ol>
      </ng-container>

      <!-- template -->
      <ng-template #commonTests>
        <!-- 1 -->
        <li
          class="classification-tests__form__list__item"
          [id]="accountingSummaryService.getId(componentName, 'test', '1')"
        >
          <div class="ct-li-div">
            <label class="classification-tests__form__list__item__label">
              <span class="ct-bold-text">Transfer of ownership:</span>
              Does ownership transfer at end of lease term?
            </label>
            <div>
              <crem-dropdown
                #commonTest1DropDown
                [id]="
                  accountingSummaryService.getId(
                    componentName,
                    'common-test1',
                    'dropdown'
                  )
                "
                displayExpr="tDisplay"
                [dataSource]="testDropdownValues"
                value="test1"
                valueExpr="tValue"
                [initialSelectedValue]="getTestDropdownValue(test1)"
                (selectedItems)="testDropdownChanged($event, 'test1')"
                [containerized]="true"
                [showClearButton]="false"
                formControlName="classificationTest1"
              >
              </crem-dropdown>
            </div>
          </div>
        </li>

        <!-- 2 -->
        <li
          class="classification-tests__form__list__item"
          [id]="accountingSummaryService.getId(componentName, 'test', '2')"
        >
          <div class="ct-li-div">
            <label class="classification-tests__form__list__item__label">
              <span class="ct-bold-text">Purchase Option:</span>
              Does the lease contain a purchase option?
            </label>
            <div>
              <crem-dropdown
                #commonTest1DropDown
                [id]="
                  accountingSummaryService.getId(
                    componentName,
                    'common-test2',
                    'dropdown'
                  )
                "
                displayExpr="tDisplay"
                [dataSource]="testDropdownValues"
                value="test2"
                valueExpr="tValue"
                [initialSelectedValue]="getTestDropdownValue(test2)"
                (selectedItems)="testDropdownChanged($event, 'test2')"
                [containerized]="true"
                [showClearButton]="false"
                formControlName="classificationTest2"
              >
              </crem-dropdown>
            </div>
          </div>
        </li>

        <!-- 3 do we need calc engine for economic life-->
        <li
          class="classification-tests__form__list__item"
          [id]="accountingSummaryService.getId(componentName, 'test', '3')"
        >
          <div class="ct-li-div">
            <label
              class="classification-tests__form__list__item__label"
              for="classification-tests-common-test3-input"
            >
              <span class="ct-bold-text">Lease Term:</span>
              Is the term 75% or greater of the leased asset remaining economic
              life? <br />
              <span class="ct-sub-text"
                >{{
                  this.test3 !== null
                    ? formatService.localFormat(this.test3, 2)
                    : '0.00'
                }}% =
                {{ formatService.localFormat(this.remainingTermYears, 2) }}
                years /
                {{ formatService.localFormat(this.economicLifeYears, 2) }}
                remaining economic life</span
              >
            </label>
            <div>
              <crem-input
                [id]="
                  accountingSummaryService.getId(
                    componentName,
                    'common-test3',
                    'input'
                  )
                "
                [inputType]="'text'"
                [placeholder]="''"
                [required]="false"
                formControlName="classificationTest3"
                [value]="classificationTest3"
              >
              </crem-input>
            </div>
          </div>
        </li>

        <!-- 4-->
        <li
          class="classification-tests__form__list__item"
          [id]="accountingSummaryService.getId(componentName, 'test', '4')"
        >
          <div class="ct-li-div">
            <label
              class="classification-tests__form__list__item__label"
              for="classification-tests-common-test4-input"
            >
              <span class="ct-bold-text">Present Value:</span>
              PV of lease payments & present value of amount not reflected in
              payments ≥ 90% of assets fair value?<br />
              <span class="ct-sub-text"
                >{{
                  this.test4 !== null
                    ? formatService.localFormat(this.test4, 2)
                    : '0.00'
                }}% [({{
                  formatService.localFormat(
                    this.presentValue,
                    localCurrencyDecimalPrecision
                  )
                }}
                lease payments +
                {{
                  formatService.localFormat(
                    this.pVofAmtNotReflectedInPayments,
                    localCurrencyDecimalPrecision
                  )
                }}
                present value of amount not reflected in payments) /
                {{ this.fairMarketValueString }} fair market value]</span
              >
            </label>
            <div>
              <crem-input
                [id]="
                  accountingSummaryService.getId(
                    componentName,
                    'common-test4',
                    'input'
                  )
                "
                [inputType]="'text'"
                [placeholder]="''"
                [required]="false"
                formControlName="classificationTest4"
                [value]="classificationTest4"
              >
              </crem-input>
            </div>
          </div>
        </li>
      </ng-template>

      <ng-template #testResults>
        <li>
          <div class="ct-testResults-horizontal-line"></div>
          <div class="ct-testResults-div">
            <div class="results-text-div">Test Result</div>
            <div
              class="result-match-div"
              [ngClass]="{
                'match-incomplete': isResultsIncomplete,
                'match-success': isClassificationMatched,
                'match-fail': !isResultsIncomplete && !isClassificationMatched
              }"
            >
              <crem-icon
                class="result-match-success-icon"
                *ngIf="isClassificationMatched"
                [id]="
                  accountingSummaryService.getId(
                    componentName,
                    'match-success',
                    'icon'
                  )
                "
                pack="solid"
                size="lg"
                icon="faCircleCheck"
              >
              </crem-icon>
              <crem-icon
                class="result-match-fail-icon"
                *ngIf="!isResultsIncomplete && !isClassificationMatched"
                [id]="
                  accountingSummaryService.getId(
                    componentName,
                    'match-fail',
                    'icon'
                  )
                "
                pack="solid"
                size="lg"
                icon="faCircleExclamation"
              >
              </crem-icon>
              <span class="ct-bold-text">{{ classificationResult }}</span>
            </div>
          </div>
          <div class="results-reason-text-div">
            <span class="ct-sub-text"
              >Test Result Reason: {{ classificationResultReason }}</span
            >
          </div>
        </li>
      </ng-template>
    </div>

    <div class="classification-tests__form__controls">
      <ul class="classification-tests__form__list--unordered">
        <li class="classification-tests__form__list__item side">
          <crem-input-label
            [id]="
              accountingSummaryService.getId(
                componentName,
                'remaining-economic-life',
                'label'
              )
            "
            class="classification-tests__form__list__item__label"
            label="Remaining Economic Life"
            [showInfo]="false"
            name="classification-tests-Remaining-Economic-Life-Input"
          >
          </crem-input-label>
          <crem-input
            [id]="
              accountingSummaryService.getId(
                componentName,
                'Remaining-Economic-Life',
                'Input'
              )
            "
            class="classification-tests__form__list__item__label"
            [inputType]="'number'"
            [value]="economicLifeYears"
            [placeholder]="'In Years'"
            [required]="false"
            [rows]="4"
            [cols]="30"
            [disallowNegative]="true"
            [showHint]="false"
            [showInfo]="false"
            (onBlurChange)="economicLifeChange()"
            formControlName="remainingEconomicLife"
          >
          </crem-input>
        </li>

        <li class="classification-tests__form__list__item side">
          <crem-input-label
            [id]="
              accountingSummaryService.getId(
                componentName,
                'fair-market-value',
                'label'
              )
            "
            class="classification-tests__form__list__item__label"
            label="Fair Market Value"
            [showInfo]="false"
          >
          </crem-input-label>
          <dx-number-box
            [id]="
              accountingSummaryService.getId(
                componentName,
                'Fair-Market-Value',
                'Input'
              )
            "
            class="fair_market-value"
            [value]=""
            formControlName="fairMarketValue"
            [format]="formatCurrencyInput()"
            (onValueChanged)="fairMarketChange()"
            (onFocusOut)="fairMarketChange()"
            [inputAttr]="{ 'aria-label': 'Fair Market Value' }"
          >
          </dx-number-box>
        </li>

        <li
          class="classification-tests__form__list__item side"
          *ngIf="isfairMarketHasValue"
        >
          <crem-input-label
            [id]="
              accountingSummaryService.getId(
                componentName,
                'Implicit-Interest-Rate',
                'label'
              )
            "
            label="Implicit Interest Rate"
            [showInfo]="false"
          >
          </crem-input-label>
          <div
            class="implicit-rate"
            *ngIf="
              implicitInterestRate !== null &&
              implicitInterestRate !== undefined &&
              !implicitRateWarningMessage
            "
            [id]="
              accountingSummaryService.getId(
                componentName,
                'Implicit-Interest-Rate',
                'Input'
              )
            "
          >
            {{ implicitInterestRate }}%
          </div>

          <div
            *ngIf="
              implicitRateWarningMessage &&
              implicitInterestRate !== null &&
              implicitInterestRate !== undefined
            "
            class="implicit-rate-warning-message"
          >
            <crem-icon
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'implicit-rate-warning-message',
                  'icon'
                )
              "
              pack="solid"
              size="sm"
              icon="faTriangleExclamation"
            >
            </crem-icon>
            {{ implicitRateWarningMessage }}
          </div>
        </li>
      </ul>
    </div>
  </form>
</crem-accordion>
