@use 'styles' as *;

.classification-tests__form {
  @include costar(padding-top, 4);
  display: flex;
  flex-direction: column;

  &__controls {
    flex: 1;
  }

  &__legend {
    @include costar(font-size, normal);
  }

  &__list {
    &--unordered {
      list-style: none;
    }

    &--ordered {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 40px;
      row-gap: 10px;
      align-items: start;

      > li {
        padding-top: 0;
        align-self: start;
      }

      > li:not(.ct-side-li):not(.ct-testResults-li) {
        grid-column: 1;
      }

      > li:nth-child(1) {
        grid-row: 1;
      }

      > li:nth-child(2) {
        grid-row: 2;
      }

      > li:nth-child(3) {
        grid-row: 3;
      }

      > li.ct-side-li--rel {
        grid-column: 2;
        grid-row: 1 / 3;
        padding-bottom: 0;
        padding-right: 20px;
      }

      > li.ct-side-li--fmv {
        grid-column: 2;
        grid-row: 3 / 5;
        padding-bottom: 0;
      }

      > li.ct-side-li--implicit {
        grid-column: 2;
        grid-row: 4 / 5;
        padding-top: 20px;
      }

      > li.ct-testResults-li {
        grid-column: 1;
      }
    }
  }

  &__list__item__label {
    display: flow;
    padding-right: 20px;
    width: 100%;
  }

  &__list__item {
    padding-top: 10px;

    &.side {
      padding-bottom: 20px;
    }

    .ct-li-div {
      display: flex;
      justify-content: space-between;

      div {
        width: 80px;
      }
    }
  }

  .ct-bold-text {
    font-weight: bold;
  }

  .ct-sub-text {
    color: #757575;
    font-size: 13px;
  }

  .ct-testResults-li {
    list-style: none;
    counter-increment: none;
  }

  .ct-side-li {
    list-style: none;
    counter-increment: none;
  }

  .ct-testResults-horizontal-line {
    border-bottom: 2px solid #dcdcdc;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .ct-testResults-div {
    display: flex;
    justify-content: flex-end;
  }

  .results-text-div {
    padding-top: 8px;
    margin-right: 10px;
  }

  .result-match-div {
    width: fit-content;
    height: 38px;
    padding: 6px 8px 0px 8px;
    border-radius: 3px;

    &.match-incomplete {
      border: 2px solid $gray04;
      background-color: #ededed;
    }

    &.match-success {
      border: 2px solid $success;
      background-color: #ebfae2;
    }

    &.match-fail {
      border: 2px solid $warning;
      background-color: #ffda80;
    }

    .result-match-success-icon {
      color: $success;
      margin-right: 6px;
    }

    .result-match-fail-icon {
      color: $warning;
      margin-right: 6px;
    }
  }

  .results-reason-text-div {
    @include costar(padding-bottom, 4);
    float: right;
  }

  .implicit-rate {
    @include costar(font-size, body);
    @include costar(color, dark);
    border: 1px solid #dcdcdc;
    transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
    border-radius: 0.25rem;
    width: 98%;
    @include costar(background-color, gray07);
    height: 33px;
    padding: 0.175rem 0.75rem;
    cursor: default;
  }

  .dx-texteditor.dx-editor-outlined ::ng-deep {
    margin-right: 20px;
  }

  .fair_market-value {
    @include costar(color, dark);
    @include costar(font-size, body);
    height: 36px !important;
  }

  .implicit-rate-warning-message {
    display: flex;
    flex-direction: row;
    @include costar(color, secondary-dark);

    crem-icon {
      @include costar(padding-right, 2);
    }
  }
}
