<crem-card
  [id]="accountingSummaryService.getId(componentName, 'section', 'card')"
  [title]="title"
>
  <form [formGroup]="financialForm" class="financial-card-container">
    <div class="composite-dropdowns-container amortization">
      <div
        class="manual-entry__profileName"
        *ngIf="this.manualEntryVisible"
        [id]="
          accountingSummaryService.getId(componentName, 'manual-entry', 'popup')
        "
      >
        <crem-input
          [id]="
            accountingSummaryService.getId(
              componentName,
              'manual-entry',
              'text'
            )
          "
          [inputType]="'text'"
          [showLabel]="true"
          [label]="'Profile Name: '"
          [labelPosition]="'top'"
          class="manual-entry__profileNameText"
          [required]="true"
          formControlName="manualAmortizationProfileName"
          placeholder="Enter a name please . . ."
          (keydown.enter)="saveAmortizationProfileName()"
        ></crem-input>

        <div class="manual-entry__btn-container">
          <crem-button
            [id]="
              accountingSummaryService.getId(
                componentName,
                'manual-entry-cancel',
                'button'
              )
            "
            type="secondary"
            (click)="cancelChanges()"
          >
            Cancel
          </crem-button>

          <crem-button
            [id]="
              accountingSummaryService.getId(
                componentName,
                'manual-entry-save',
                'button'
              )
            "
            type="primary"
            class="manual-entry__btn--primary"
            (click)="saveAmortizationProfileName()"
          >
            Save
          </crem-button>
        </div>
      </div>

      <!-- Amortization Composite Dropdown -->
      <crem-composite-dropdown
        [id]="
          accountingSummaryService.getId(
            componentName,
            'amortization-composite',
            'dropdown'
          )
        "
        [isOpen]="false"
        [showSubtitle]="true"
        [isFormValid]="true"
        [closeOnOutsideClick]="true"
        [Title]="'Amortization Profile'"
        [SubTitle]="amortizationSubTitle"
        [status]="amortizationCompositeDropdownValidation"
        (click)="setTouch('amortization')"
      >
        <div class="form-items">
          <div class="labels">
            <crem-input-label
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'amortization-profile',
                  'label'
                )
              "
              [label]="'Amortization Profile'"
              [showInfo]="false"
              [required]="true"
            >
            </crem-input-label>
          </div>
          <div class="controls-container">
            <dx-select-box
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'amortization-profile',
                  'dropdown'
                )
              "
              [value]="amortizationInitialSelected"
              [dataSource]="amortizationProfileList"
              displayExpr="profileName"
              valueExpr="profileID"
              placeholder="Select Amortization Profile"
              [showClearButton]="false"
              class="amortization-profile"
              (onValueChanged)="onAmortizationValueChanged($event)"
              formControlName="amortizationProfile"
              [validationStatus]="amortizationProfileStatus"
              (onFocusOut)="setTouch('amortizationProfile')"
            >
              <dxo-drop-down-options
                container="#financials-amortization-profile-dropdown"
                [hideOnParentScroll]="false"
              >
              </dxo-drop-down-options>
            </dx-select-box>
          </div>
          <div class="labels">
            <crem-input-label
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'amortization-charge',
                  'label'
                )
              "
              label="Charge Type"
              [showInfo]="false"
            >
            </crem-input-label>
          </div>
          <div class="controls-container">
            <crem-radio-group
              class="radio-group"
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'amortization-charge',
                  'radio-group'
                )
              "
              [name]="'chargeType'"
              formControlName="chargeType"
            >
              <crem-radio-field
                [id]="
                  accountingSummaryService.getId(
                    componentName,
                    'amortization-charge',
                    'expense-radio'
                  )
                "
                class="financials-form__controls__radio-button"
                value="Expense"
              >
                Expense
              </crem-radio-field>
              <crem-radio-field
                [id]="
                  accountingSummaryService.getId(
                    componentName,
                    'amortization-charge',
                    'income-radio'
                  )
                "
                class="financials-form__controls__radio-button"
                value="Income"
              >
                Income
              </crem-radio-field>
            </crem-radio-group>
          </div>

          <div class="check-box__group">
            <crem-check-box
              class="financials-form__check-box"
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'amortization-override',
                  'check-box'
                )
              "
              [value]="false"
              [elementAttr]="{
                'aria-label':
                  'Check box to override the accounts assigned to the amortization profile in the grid below.'
              }"
              formControlName="overrideAmortizationProfile"
            >
            </crem-check-box>
            <crem-input-label
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'amortization-charge',
                  'label'
                )
              "
              label="Check box to override the accounts assigned to the amortization profile in the grid below."
              [showInfo]="false"
            >
            </crem-input-label>
          </div>
        </div>
      </crem-composite-dropdown>

      <!-- Currency Composite Dropdown -->
      <crem-composite-dropdown
        [id]="
          accountingSummaryService.getId(
            componentName,
            'currency',
            'composite-dropdown'
          )
        "
        isOpen="false"
        showSubtitle="true"
        [showFooter]="false"
        isFormValid="true"
        [closeOnOutsideClick]="true"
        [Title]="'Currency'"
        [SubTitle]="currencySubTitle"
        FooterContent=""
        [status]="currencyCompositeDropdownValidation"
        (click)="setTouch('currency')"
      >
        <div class="form-items">
          <div class="labels">
            <crem-input-label
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'currency',
                  'label'
                )
              "
              [label]="'Local Currency'"
              [showInfo]="false"
              [required]="true"
            >
            </crem-input-label>
          </div>
          <div class="controls-container">
            <crem-dropdown
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'local-currency',
                  'dropdown'
                )
              "
              [placeholder]="'Select Local Currency'"
              displayExpr="name"
              [dataSource]="currencyList"
              valueExpr="id"
              [required]="true"
              [showClearButton]="false"
              [initialSelectedValue]="selectedLocalCurrency"
              (selectedItems)="onLocalCurrencySelection($event)"
              formControlName="localCurrency"
              [containerized]="true"
              [allowSearch]="true"
              searchMode="contains"
              searchExpr="name"
              fieldTemplate="withLabel"
            ></crem-dropdown>
          </div>

          <div
            class="functional-currency"
            *ngIf="
              showFunctionalCurrency &&
              (classificationId === 4 ||
                classificationId === 3 ||
                classificationId === 2)
            "
          >
            <div class="labels">
              <crem-input-label
                [id]="
                  accountingSummaryService.getId(
                    componentName,
                    'functional-currency',
                    'label'
                  )
                "
                [label]="'Functional Currency'"
                [showInfo]="false"
                [required]="true"
              >
              </crem-input-label>
            </div>
            <div class="controls-container">
              <crem-dropdown
                [id]="
                  accountingSummaryService.getId(
                    componentName,
                    'functional-currency',
                    'dropdown'
                  )
                "
                [placeholder]="'Select Functional Currency'"
                displayExpr="name"
                [dataSource]="currencyList"
                value="id"
                valueExpr="id"
                [required]="true"
                [showClearButton]="false"
                [initialSelectedValue]="selectedFunctionalCurrency"
                (selectedItems)="onFunctionalCurrencySelection($event)"
                formControlName="functionalCurrency"
                [containerized]="true"
                [allowSearch]="true"
                searchMode="contains"
                searchExpr="name"
                fieldTemplate="withLabel"
              ></crem-dropdown>
            </div>

            <div class="labels">
              <crem-check-box
                [id]="
                  accountingSummaryService.getId(
                    componentName,
                    'direct-entry',
                    'checkbox'
                  )
                "
                (changeEvent)="onCurrencyDirectEntryChange($event)"
                [elementAttr]="{
                  'aria-label': 'Direct Entry'
                }"
                formControlName="financialCurrencyDirectEntry"
              >
              </crem-check-box>
              <crem-input-label
                [id]="
                  accountingSummaryService.getId(
                    componentName,
                    'direct-entry',
                    'label'
                  )
                "
                [label]="'Direct Entry'"
                [showInfo]="false"
              >
              </crem-input-label>
            </div>

            <div class="labels">
              <crem-input-label
                [id]="
                  accountingSummaryService.getId(componentName, 'rate', 'label')
                "
                [label]="'Rate'"
                [showInfo]="false"
                [required]="true"
                [name]="'financials-rate-Input'"
              >
              </crem-input-label>
            </div>
            <div class="controls-container">
              <crem-input
                [id]="
                  accountingSummaryService.getId(componentName, 'rate', 'Input')
                "
                [showLabel]="false"
                [labelPosition]="'top'"
                [label]="''"
                [inputType]="'number'"
                [value]="''"
                [placeholder]="''"
                [disallowNegative]="false"
                [required]="false"
                formControlName="currencyRate"
                [status]="currencyRateStatus"
                [statusMessage]="currencyRateValidationMessage"
                (onBlurChange)="setTouch('currencyRate')"
              >
              </crem-input>
            </div>
            <span
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'rate',
                  'hint-text'
                )
              "
              class="hint-text"
              >{{ functionalCurrencyRateLookupResultMessage }}</span
            >
          </div>
        </div>
      </crem-composite-dropdown>

      <!-- Discount Rate Composite Dropdown -->
      <crem-composite-dropdown
        [id]="
          accountingSummaryService.getId(
            componentName,
            'discount-rate',
            'composite-dropdown'
          )
        "
        isOpen="false"
        showSubtitle="showSubtitle"
        [showFooter]="false"
        isFormValid="true"
        [closeOnOutsideClick]="true"
        [Title]="'Discount Rate'"
        [SubTitle]="discountRateSubTitle"
        FooterContent=""
        [status]="discountRateCompositeDropdownValidation"
        (click)="setTouch('discount')"
      >
        <div class="form-items">
          <div class="labels">
            <crem-input-label
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'discount-rate-profile',
                  'label'
                )
              "
              [label]="'Discount Rate Profile'"
              [showInfo]="false"
              [required]="true"
            >
            </crem-input-label>
          </div>
          <div class="controls-container">
            <crem-dropdown
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'discount-rate-profile',
                  'dropdown'
                )
              "
              [placeholder]="discountRateProfilePlaceHolder"
              displayExpr="profileName"
              [dataSource]="discountRateOptions"
              value="profileID"
              [status]="discountRateProfileStatus"
              valueExpr="profileID"
              [showClearButton]="false"
              [initialSelectedValue]="selectedDiscountRateProfile"
              (selectedItems)="onDiscountRateChange($event)"
              formControlName="discountRateProfile"
              [containerized]="true"
              (blur)="setTouch('discountProfile')"
            ></crem-dropdown>
          </div>

          <div class="labels">
            <crem-input-label
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'annual-rate',
                  'label'
                )
              "
              [label]="'Annual Rate'"
              [showInfo]="false"
              [required]="true"
              [name]="'financials-annual-rate-Input'"
            >
            </crem-input-label>
          </div>
          <div class="controls-multi-column">
            <crem-input
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'annual-rate',
                  'Input'
                )
              "
              [showLabel]="false"
              [labelPosition]="'top'"
              [label]="''"
              [inputType]="'number'"
              [value]="''"
              [placeholder]="''"
              [disallowNegative]="false"
              [required]="annualRateTouched"
              formControlName="discountRate"
              class="annual-rate-input"
              [status]="annualRateValidation"
              statusMessage="Required"
              (onBlurChange)="setTouch('annualRate')"
            >
            </crem-input>
            <crem-dropdown
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'annual-rate',
                  'dropdown'
                )
              "
              [placeholder]="'Annual Rate Type'"
              [dataSource]="[
                { displayKey: 'APR', valueKey: 1 },
                { displayKey: 'APY', valueKey: 2 }
              ]"
              [required]="true"
              [showClearButton]="false"
              [initialSelectedValue]="selectedAnnualRateType"
              formControlName="annualRateDropdown"
              [containerized]="true"
            ></crem-dropdown>
            <span
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'effective-rate',
                  'hint-text'
                )
              "
              >Effective Rate: {{ formatEffectiveRate() }}</span
            >
          </div>
          <div
            *ngIf="
              classificationId === 2 ||
              classificationId === 3 ||
              classificationId === 4
            "
          >
            <div class="labels">
              <crem-input-label
                [id]="
                  accountingSummaryService.getId(
                    componentName,
                    'modification-impact-scope',
                    'label'
                  )
                "
                [label]="'Modification Impacts Scope'"
                [showInfo]="false"
                [name]="'financials-modification-impact-scope-toggle'"
              >
              </crem-input-label>
            </div>
            <div class="controls-container">
              <crem-toggle-slider
                [id]="
                  accountingSummaryService.getId(
                    componentName,
                    'modification-impact-scope',
                    'toggle'
                  )
                "
                size="wide"
                checkedLabel="YES"
                uncheckedLabel="NO"
                [value]="modificationImpactScopeValue"
                formControlName="modificationImpactScope"
              >
              </crem-toggle-slider>
            </div>
          </div>
        </div>
      </crem-composite-dropdown>

      <!-- ROU Asset Obtained Composite Dropdown -->
      <crem-composite-dropdown
        *ngIf="
          classificationId === 2 ||
          classificationId === 3 ||
          classificationId === 4
        "
        [id]="
          accountingSummaryService.getId(
            componentName,
            'ROU-assets-obtained',
            'composite-dropdown'
          )
        "
        isOpen="false"
        showSubtitle="showSubtitle"
        [showFooter]="false"
        isFormValid="true"
        [closeOnOutsideClick]="true"
        [Title]="'ROU Assets Obtained'"
        [SubTitle]="ROUAssetsObtainedSubTitle"
        FooterContent=""
        [status]="ROUCompositeDropdownValidation"
        (click)="setTouch('rouAssets')"
      >
        <div class="form-items">
          <div class="labels">
            <crem-input-label
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'rouMethod',
                  'label'
                )
              "
              [label]="'Method'"
              [showInfo]="false"
              [required]="true"
            >
            </crem-input-label>
          </div>
          <div class="controls-container">
            <dx-select-box
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'rouMethod',
                  'dropdown'
                )
              "
              [(value)]="rouMethodIDSelected"
              [dataSource]="rouAssetMethodsList"
              displayExpr="name"
              valueExpr="id"
              [placeholder]="'Select Method'"
              [showClearButton]="false"
              (onValueChanged)="onROUMethodValueChanged($event)"
              formControlName="ROUMethod"
              [validationStatus]="rouMethodStatus"
              (onFocusOut)="setTouch('rouMethod')"
            >
            </dx-select-box>
          </div>
          <div class="labels">
            <crem-input-label
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'rouAmount',
                  'label'
                )
              "
              [label]="'Amount'"
              [showInfo]="false"
              [required]="true"
            >
            </crem-input-label>
          </div>
          <div class="controls-container">
            <dx-number-box
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'rouAmount',
                  'Input'
                )
              "
              [format]="formatCurrencyInput()"
              [inputAttr]="{ 'aria-label': 'ROU Amount' }"
              formControlName="ROUAmount"
              [validationStatus]="rouAmountStatus"
              [invalidValueMessage]="'Required'"
              (onFocusOut)="setTouch('rouAmount')"
            >
            </dx-number-box>
          </div>
          <div class="labels">
            <crem-input-label
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'rouActionDate',
                  'label'
                )
              "
              [label]="'Action Date'"
              [showInfo]="false"
              [required]="true"
            >
            </crem-input-label>
          </div>
          <div class="controls-container">
            <crem-date-picker
              #rouActionDatePicker
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'rouActionDate',
                  'date-picker'
                )
              "
              [useMaskBehavior]="false"
              [dateFormat]="dateFormat"
              [invalidDateMessage]="'Invalid date'"
              [showClearButton]="false"
              (changeEvent)="onROUActionDateChange($event)"
              formControlName="ROUActionDate"
              [status]="rouDateTouched ? rouDateStatus : 'default'"
              [statusMessage]="rouDateStatusMessage"
              [valueChangeEvent]="'change, input, blur, focusout'"
              (blur)="setTouch('rouDate')"
            >
            </crem-date-picker>
          </div>
        </div>
      </crem-composite-dropdown>
    </div>
  </form>

  <div class="financial-balance-cards">
    <mango-balance-cards-container></mango-balance-cards-container>
  </div>
</crem-card>
