@use 'src/assets/styles/colors';

::ng-deep .dx-datagrid-column-chooser {
  &.dx-overlay-wrapper {
    .dx-treeview-expander-icon-stub {
      display: none;
    }
  }
}

:host ::ng-deep {
  /*
   * Actions Container
   */
  .actions-container {
    background-color: colors.$bodyBackgroundGray;
    border-bottom: 1px solid colors.$gray;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    line-height: 1;

    .menu-section {
      display: flex;
      height: 32px;
      margin: 0;
      gap: 8px;

      crem-button.add-button--new {
        fa-icon {
          margin-right: 2px;
        }
      }

      app-list-view-menu {
        .svg-inline--fa.fa-caret-down {
          height: 1rem;
          transform: translateY(-3px);
        }
      }
      .crem-dropdown-list-pages {
        .dx-fieldset {
          margin: 0 !important;
        }

        .dx-field-value {
          width: 100% !important;
        }

        .dx-dropdowneditor-input-wrapper {
          height: 32px !important;
          box-shadow: unset !important;
        }

        .dx-texteditor.dx-editor-outlined {
          border-radius: 0 !important;
          margin-right: 8px !important;
          &:focus {
            border: 1px solid colors.$costarBlue;
          }
        }

        .dx-icon:before {
          content: '';
        }

        .dx-placeholder {
          color: grey !important;
          font-family: Helvetica, system-ui, sans-serif !important;
          font-size: 16px !important;
          font-weight: 400 !important;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
        }
      }

      .disabledToolButton {
        fa-icon {
          color: rgba(0, 0, 0, 0.26);
        }
      }

      mat-form-field {
        background-color: colors.$white !important;
        .mat-stroked-button {
          background-color: colors.$white !important;
          margin-right: 8px;
        }
      }

      .toggle-wrapper {
        display: inline-block;
        position: relative;

        mat-button-toggle-group {
          mat-button-toggle {
            background-color: colors.$bodyBackgroundGray;
            button {
              background-color: colors.$bodyBackgroundGray;
              &:focus {
                border: 1px solid colors.$color-brand-primary !important;
                outline: 0;
              }
            }
          }
        }
      }

      .filters {
        .mat-stroked-button:not([disabled]) {
          border-color: colors.$costarBlue;
        }

        &[disabled] {
          .badge {
            background-color: rgba(0, 0, 0, 0.26) !important;
          }
        }

        .badge {
          margin-left: 4px;
          background-color: colors.$costarBlue !important;
          border-radius: 50%;
          color: colors.$white !important;

          &.hovered {
            border-radius: 2px;
            text-decoration: underline;
          }
        }
      }

      .add-button {
        .svg-inline--fa.fa-plus {
          width: 0.75em !important;
          margin-right: 2px;
        }
      }

      .action-menu,
      add-button {
        margin-right: 8px;
      }

      .dialogCancelButton {
        .mat-stroked-button:not([disabled]) {
          border-color: colors.$costarBlue;
        }
      }

      .dialogActionButton {
        .mat-stroked-button:not([disabled]) {
          border-color: colors.$costarBlue;
        }
      }

      .more-menu {
        .mat-stroked-button:not([disabled]) {
          border-color: colors.$costarBlue;

          &:hover {
            fa-icon {
              color: colors.$white;
            }
          }
        }
      }

      &:not(.btns-right) {
        .mat-button-wrapper {
          font-weight: normal;

          fa-icon {
            border-radius: 2px;
            color: colors.$costarBlue;
            height: 28px;
            margin: 1px -14px 0 0;
            width: 32px;
          }

          &:hover {
            fa-icon {
              background-color: colors.$navGray;
            }
          }
        }
      }
    }

    .mat-form-field-wrapper {
      display: flex;
      height: 100%;
      border: 0;
      margin: 0 !important;
      padding: 0;
    }

    .mat-ripple,
    .mat-button-focus-overlay {
      display: none;
    }

    app-add-new-menu {
      .mat-stroked-button.mat-primary {
        color: colors.$white !important;
        background-color: colors.$costarBlue !important;
        border-radius: 2px;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        fa-icon {
          color: colors.$white;
        }

        &:hover {
          background-color: darken(colors.$costarBlue, 5%) !important;
        }
      }
    }

    .mat-button.mat-primary,
    .mat-icon-button.mat-primary,
    .mat-stroked-button.mat-primary {
      border-color: colors.$costarBlue !important;
      border-radius: 2px;
      color: colors.$costarBlue !important;
      height: 32px;
      padding: 0 8px;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &[disabled] {
        border-color: rgba(0, 0, 0, 0.26) !important;
        color: rgba(0, 0, 0, 0.26) !important;
      }

      &:hover:not([disabled]) {
        color: colors.$white !important;
        background-color: colors.$costarBlue !important;
      }
    }

    .mat-form-field-autofill-control,
    .mat-button,
    .mat-raised-button,
    .mat-icon-button,
    .mat-stroked-button,
    .mat-fab,
    .mat-mini-fab {
      font-size: 14px;
    }

    .mat-fab,
    .mat-mini-fab {
      height: 32px;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline-start,
    .mat-form-field-appearance-outline .mat-form-field-outline-end,
    .mat-form-field-outline-thick {
      border: none;
    }
    .mat-form-field-appearance-outline .mat-form-field-flex {
      margin-top: 0px !important;
    }

    .cdk-focused,
    .cdk-mouse-focused {
      border: 1px solid colors.$costarBlue;
      outline: none;
    }

    .mat-focus-indicator {
      background-color: colors.$white;

      &:hover {
        background-color: colors.$white;
        border-color: rgba(51, 122, 183, 0.4);
      }
    }

    .portfolio {
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 2px !important;
      height: 32px;

      &:hover {
        border-color: rgba(51, 122, 183, 0.4);
      }

      &.mat-stroked-button {
        width: 200px;

        &[aria-expanded='true'] {
          fa-icon {
            background-color: #b3b3b3;
          }
        }

        .mat-button-wrapper {
          display: flex;
          justify-content: space-between;

          span:first-of-type {
            max-width: calc(100% - 44px);
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .dx-icon-clear {
          right: 32px;
        }
      }

      &.placeholder {
        .mat-button-wrapper {
          color: #999;
        }
      }

      &.mat-mdc-form-field {
        .mat-form-field-wrapper {
          height: 100%;
          margin: 0;

          .mat-form-field-flex {
            height: 100%;
            margin: 0;
          }
        }
      }

      &.cdk-focused,
      &.cdk-mouse-focused {
        border: 1px solid colors.$costarBlue;
        outline: none;
      }

      .dx-icon-clear {
        color: #999;
        cursor: pointer;
        font-size: 18px;
        height: 32px;
        padding: 8px;
        position: absolute;
        top: -2px;
        right: -13px;
        width: 32px;
      }

      .mat-form-field-outline {
        background-color: colors.$white;
        border-color: rgba(0, 0, 0, 0.12);
      }

      .mat-mdc-form-field-infix {
        border: 0 !important;
        /* Site-wide changed. */
        // padding: 4px 0 0 !important;
        /* Site-wide changed. */

        .mat-form-field-label-wrapper {
          display: none;
        }

        input {
          border: none !important;
        }
      }
    }

    .archiveToggleHint {
      color: colors.$textGray;
      font-size: 14px;
      display: flex;
      align-content: center;
      flex-direction: column;
      justify-content: center;
      // font-family: "Helvetica Neue", "Segoe UI", Helvetica, Verdana, sans-serif;
    }

    .mat-button-toggle-group-appearance-standard
      .mat-button-toggle
      + .mat-button-toggle {
      border: 0;
    }

    .list-map-button-toggle {
      border-radius: 0;
      border: 0;
      font-size: 12px;
      line-height: 16px;

      .mat-button-toggle {
        &.active {
          button {
            color: colors.$costarBlue !important;
            font-weight: bold;
          }
        }
      }

      .cdk-mouse-focused,
      .mat-focus-indicator {
        border: 0;
        outline: 0;

        &:hover {
          background-color: colors.$lightGray !important;
          border-color: colors.$costarBlue !important;
        }
      }

      .mat-button-toggle-focus-overlay {
        background-color: #f3f3f3 !important;
      }

      // .mat-button-toggle-button {
      //   background-color: colors.$bodyBackgroundGray !important;
      // }

      .mat-button-toggle-label-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: inherit;
      }
    }
  }
  // END Actions Container

  /*
   * List Grid Wrapper
   */
  .list-page-data-grid-wrapper {
    height: calc(100% - 10px);

    ::ng-deep {
      .list-page-data-grid {
        .dx-header-row {
          background-color: colors.$lightGray;
          color: colors.$costarBlue;
          font-weight: bold !important;

          .dx-header-filter {
            &.dx-header-filter-empty {
              color: hsla(0, 0%, 58.4%, 0.5);
            }

            color: colors.$costarMediumBlue;
          }
        }

        .dx-datagrid {
          td {
            &:focus {
              border: 1px solid colors.$color-brand-primary !important;
              outline: 0;
            }
          }
          .dx-checkbox-icon {
            border: 1px solid colors.$darkGray;
          }
          .dx-header-row {
            td {
              text-align: left !important;

              .dx-datagrid-text-content {
                white-space: normal;
                text-align: left;
              }
            }
            td.dx-command-select,
            td.dx-command-edit {
              text-align: center !important;
            }
          }

          .dx-row > td {
            border-style: none !important;
            font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana,
              sans-serif;
            font-size: 14px;
            white-space: normal;
            width: auto !important;
          }
        }

        .dx-datagrid-search-text {
          color: colors.$black;
          background-color: #ffff37;
          vertical-align: baseline;
        }

        .dx-row.dx-data-row {
          &.dx-state-hover {
            background-color: colors.$color-brand-primary-light;
            cursor: pointer;
          }

          button {
            min-width: 0;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
              text-decoration: underline !important;
            }
          }

          div#buttonTemplate {
            display: flex;
            justify-content: center;
            span.separator {
              transform: translateY(11px);
            }

            button {
              background: transparent !important;
              color: #055094 !important;
              width: 100%; /* Fill the column */
            }
          }

          div.actionTemplate.dx-template-wrapper {
            text-align: center;
            display: flex;
            flex-direction: column;
          }

          button.actionTemplateButton {
            min-width: 100%;
            border: none;
            background-color: transparent;
            flex: 1;
            padding: 0;
          }
        }

        tr.dx-row.dx-group-row {
          td.dx-command-edit {
            display: none;
          }
        }

        .dx-group-row {
          .dx-template-wrapper {
            color: colors.$color-neutral-black;
          }
        }

        .dx-pager .dx-page-sizes .dx-selection,
        .dx-pager .dx-pages .dx-selection {
          background-color: colors.$costarBlue;
          color: colors.$white;
        }

        .dx-pages {
          .dx-info,
          .dx-page-indexes {
            display: inline-block !important;
          }
        }

        .dx-navigate-button {
          color: colors.$costarBlue;
        }
      }

      .grid-map-container {
        height: calc(100vh - 50px);
      }
    }

    .grid-link {
      background-color: transparent;
      color: colors.$costarBlue;
      cursor: pointer;
      font-weight: normal;
      line-height: inherit;
      margin: 0;
      padding: 0;
      white-space: normal;
      height: 100%;
      text-align: left;
      letter-spacing: normal;
      border: 0px;

      &:focus,
      &:active {
        outline: 0;
      }
    }

    .show-carriage-returns {
      white-space: pre-wrap;
      color: colors.$costarBlue;
    }
  }
  // END List Grid Wrapper

  div.dx-datagrid.dx-gridbase-container {
    div.dx-datagrid-pager.dx-state-focused {
      div.dx-button-disable.dx-navigate-button {
        &:focus {
          outline: none !important;
          outline-offset: none !important;
        }
      }
    }
  }

  .mat-typography {
    .dx-popup-wrapper {
      .dx-overlay-content {
        .dx-popup-content {
          h6 {
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }
  }

  .listPageGridPopupMessage {
    padding: 16px;
    text-align: center;
  }

  .disabledMenuButton {
    opacity: 0.5;
  }

  .dx-datagrid {
    .dx-datagrid-content-fixed .dx-datagrid-table .dx-col-fixed {
      background-color: inherit;
    }
    .dx-data-row:not(.dx-row-alt) > td {
      background-color: colors.$white;
    }
  }

  .dx-texteditor.dx-editor-outlined {
    border-radius: 4px !important;
  }

  .dx-datagrid-column-chooser {
    .dx-popup-normal.dx-popup-draggable {
      padding: 0 0px 16px 0px !important;
    }
    // Column chooser padding
    &.dx-datagrid-column-chooser-mode-drag .dx-popup-content {
      padding: 0 16px 16px !important;
    }
  }

  // crem dropdown menu
  .dx-dropdowneditor-overlay {
    .dx-row {
      font-size: 14px !important;
      font-family: Helvetica, sans-serif !important;
    }
  }

  // column chooser and portfolio dropdown - same classes used
  .dx-popup-wrapper dx-popup-normal {
    border-radius: 4px !important;

    .dx-treeview-search,
    .dx-column-chooser-item {
      margin-bottom: 8px !important;
    }
  }

  .mat-stroked-button {
    line-height: 30px !important;
  }

  .dx-list-search {
    margin-bottom: 0px !important;
  }

  .dx-texteditor-container {
    .dxtexteditor-input {
      padding: 0px 0px 0px 34px !important;
      border-radius: 4px;
    }
  }

  .mat-slide-toggle {
    &.mat-checked {
      .mat-slide-toggle-bar {
        background-color: rgba(5, 89, 179, 0.54) !important;
      }

      .mat-ripple-element,
      .mat-slide-toggle-thumb {
        background-color: colors.$costarBlue;
      }
    }
  }

  .query-list-item-flex {
    a {
      color: colors.$darkGray;
      display: inline-block;
      width: 100%;

      &:hover {
        text-decoration: none !important;
      }
    }
  }

  .dx-treeview-select-all-item {
    .dx-checkbox-text {
      padding-left: 31px !important;
    }
  }
}

::ng-deep {
  #df-leaseGLEventAlertsBtn #openLeaseAlertsPopupButton {
    height: 32px;
    &:focus {
      box-shadow: 0 0 0 0.3rem #c8c8c8;
      outline: -webkit-focus-ring-color auto 1px;
    }
  }
}
