@use 'styles' as *;

crem-icon {
  cursor: pointer;
}

.first-row-div {
  margin: 4px 5px 5px 0px;
}

.second-row-div,
.third-row-div {
  @include costar(margin-bottom, 4);
  @include costar(margin-left, 3);
  @include costar(padding-top, 1);
}

.second-row-div > dx-scroll-view,
.third-row-div > dx-scroll-view {
  @include costar(font-size, small);
  @include costar(padding, 2);
}

.status-pill {
  @include costar(background-color, primary-light);
  padding: 5px 12px 6px 12px;
  @include costar(font-weight, medium);
  @include costar(color, light);
}

.workflow-history-username {
  @include costar(font-weight, bold);
}

.no-data-div {
  height: 100%;
  width: 100%;

  & > p {
    @include costar(font-size, h2);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.popup-title-div {
  display: flex;
  height: 38px;

  .popup-title-text-div {
    flex: 1;
    @include costar(font-size, h2);
    padding: 6px 0px;
  }

  .popup-title-icon-div {
    flex: 2;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: flex-end;
  }

  .popup-title-icon-div > * {
    padding-right: 8px;
  }
}

.wfs-history-btn {
  padding-top: 6px;
}
.popup-body {
  @include costar(padding-top, 4);
}

.workflow-history-content {
  font-size: 14px;
  max-height: 85px;
  overflow: auto;
  padding: 8px;
  scrollbar-width: thin;
  text-wrap: auto;
}
