::ng-deep .modalContent {
  overflow-y: hidden !important;
}
:ng-deep .footerRightControls {
  display: flex;
  margin-left: auto;
  align-items: center;
  crem-button {
    padding: 6px 0px 6px 6px;
  }
}
