<div id="projectTasks-container">
  <div *ngIf="showQuickApprovalPopup">
    <crem-popup
      [id]="'quickApprovalPopupId'"
      [visible]="showQuickApprovalPopup"
      [title]="'Quick Approval'"
      [height]="'800px'"
      [width]="'90vw'"
      [draggable]="true"
      [resizable]="true"
      [showCloseButton]="true"
      [hideOnOutsideClick]="false"
      [customFooter]="true"
      (close)="onQuickApprovalClose()"
    >
      <div body>
        <crem-quick-approval
          #quickApprovalGrid
          [isNotesFieldRequired]="isNotesFieldRequired"
          [projectId]="projectId"
          [dateFormat]="dateFormat"
          (hasChanges)="handleQuickApprovalHasChanges($event)"
          (isProcessing)="isQuickApprovalProcessing$.next($event)"
          (refreshTasksGrid)="refreshTasksGrid()"
        ></crem-quick-approval>
      </div>
      <div footer class="quick-approval__custom-footer">
        <p
          class="quick-approval__custom-footer__footer-text"
          *ngIf="quickApprovalFooterText !== ''"
        >
          {{ quickApprovalFooterText }}
        </p>
        <crem-button
          class="footer__close-button"
          btnStyle="flat"
          color="secondary"
          [text]="'Cancel'"
          [disabled]="quickApprovalGrid.isProcessing | async"
          (buttonClick)="onQuickApprovalClose()"
          [id]="'close-button'"
        ></crem-button>
        <crem-button
          class="footer__save-button"
          [disabled]="quickApprovalGrid.isProcessing | async"
          (buttonClick)="onSaveTasksClick()"
          btnStyle="flat"
          color="secondary"
          [title]="quickApprovalApplyBtnTitle"
          [text]="saveButtonText"
          [hidden]="!saveButtonText"
          [id]="'save-button'"
        ></crem-button>
        <crem-button
          class="footer__approve-button"
          [disabled]="isApproveButtonDisabled$ | async"
          (buttonClick)="onApproveTasksClick()"
          btnStyle="flat"
          color="primary"
          [title]="
            (isApproveButtonDisabled$ | async)
              ? ''
              : quickApprovalApproveBtnTitle
          "
          [text]="approveButtonText"
          [id]="'approve-button'"
        ></crem-button>
      </div>
    </crem-popup>
  </div>

  <div *ngIf="showSaveTasksAsTemplatePopup">
    <crem-popup
      [id]="'saveTasksAsTemplatePopupId'"
      [visible]="showSaveTasksAsTemplatePopup"
      [title]="'Save Tasks as Template'"
      [height]="'205px'"
      [width]="'600px'"
      [draggable]="true"
      [resizable]="true"
      [showCloseButton]="true"
      [hideOnOutsideClick]="false"
      [saveButtonText]="'Save'"
      [closeButtonText]="'Cancel'"
      [disableSaveButton]="disableTasksTemplateSaveButton"
      (close)="closeTasksTemplatePopup()"
      (save)="saveTasksTemplatePopup()"
    >
      <div body>
        <crem-save-tasks-template
          [projectId]="projectId"
          (saveComplete)="tasksTemplateSaved($event)"
          (inputValueChange)="tasksTemplateInputChange($event)"
        ></crem-save-tasks-template>
      </div>
    </crem-popup>
  </div>

  <div class="tasks-toolBar-wrapper">
    <div class="controls-left">
      <h3 class="title">
        <crem-current-object-text
          [data$]="currentObject"
        ></crem-current-object-text>
      </h3>
      <div class="listViews">
        <crem-list-view-menu
          [currentListViewName]="currentListViewName"
          [showShare]="true"
          [listViews]="listViews"
          (setCurrentListView)="setCurrentListView($event)"
          (setDefaultListView)="setDefaultListView($event)"
          (clearDefault)="clearDefault($event)"
          (shareListView)="shareListView($event)"
          (hideListView)="hideListView($event, true)"
          (showListView)="hideListView($event, false)"
          (deleteListView)="deleteListView($event)"
        ></crem-list-view-menu>
      </div>
      <div class="searchProjectTasks">
        <cs-search
          #SearchBox
          [placeholder]="'Search...'"
          [value]="searchText"
          (changed)="searchDataGrid($event)"
          id="pt-searchInput"
          class="searchProjectTasks-input"
        ></cs-search>
      </div>
    </div>
    <div class="controls-right">
      <div class="clearFilters">
        <crem-button
          type="secondary"
          id="pt-clearFilterBtn"
          (click)="clearAllFilters(); $event.preventDefault()"
        >
          <div>Clear Filters</div>
          <div class="badge">{{ getFiltersCount() }}</div>
        </crem-button>
      </div>
      <div class="actions">
        <button
          type="button"
          class="btn btn-default actionsButton"
          id="pt-actionsBtn"
          [matMenuTriggerFor]="actionsMenu"
          (click)="$event.preventDefault()"
        >
          Actions
          <mat-icon aria-label="Project Team Actions">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #actionsMenu="matMenu" class="projectTasksActionsMenu">
          <button
            type="button"
            mat-menu-item
            class="actnBtn-copyTransaction"
            id="pt-copyTransaction"
            (click)="copyTransactionTemplate()"
            [disabled]="
              checkUserLevelRequirement(availableActions.COPY_TRANSACTION)
            "
          >
            <span>Copy Transaction</span>
          </button>
          <button
            type="button"
            mat-menu-item
            class="actnBtn-quickApproval"
            id="pt-quickApproval"
            (click)="openQuickApprovalPopup()"
            [disabled]="
              checkUserLevelRequirement(availableActions.QUICK_APPROVAL)
            "
          >
            <span>Quick Approval</span>
          </button>
          <button
            type="button"
            mat-menu-item
            class="actnBtn-taskDtlSettings"
            id="pt-taskDtlSettings"
            (click)="showTaskDetailSettings()"
            [disabled]="
              checkUserLevelRequirement(availableActions.TASK_DETAILS_SETTINGS)
            "
          >
            <span>Task Detail Settings</span>
          </button>
          <button
            type="button"
            mat-menu-item
            class="actnBtn-deleteTasks"
            id="pt-deleteTasks"
            [disabled]="!allSelectedRowKeys.length"
            [hidden]="userAccessLevel !== 1"
            (click)="deleteSelectedTasks()"
          >
            <span>Delete Selected Tasks</span>
          </button>
          <button
            type="button"
            mat-menu-item
            class="actnBtn-appendTemplate"
            id="pt-appendTemplate"
            (click)="showAppendTemplateDialog()"
            [disabled]="
              checkUserLevelRequirement(availableActions.APPEND_TEMPLATE)
            "
          >
            <span>Append Template to Transaction</span>
          </button>
          <button
            type="button"
            mat-menu-item
            id="pt-saveTasksAsTemplate"
            (click)="showSaveAsTasksTemplateDialog()"
            [disabled]="
              noDataText == 'No Data' ||
              checkUserLevelRequirement(availableActions.SAVE_TASKS_AS_TEMPLATE)
            "
          >
            <span>Save Tasks As Template</span>
          </button>
          <button
            mat-menu-item
            id="pt-reorderTasksBtn"
            [disabled]="
              checkUserLevelRequirement(availableActions.REORDER_TASKS)
            "
            (click)="openReorderTasks()"
          >
            <span>Reorder Tasks</span>
          </button>
        </mat-menu>
      </div>
      <div class="more">
        <button
          class="btn btn-default moreButton"
          id="pt-moreBtn"
          [matMenuTriggerFor]="moreMenu"
          (menuClosed)="moreMenuClosed()"
          (click)="$event.preventDefault()"
          #moreMenuTrigger="matMenuTrigger"
        >
          More <mat-icon aria-label="More Menu">arrow_drop_down</mat-icon>
        </button>
        <mat-menu
          #moreMenu="matMenu"
          class="projecTasksMoreMenu"
          id="pt-moreMenu"
        >
          <button
            mat-menu-item
            class="moreBtn-saveAsDfltBtn"
            id="pt-saveAsDfltBtn"
            (click)="updateListView()"
            *ngIf="isSuperUser"
          >
            <span>Save As Default</span>
          </button>

          <button
            mat-menu-item
            [matMenuTriggerFor]="saveAsMenu"
            (menuOpened)="focusSavedViewSubMenu()"
          >
            Save As...
          </button>
          <mat-menu
            aria-label="View Name"
            #saveAsMenu="matMenu"
            id="pt-saveUserView"
          >
            <crem-input
              #InputViewTextBox
              [ariaLabel]="'View Name'"
              [label]="'View Name'"
              [labelPosition]="'top'"
              [state]="'active'"
              id="pt-saveUserViewInput"
              [showHint]="false"
              [showLabel]="false"
              [showInfo]="false"
              [inputType]="'text'"
              [(value)]="inputViewName"
              [maxLengthField]="50"
              [required]="true"
              (click)="$event.stopPropagation()"
              (enterKeyEvent)="onEnterKeyHit($event, 'enter')"
            ></crem-input>
          </mat-menu>
          <button
            mat-menu-item
            class="moreBtn-saveBtn"
            id="pt-saveViewBtn"
            (click)="updateListView()"
            *ngIf="currentListView?.listViewType == userListViewType"
          >
            <span>Save</span>
          </button>
          <button
            mat-menu-item
            class="moreBtn-resetViewBtn"
            id="pt-resetViewBtn"
            (click)="resetListView()"
          >
            <span>Reset</span>
          </button>
          <button
            mat-menu-item
            class="moreBtn-expCollAllBtn"
            id="pt-expCollAllBtn"
            (click)="expandCollapseAll()"
          >
            <span>Expand/Collapse All</span>
          </button>
          <button
            mat-menu-item
            class="moreBtn-colChooserBtn"
            id="pt-colChooserBtn"
            (click)="showColumnChooser()"
          >
            <span>Column Chooser</span>
          </button>
          <button
            mat-menu-item
            class="moreBtn-exportBtn"
            id="pt-exportBtn"
            (click)="excelExportClick()"
          >
            <span>Export</span>
          </button>
        </mat-menu>
      </div>
      <div class="addTaskBtn" *ngIf="gridIsEmpty()">
        <crem-button
          btnStyle="flat"
          color="primary"
          text="Add"
          id="pt-addTaskBtn"
          [hidden]="checkUserLevelRequirement(availableActions.ADD_TASK)"
          (click)="addOrEditTask(0, false, 0, 0, 0)"
        ></crem-button>
      </div>
    </div>
  </div>

  <div class="projectTasks-dataGrid-wrapper">
    <crem-loader *ngIf="!dataRetrieved"></crem-loader>
    <dx-tree-list
      *ngIf="dataRetrieved"
      class="projectTasks-grid"
      #ProjectTasksGrid
      [showColumnLines]="false"
      [showRowLines]="false"
      [showBorders]="false"
      [rowAlternationEnabled]="true"
      [noDataText]="noDataText"
      [allowColumnResizing]="true"
      columnResizingMode="widget"
      [allowColumnReordering]="true"
      [columnAutoWidth]="false"
      [dataSource]="gridData"
      keyExpr="ProjectMilestoneID"
      parentIdExpr="DisplayParentID"
      [height]="'99%'"
      [hoverStateEnabled]="true"
      [filterSyncEnabled]="true"
      [wordWrapEnabled]="true"
      (onCellPrepared)="onCellPrepared($event)"
      (onCellClick)="onCellClick($event)"
      (onKeyDown)="onKeyDown($event)"
      [focusedRowEnabled]="true"
      [(selectedRowKeys)]="allSelectedRowKeys"
      (onSelectionChanged)="onTasksSelectionChanged($event)"
      (onContentReady)="
        tasksContentReady($event); adaAttr(); adaAttrTreeList($event)
      "
    >
      <dxo-header-filter
        [visible]="true"
        [allowSearch]="true"
      ></dxo-header-filter>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-column-chooser
        [enabled]="true"
        [allowSearch]="true"
        width="400"
        height="500"
      ></dxo-column-chooser>
      <dxo-paging [enabled]="false"></dxo-paging>
      <dxo-load-panel [enabled]="true"></dxo-load-panel>
      <dxo-state-storing
        [enabled]="true"
        type="custom"
        [storageKey]="projectTasksStateKey"
        [customSave]="saveState"
      >
      </dxo-state-storing>

      <dxo-selection
        selectAllMode="allPages"
        showCheckBoxesMode="always"
        mode="multiple"
      >
      </dxo-selection>

      <dxi-column
        type="selection"
        [fixed]="true"
        fixedPosition="left"
        [allowSorting]="false"
        [allowReordering]="false"
        [allowResizing]="false"
        [width]="'auto'"
        [minWidth]="110"
        cssClass="selectTask"
      >
      </dxi-column>
      <dxi-column
        dataField="IndexOrder"
        caption="Step #"
        alignment="right"
        [cellTemplate]="'fullStepTemplate'"
        [width]="80"
        [fixed]="true"
        [allowReordering]="false"
        [allowFiltering]="false"
        [allowHiding]="false"
        dataType="string"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="taskStatus"
        caption=""
        [width]="20"
        [cellTemplate]="'taskStatusTemplate'"
        alignment="center"
        [fixed]="true"
        [allowReordering]="false"
        [allowSorting]="false"
        [allowHiding]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="ProjectMilestoneName"
        caption="Task Name"
        [width]="175"
        [cellTemplate]="'taskNameTemplate'"
        [fixed]="true"
        [allowReordering]="false"
        [allowHiding]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="ProjectMilestoneStartDate"
        caption="Target Start"
        dataType="date"
        [format]="dateFormat"
        [width]="85"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="ProjectMilestoneEndDate"
        caption="Target Complete"
        dataType="date"
        [format]="dateFormat"
        [width]="85"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="ProjectMilestoneCompletedDate"
        caption="Actual Complete"
        dataType="date"
        [format]="dateFormat"
        alignment="center"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="ProjectMilestoneUserCompletedDate"
        caption="Modified Complete"
        [cellTemplate]="'modifyUserCompleteDateTemplate'"
        alignment="center"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="IsMileMark"
        caption="Milestone"
        alignment="center"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="ProjectMilestoneRequired"
        caption="Required"
        alignment="center"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="Predecessors"
        caption="Predecessors"
        datatype="string"
        [calculateCellValue]="calcPredecessorsCellValue"
        [calculateFilterExpression]="calcFilterExpression"
        [minWidth]="50"
      >
        <dxo-header-filter
          [dataSource]="availablePredecessors"
        ></dxo-header-filter>
      </dxi-column>
      <dxi-column
        dataField="Roles"
        caption="Roles"
        cssClass="wrapOption-column roleHeaderFilterOption"
        [visible]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="Approvers"
        caption="Assignees"
        [cellTemplate]="'assigneesTemplate'"
        [width]="120"
        cssClass="pt-taskColumnLink"
        [calculateCellValue]="calcApproversCellValue"
        [calculateFilterExpression]="calcFilterExpression"
        [minWidth]="50"
      >
        <dxo-header-filter
          [dataSource]="availableApprovers"
        ></dxo-header-filter>
      </dxi-column>
      <dxi-column
        dataField="NotesCount"
        caption="Note Count"
        alignment="center"
        cssClass="pt-taskColumnLink"
        [allowFiltering]="true"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="FilesCount"
        caption="File Count"
        alignment="center"
        cssClass="pt-taskColumnLink"
        [allowFiltering]="true"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="ApprovalStatus"
        caption="Approval"
        [cellTemplate]="'approvalTemplate'"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="RequiredApprovers"
        caption="# of Required Approvers"
        alignment="center"
        [visible]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="ApprovalExempt"
        caption="Approval Exemption"
        alignment="center"
        [visible]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="UserApprovalStatus"
        [cellTemplate]="'userApprovalStatusTemplate'"
        [allowFiltering]="false"
        [allowSorting]="false"
        [width]="122"
        [visible]="false"
        cssClass="pt-userApprovalStatus"
        alignment="center"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="ProjectMilestoneDaysToComplete"
        caption="Duration"
        alignment="center"
        [visible]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="ProjectMilestoneDescription"
        cssClass="wrapOption-column"
        caption="Description"
        alignment="center"
        [visible]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="ProjectMilestoneDaysToStart"
        caption="Days to Start"
        alignment="center"
        [visible]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="CreatedDate"
        dataType="date"
        [format]="dateFormat"
        [visible]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="IsConcurrent"
        [visible]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="IsShrinkable"
        [visible]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="LastModifiedBy"
        [visible]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="LastModifiedDate"
        dataType="date"
        [format]="dateFormat"
        [visible]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="PercentComplete"
        caption="Percentage Complete"
        alignment="center"
        [visible]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="ProjectMilestoneParentID"
        caption="Parent Task ID"
        alignment="center"
        [visible]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="ProjectMilestoneStep"
        caption="Step"
        alignment="center"
        [visible]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="TaskSubTasksCount"
        caption="Sub Tasks"
        alignment="center"
        [visible]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="ProjectMilestoneID"
        caption="Task ID"
        alignment="center"
        [visible]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="TotalApprovedCount"
        caption="Total Approved"
        alignment="center"
        [visible]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="TotalApproversCount"
        caption="Total Assignees"
        alignment="center"
        [visible]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="UseEmailApprovals"
        [allowFiltering]="false"
        alignment="center"
        [visible]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="WorkflowName"
        caption="Workflow Status"
        [allowFiltering]="false"
        [visible]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="ActualStartDate"
        caption="Actual Start Date"
        alignment="center"
        dataType="date"
        [format]="dateFormat"
        [visible]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="HoursToDate"
        alignment="center"
        [visible]="false"
        [showInColumnChooser]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        dataField="Rights"
        [visible]="false"
        [allowFiltering]="false"
        [allowSorting]="false"
        [showInColumnChooser]="false"
        [minWidth]="50"
      ></dxi-column>
      <dxi-column
        type="buttons"
        width="60"
        [fixed]="true"
        fixedPosition="right"
        [allowSorting]="false"
        [allowReordering]="false"
        [allowResizing]="false"
      >
        <dxi-button template="actionsMenuTemplate">
          <div
            *dxTemplate="let task of 'actionsMenuTemplate'"
            class="actionsMenuTemplate"
          >
            <button
              aria-label="actions menu"
              class="btn btn-link tasksActionsButton rowActionsButton"
              id="{{ 'tasksActionButton' + task.rowIndex }}"
              (click)="$event.preventDefault()"
              [matMenuTriggerFor]="tasksActionsMenu"
            >
              <mat-icon aria-label="Actions Menu">more_vert</mat-icon>
            </button>
            <mat-menu #tasksActionsMenu="matMenu" class="tasksActionsMenu">
              <ul>
                <li
                  mat-mdc-menu-item
                  id="{{ 'ptm-addTask' + task.rowIndex }}"
                  [ngClass]="{
                    disabledOption: checkUserLevelRequirement(
                      availableActions.ADD_TASK
                    )
                  }"
                  (click)="
                    !checkUserLevelRequirement(availableActions.ADD_TASK) &&
                      addOrEditTask(
                        task.data.IndexOrder,
                        false,
                        task.data.ProjectMilestoneID,
                        task.data.ProjectMilestoneParentID,
                        task.data.ProjectMilestoneStep
                      )
                  "
                >
                  Add Task
                </li>
                <li
                  mat-mdc-menu-item
                  id="{{ 'ptm-addSubTask' + task.rowIndex }}"
                  [ngClass]="{
                    disabledOption:
                      checkUserLevelRequirement(
                        availableActions.ADD_SUB_TASK
                      ) || task.data.SubTaskLimitReached
                  }"
                  [title]="
                    task.data.SubTaskLimitReached ? maxReachedSubTasksTitle : ''
                  "
                  (click)="
                    !checkUserLevelRequirement(availableActions.ADD_SUB_TASK) &&
                      !task.data.SubTaskLimitReached &&
                      addSubTask(
                        task.data.IndexOrder,
                        task.data.SubTaskLimitReached,
                        task.data.ProjectMilestoneID,
                        task.data.ProjectMilestoneParentID,
                        task.data.ProjectMilestoneStep,
                        task.data.TaskSubTasksCount
                      )
                  "
                >
                  Add Sub Task
                </li>
                <li
                  mat-mdc-menu-item
                  id="{{ 'ptm-editTask' + task.rowIndex }}"
                  [ngClass]="{
                    disabledOption: checkUserLevelRequirement(
                      availableActions.EDIT_TASK
                    )
                  }"
                  (click)="
                    !checkUserLevelRequirement(availableActions.EDIT_TASK) &&
                      addOrEditTask(
                        task.data.IndexOrder,
                        true,
                        task.data.ProjectMilestoneID,
                        task.data.ProjectMilestoneParentID,
                        task.data.ProjectMilestoneStep,
                        task.data.TaskSubTasksCount
                      )
                  "
                >
                  Edit Task
                </li>
                <li
                  mat-mdc-menu-item
                  id="{{ 'ptm-removeTask' + task.rowIndex }}"
                  *ngIf="userAccessLevel == 1"
                  [ngClass]="{
                    disabledOption: !isTaskDeletable(task.data)
                  }"
                  [title]="allSelectedRowKeys.length ? deleteBtnTitle : ''"
                  (click)="deleteSelectedTasks(task.data)"
                >
                  Delete Task
                </li>
                <li
                  mat-mdc-menu-item
                  id="{{ 'ptm-assignApprover' + task.rowIndex }}"
                  [ngClass]="{
                    disabledOption: checkUserLevelRequirement(
                      availableActions.ASSIGN_APPROVERS
                    )
                  }"
                  (click)="
                    !checkUserLevelRequirement(
                      availableActions.ASSIGN_APPROVERS
                    ) && addOrEditAssignees(task.data)
                  "
                >
                  Assign Approver
                </li>
                <li
                  [ngClass]="{
                    disabledOption: !isTaskApprovable(task.data)
                  }"
                  mat-mdc-menu-item
                  id="{{ 'ptm-approveTask' + task.rowIndex }}"
                  (click)="
                    approveOrRejectTask(
                      task.data,
                      taskUserApprovalStatus.APPROVE
                    )
                  "
                >
                  Approve
                </li>
                <li
                  [ngClass]="{
                    disabledOption: !isTaskRejectable(task.data)
                  }"
                  mat-mdc-menu-item
                  id="{{ 'ptm-rejectTask' + task.rowIndex }}"
                  (click)="
                    approveOrRejectTask(
                      task.data,
                      taskUserApprovalStatus.REJECT
                    )
                  "
                >
                  Reject
                </li>
                <li
                  [ngClass]="{
                    disabledOption: checkUserLevelRequirement(
                      availableActions.ADD_NOTES
                    )
                  }"
                  mat-mdc-menu-item
                  id="{{ 'ptm-addNotes' + task.rowIndex }}"
                  (click)="
                    !checkUserLevelRequirement(availableActions.ADD_NOTES) &&
                      openAddNotesPopup(task.data)
                  "
                >
                  Add Note(s)
                </li>
                <li
                  [ngClass]="{
                    disabledOption: checkUserLevelRequirement(
                      availableActions.UPLOAD_FILES
                    )
                  }"
                  mat-mdc-menu-item
                  id="{{ 'ptm-uploadFiles' + task.rowIndex }}"
                  (click)="
                    !checkUserLevelRequirement(availableActions.UPLOAD_FILES) &&
                      openUploadFilesPopup(task)
                  "
                >
                  Upload File(s)
                </li>
                <li
                  mat-mdc-menu-item
                  id="{{ 'ptm-overrideComDate' + task.rowIndex }}"
                  [ngClass]="{
                    disabledOption: !isTaskCompleteDateModifiable(task.data)
                  }"
                  (click)="modifyCompleteDate(task.data)"
                >
                  Modify Complete Date
                </li>
              </ul>
            </mat-menu>
          </div>
        </dxi-button>
      </dxi-column>
      <div
        *dxTemplate="let cell of 'fullStepTemplate'"
        class="pt-fullStepTemplate"
      >
        <div class="pt-fullStepAttr" id="{{ 'ptm-fullStep' + cell.rowIndex }}">
          {{ cell.data.ProjectMilestoneStepFull }}
        </div>
      </div>
      <div
        *dxTemplate="let cell of 'taskNameTemplate'"
        class="pt-taskNameTemplate"
      >
        <div
          class="pt-taskNameAttr"
          id="{{ 'ptm-taskName' + cell.rowIndex }}"
          [title]="
            cell.data.ProjectMilestoneDescription
              ? cell.data.ProjectMilestoneDescription
              : ''
          "
        >
          {{ cell.value }}
        </div>
      </div>
      <div *dxTemplate="let cell of 'taskStatusTemplate'">
        <div
          class="pt-taskStatus"
          [ngClass]="getTaskStatusColor(cell.data.TaskStatus[0].Color)"
          [title]="cell.data.TaskStatus[0].Title"
        ></div>
      </div>
      <div
        *dxTemplate="let cell of 'assigneesTemplate'"
        [id]="'pt-assigneesId' + cell.rowIndex"
      >
        <ng-container *ngFor="let assignee of cell.data.Approvers; index as i">
          <span class="pt-initialsContainer" *ngIf="i < 3"
            ><span
              [attr.aria-label]="assignee.FullName"
              [title]="assignee.FullName"
              class="pt-assineeIntials"
              >{{ assignee.Initials }}</span
            >
            <span
              class="pt-approvalStatus appovedColor"
              [title]="assignee.ApprovalStatus"
              *ngIf="assignee.ApprovalStatus.toLowerCase().trim() == 'approved'"
              ><fa-icon [icon]="faCircleCheck"></fa-icon
            ></span>
            <span
              class="pt-approvalStatus unApprovedColor"
              [title]="assignee.ApprovalStatus"
              *ngIf="assignee.ApprovalStatus.toLowerCase().trim() == 'rejected'"
              ><fa-icon [icon]="faCircleXmark"></fa-icon
            ></span>
          </span>
          <span
            class="pt-userGroupContainer"
            *ngIf="i == 3"
            [title]="getRestOfApprovers(cell.data.Approvers)"
          >
            <span class="pt-assineeIntials"
              ><fa-icon [icon]="faUserPlus"></fa-icon
            ></span>
            <span
              *ngIf="cell.data.Approvers.length > 3"
              class="pt-userGroupCount"
              >{{ cell.data.Approvers.length - 3 }}</span
            >
          </span>
        </ng-container>
      </div>
      <div *dxTemplate="let cell of 'approvalTemplate'">
        <div class="pr-approvalTem">{{ cell.value }}</div>
      </div>
      <div
        *dxTemplate="let cell of 'userApprovalStatusTemplate'"
        [id]="'pt-userApprovalStatusId' + cell.rowIndex"
        class="pt-userApprovalStatusTemplate"
      >
        <div
          *ngIf="
            cell.value.trim() == taskUserApprovalStatus.NOT_ASSIGNED &&
            userAccessLevel == 1 &&
            isProjectEditable
          "
          class="pt-userApprovalStatusBtns-container"
        >
          <span
            tabindex="0"
            type="button"
            id="{{ 'pt-assignApproverBtn' + cell.rowIndex }}"
            (click)="
              !checkUserLevelRequirement(availableActions.ASSIGN_APPROVERS) &&
                addOrEditAssignees(cell.data)
            "
            class="pt-notAssignedBtn"
          >
            {{ cell.value }}
          </span>
        </div>
        <div
          class="disabledOption"
          *ngIf="
            (cell.value.trim() == taskUserApprovalStatus.NOT_ASSIGNED &&
              userAccessLevel != 1) ||
            (cell.value.trim() == taskUserApprovalStatus.NOT_ASSIGNED &&
              !isProjectEditable)
          "
        >
          {{ cell.value }}
        </div>
        <div *ngIf="cell.value.trim() == taskUserApprovalStatus.APPROVED">
          {{ cell.value }}
        </div>
        <div
          *ngIf="
            cell.value.trim() == taskUserApprovalStatus.APPROVE_REJECT ||
            cell.value.trim() == taskUserApprovalStatus.APPROVE
          "
          class="pt-userApprovalStatusBtns-container"
        >
          <span
            [ngClass]="{
              disabledOption: !isTaskApprovable(cell.data)
            }"
            [tabindex]="isTaskApprovable(cell.data) ? 0 : -1"
            type="button"
            [title]="
              getApprovalBtnTitleText(
                cell.data.ApprovalPredecessors,
                cell.data.ApprovalSubTasks
              )
            "
            id="{{ 'pt-approveBtn' + cell.rowIndex }}"
            class="pt-approveRejectBtn pt-approveBtn"
            (click)="
              approveOrRejectTask(cell.data, taskUserApprovalStatus.APPROVE)
            "
            >Approve</span
          >
          <span
            class="separator"
            *ngIf="cell.value.trim() == taskUserApprovalStatus.APPROVE_REJECT"
            >&nbsp; | &nbsp;</span
          >
          <span
            type="button"
            id="{{ 'pt-rejectBtn' + cell.rowIndex }}"
            class="pt-approveRejectBtn pt-rejectBtn"
            [ngClass]="{
              disabledOption: !isTaskRejectable(cell.data)
            }"
            [tabindex]="isTaskRejectable(cell.data) ? 0 : -1"
            (click)="
              approveOrRejectTask(cell.data, taskUserApprovalStatus.REJECT)
            "
            *ngIf="cell.value.trim() == taskUserApprovalStatus.APPROVE_REJECT"
            >Reject
          </span>
        </div>
        <div
          *ngIf="cell.value.trim() == taskUserApprovalStatus.COMPLETED"
          class="pt-userApprovalStatusBtns-container"
        >
          <span
            type="button"
            id="{{ 'pt-modifyCompleteBtn' + cell.rowIndex }}"
            class="pt-completeDateBtn"
            [ngClass]="{
              disabledOption: !isTaskCompleteDateModifiable(cell.data)
            }"
            [tabindex]="isTaskCompleteDateModifiable(cell.data) ? 0 : -1"
            (click)="modifyCompleteDate(cell.data)"
          >
            {{ cell.value }}</span
          >
        </div>
      </div>
      <div
        *dxTemplate="let cell of 'modifyUserCompleteDateTemplate'"
        id="{{ 'pt-modifyCompleteDateTemplateId' + cell.rowIndex }}"
      >
        <div
          *ngIf="isTaskCompleteDateModifiable(cell.data)"
          class="pt-userApprovalStatusBtns-container"
        >
          <span
            type="button"
            id="{{ 'pt-modifyCompleteDateTemplateBtn' + cell.rowIndex }}"
            class="pt-completeDateBtn"
          >
            {{ cell.value | date: dateFormat }}
          </span>
        </div>
        <div *ngIf="!isTaskCompleteDateModifiable(cell.data)">
          {{ cell.value | date: dateFormat }}
        </div>
      </div>
    </dx-tree-list>

    <crem-share-view-popup
      #cremShareListViewPopup
      [listView]="sharingListView"
      [isSuperUser]="isSuperUser"
      (closing)="reloadListViewMenu()"
      (deleteClicked)="deleteListView(sharingListView, true)"
    ></crem-share-view-popup>
  </div>
</div>

<!-- //*************** Task Settings Popup ******************// -->
<crem-popup
  #taskDetailsSettingsPopup
  [id]="'projectTasksSettingsPopup'"
  [visible]="settingsVisible"
  [title]="taskSettingsTitle"
  [draggable]="'true'"
  [resizable]="true"
  [height]="800"
  [width]="1000"
  [showCloseButton]="true"
  [saveButtonText]="'Save'"
  [closeButtonText]="'Cancel'"
  [applyButtonText]="'Apply'"
  [disableSaveButton]="userAccessLevel !== 1 || disableTaskSettingsBtns"
  [disableSApplyButton]="userAccessLevel !== 1 || disableTaskSettingsBtns"
  (apply)="applyOrSaveTaskSettings('apply')"
  (save)="applyOrSaveTaskSettings('save')"
  (close)="taskSettingsOnClose($event)"
>
  <div body class="projectTaskSettings pts">
    <section class="pts-Details">
      <section class="pts-projectName">
        <div class="pts-projectName label">Project Name</div>
        <div class="pts-projectName__name">
          {{ projectTaskSettings.projectName }}
        </div>
      </section>

      <section class="pts-startAndDueDate">
        <div class="pts-startAndDueDate__startDate pts-flexItem50">
          <div class="label">Start Date</div>
          <crem-date-picker
            #StartDatePicker
            tabindex="0"
            [value]="projectTaskSettings.startDate"
            [dateFormat]="dateFormat"
            [showClearButton]="'true'"
            [inputId]="'pts-startDate'"
            [inputWrapperClass]="'pts-startDateWrapper'"
            [isRequired]="'true'"
            [placeholderText]="'Select Date...'"
            [showDefaultValidationTooltip]="false"
            [disabled]="userAccessLevel !== 1"
            (changeEvent)="onStartOrDueDateChange($event, 'startDate')"
          >
          </crem-date-picker>
        </div>
        <div class="pts-startAndDueDate__dueDate pts-flexItem50">
          <div class="label">Due Date</div>
          <crem-date-picker
            #DueDatePicker
            [value]="projectTaskSettings.dueDate"
            [dateFormat]="dateFormat"
            [showClearButton]="'true'"
            [inputId]="'pts-dueDate'"
            [inputWrapperClass]="'pts-dueDateWrapper'"
            [disabled]="userAccessLevel !== 1"
            [placeholderText]="'Select Date...'"
            (changeEvent)="onStartOrDueDateChange($event, 'dueDate')"
          >
          </crem-date-picker>
        </div>
      </section>
      <section class="pts-toggles">
        <div class="pts-toggles__calcDates pts-flexItem23">
          <ng-container>
            <div class="label">Calculate Dates</div>
            <crem-toggle-slider
              [id]="'pts-calculateDate'"
              [size]="'wide'"
              [value]="projectTaskSettings.calculateDates"
              [disabled]="userAccessLevel !== 1"
              [ariaLabel]="'calculate dates'"
              checkedLabel="Yes"
              uncheckedLabel="No"
              (selectionChange)="
                projSettingToggleChanged($event, 'calculateDates')
              "
            ></crem-toggle-slider>
          </ng-container>
        </div>
        <div class="pts-toggles__autoCalc pts-flexItem23">
          <ng-container *ngIf="projectTaskSettings.calculateDates">
            <div class="label">Auto Calculate</div>
            <crem-toggle-slider
              [id]="'pts-autoCalculateDate'"
              [size]="'wide'"
              [value]="projectTaskSettings.autoCalculate"
              [disabled]="userAccessLevel !== 1"
              [ariaLabel]="'auto calculate'"
              checkedLabel="On"
              uncheckedLabel="Off"
              (selectionChange)="
                projSettingToggleChanged($event, 'autoCalculate')
              "
            ></crem-toggle-slider>
          </ng-container>
        </div>
        <div class="pts-toggles__shiftTimeLine pts-flexItem23">
          <ng-container
            *ngIf="
              projectTaskSettings.calculateDates &&
              projectTaskSettings.autoCalculate
            "
          >
            <div class="label">Shift Timeline</div>
            <crem-toggle-slider
              [id]="'pts-shiftTimeline'"
              [value]="projectTaskSettings.shiftTimeline"
              [size]="'wide'"
              [disabled]="userAccessLevel !== 1"
              [ariaLabel]="'shift timeline'"
              (selectionChange)="
                projSettingToggleChanged($event, 'shiftTimeline')
              "
              checkedLabel="On"
              uncheckedLabel="Off"
            ></crem-toggle-slider>
          </ng-container>
        </div>
        <div class="pts-toggles__calcBy pts-flexItem23"></div>
      </section>
      <section class="pts-toggles">
        <div class="pts-toggles__calcBy pts-flexItem50">
          <ng-container *ngIf="projectTaskSettings.calculateDates">
            <div class="label">Calculated By:</div>
            <crem-toggle-slider
              [id]="'pts-calcBy'"
              [size]="'wide'"
              [value]="projectTaskSettings.calculatedBy"
              [disabled]="userAccessLevel !== 1"
              [ariaLabel]="'calculated by'"
              [labelPosition]="'right'"
              (selectionChange)="
                projSettingToggleChanged($event, 'calculatedBy')
              "
              checkedLabel="Work Days Only"
              uncheckedLabel="All Calendar Days"
            ></crem-toggle-slider>
          </ng-container>
        </div>
      </section>
      <section
        class="pts-toggles"
        *ngIf="projectTaskSettings.projectAllowTaskNoteOverride == '1'"
      >
        <div class="pts-toggles__requireTaskApproval">
          <ng-container>
            <div class="label">Require Task Approval Notes:</div>
            <crem-toggle-slider
              [id]="'pts-reqTaskApproval'"
              [size]="'wide'"
              [value]="projectTaskSettings.projectRequiredTaskNotes"
              [disabled]="userAccessLevel !== 1"
              [ariaLabel]="'require task approval'"
              checkedLabel="Yes"
              uncheckedLabel="No"
              (selectionChange)="
                projSettingToggleChanged($event, 'projectRequiredTaskNotes')
              "
            ></crem-toggle-slider>
          </ng-container>
        </div>
      </section>
    </section>
    <section class="pts-emailPreferences">
      <!--   ***** Email Prefereces ***** -->
      <div>
        <h4 class="pts-emailPrefLabel">Email Preferences:</h4>
      </div>
      <div>
        <crem-check-box
          [value]="selectAllEmailPref"
          [elementAttr]="{
            id: 'pts-selectAllEmailPref',
            'aria-label': 'Select All Email Preferences'
          }"
          [disabled]="userAccessLevel !== 1"
          [ngClass]="{ disabledOption: userAccessLevel !== 1 }"
          (changeEvent)="selectAllEmailPreferences($event)"
          (enterKeyEvent)="onEnterSelectAll($event)"
          ><span class="label selectAll">Select All</span>
        </crem-check-box>
      </div>
      <div class="div-label-text">
        Set conditions for receiving email notifications.
      </div>
      <div>
        <crem-check-box
          [value]="projectEmailPreferences.transactionAutoEmail"
          [elementAttr]="{ id: 'pts-autoEmails', 'aria-label': 'Auto Email' }"
          [disabled]="userAccessLevel !== 1"
          [ngClass]="{ disabledOption: userAccessLevel !== 1 }"
          (changeEvent)="emailOptionChanged($event, 'transactionAutoEmail')"
        >
          <div>
            <span class="label">Auto Emails</span>
            <div class="checkbox-description">
              When Auto Emails is enabled, team members who have set their email
              preferences to OFF on the project team setup page will not receive
              emails.
            </div>
          </div>
        </crem-check-box>
      </div>
      <div>
        <crem-check-box
          [value]="projectEmailPreferences.emailOnFileUpload"
          [elementAttr]="{ id: 'pts-fileUpload', 'aria-label': 'File Upload' }"
          [disabled]="
            projectEmailPreferences.transactionAutoEmail == false
              ? true
              : false || userAccessLevel !== 1
          "
          [ngClass]="{
            disabledOption:
              !projectEmailPreferences.transactionAutoEmail ||
              userAccessLevel !== 1
          }"
          [title]="
            !projectEmailPreferences.transactionAutoEmail
              ? selectAutoEmailTitle
              : ''
          "
          (changeEvent)="emailOptionChanged($event, 'emailOnFileUpload')"
        >
          <div>
            <span class="label">File Upload</span>
            <div class="checkbox-description">
              Send an email to the team when files are uploaded.
            </div>
          </div>
        </crem-check-box>
      </div>
      <div class="div-label-text">Notify by Email based on Task Status.</div>
      <div>
        <crem-check-box
          [value]="projectEmailPreferences.emailOnApproval"
          [elementAttr]="{ id: 'pts-approval', 'aria-label': 'Approval' }"
          [disabled]="
            projectEmailPreferences.transactionAutoEmail == false
              ? true
              : false || userAccessLevel !== 1
          "
          [ngClass]="{
            disabledOption:
              !projectEmailPreferences.transactionAutoEmail ||
              userAccessLevel !== 1
          }"
          [title]="
            !projectEmailPreferences.transactionAutoEmail
              ? selectAutoEmailTitle
              : ''
          "
          (changeEvent)="emailOptionChanged($event, 'emailOnApproval')"
        >
          <div>
            <span class="label">Approval</span>
            <div class="checkbox-description">
              When a task is approved or rejected, the system sends an email to
              other approvers assigned to that task.
            </div>
          </div>
        </crem-check-box>
      </div>
      <div>
        <crem-check-box
          [value]="projectEmailPreferences.emailOnMilestoneApproval"
          [elementAttr]="{
            id: 'pts-milestoneApproval',
            'aria-label': 'Milestone Approval'
          }"
          [disabled]="
            projectEmailPreferences.transactionAutoEmail == false
              ? true
              : false || userAccessLevel !== 1
          "
          [ngClass]="{
            disabledOption:
              !projectEmailPreferences.transactionAutoEmail ||
              userAccessLevel !== 1
          }"
          [title]="
            !projectEmailPreferences.transactionAutoEmail
              ? selectAutoEmailTitle
              : ''
          "
          (changeEvent)="emailOptionChanged($event, 'emailOnMilestoneApproval')"
        >
          <div>
            <span class="label">Milestone Approval</span>
            <div class="checkbox-description">
              Will send approval emails for tasks designated as milestones, even
              if the 'Approval' checkbox is unchecked.
            </div>
          </div>
        </crem-check-box>
      </div>
      <div>
        <crem-check-box
          [value]="projectEmailPreferences.emailOnCompletion"
          [elementAttr]="{ id: 'pts-completion', 'aria-label': 'Completion' }"
          [disabled]="
            projectEmailPreferences.transactionAutoEmail == false
              ? true
              : false || userAccessLevel !== 1
          "
          [ngClass]="{
            disabledOption:
              !projectEmailPreferences.transactionAutoEmail ||
              userAccessLevel !== 1
          }"
          [title]="
            !projectEmailPreferences.transactionAutoEmail
              ? selectAutoEmailTitle
              : ''
          "
          (changeEvent)="emailOptionChanged($event, 'emailOnCompletion')"
        >
          <div>
            <span class="label">Completion</span>
            <div class="checkbox-description">
              Automated emails to notify approvers assigned to the next task.
            </div>
          </div>
        </crem-check-box>
      </div>
      <div>
        <crem-check-box
          [value]="projectEmailPreferences.emailMilestoneCompletionCCTeam"
          [elementAttr]="{
            id: 'pts-milestoneCompletion',
            'aria-label': 'Milestone Completion'
          }"
          [disabled]="
            projectEmailPreferences.transactionAutoEmail == false
              ? true
              : false || userAccessLevel !== 1
          "
          [ngClass]="{
            disabledOption:
              !projectEmailPreferences.transactionAutoEmail ||
              userAccessLevel !== 1
          }"
          [title]="
            !projectEmailPreferences.transactionAutoEmail
              ? selectAutoEmailTitle
              : ''
          "
          (changeEvent)="
            emailOptionChanged($event, 'emailMilestoneCompletionCCTeam')
          "
        >
          <div>
            <span class="label">Milestone Completion</span>
            <div class="checkbox-description">
              This will send an email to the team when tasks marked as
              milestones are completed.
            </div>
          </div>
        </crem-check-box>
      </div>
      <div>
        <crem-check-box
          [value]="projectEmailPreferences.emailFollowSteps"
          [elementAttr]="{
            id: 'pts-followDfltOrder',
            'aria-label': 'Follow Default Order'
          }"
          [disabled]="
            projectEmailPreferences.transactionAutoEmail == false
              ? true
              : false || userAccessLevel !== 1
          "
          [ngClass]="{
            disabledOption:
              !projectEmailPreferences.transactionAutoEmail ||
              userAccessLevel !== 1
          }"
          [title]="
            !projectEmailPreferences.transactionAutoEmail
              ? selectAutoEmailTitle
              : ''
          "
          (changeEvent)="emailOptionChanged($event, 'emailFollowSteps')"
        >
          <div>
            <span class="label">Follow Default Order</span>
            <div class="checkbox-description">
              This will send the On Completion email only to approvers of the
              next sequential task.
            </div>
          </div>
        </crem-check-box>
      </div>
      <div>
        <crem-check-box
          [value]="projectEmailPreferences.emailFollowDependencies"
          [elementAttr]="{
            id: 'pts-followDflt',
            'aria-label': 'Follow Predecessor'
          }"
          [disabled]="
            projectEmailPreferences.transactionAutoEmail == false
              ? true
              : false || userAccessLevel !== 1
          "
          [ngClass]="{
            disabledOption:
              !projectEmailPreferences.transactionAutoEmail ||
              userAccessLevel !== 1
          }"
          [title]="
            !projectEmailPreferences.transactionAutoEmail
              ? selectAutoEmailTitle
              : ''
          "
          (changeEvent)="emailOptionChanged($event, 'emailFollowDependencies')"
        >
          <div>
            <span class="label">Follow Predecessor</span>
            <div class="checkbox-description">
              Upon completion, email approvers assigned to the tasks that depend
              on the approved task completion and next task.
            </div>
          </div>
        </crem-check-box>
      </div>
      <div>
        <crem-check-box
          [value]="projectEmailPreferences.emailOverdue"
          [elementAttr]="{
            id: 'pts-overdueEmails',
            'aria-label': 'Overdue Emails'
          }"
          [disabled]="
            projectEmailPreferences.transactionAutoEmail == false
              ? true
              : false || userAccessLevel !== 1
          "
          [ngClass]="{
            disabledOption:
              !projectEmailPreferences.transactionAutoEmail ||
              userAccessLevel !== 1
          }"
          [title]="
            !projectEmailPreferences.transactionAutoEmail
              ? selectAutoEmailTitle
              : ''
          "
          (changeEvent)="emailOptionChanged($event, 'emailOverdue')"
        >
          <div>
            <span class="label">Overdue Emails</span>
            <div class="checkbox-description">Receive overdue emails.</div>
          </div>
        </crem-check-box>
      </div>
      <div>
        <crem-check-box
          [value]="projectEmailPreferences.emailOnStart"
          [elementAttr]="{
            id: 'pts-overdueEmails',
            'aria-label': 'Overdue Emails'
          }"
          [disabled]="
            projectEmailPreferences.transactionAutoEmail == false
              ? true
              : false || userAccessLevel !== 1
          "
          [ngClass]="{
            disabledOption:
              !projectEmailPreferences.transactionAutoEmail ||
              userAccessLevel !== 1
          }"
          [title]="
            !projectEmailPreferences.transactionAutoEmail
              ? selectAutoEmailTitle
              : ''
          "
          (changeEvent)="emailOptionChanged($event, 'emailOnStart')"
        >
          <div>
            <span class="label">On Start Emails</span>
            <div class="checkbox-description">
              This will send an email on the start day of a task.
            </div>
          </div>
        </crem-check-box>
      </div>
      <div class="div-label-text">In the Notification Include:</div>
      <div>
        <crem-check-box
          [value]="projectEmailPreferences.emailIncludeMinors"
          [elementAttr]="{ id: 'pts-subTasks', 'aria-label': 'Subtasks' }"
          [disabled]="
            projectEmailPreferences.transactionAutoEmail == false
              ? true
              : false || userAccessLevel !== 1
          "
          [ngClass]="{
            disabledOption:
              !projectEmailPreferences.transactionAutoEmail ||
              userAccessLevel !== 1
          }"
          [title]="
            !projectEmailPreferences.transactionAutoEmail
              ? selectAutoEmailTitle
              : ''
          "
          (changeEvent)="emailOptionChanged($event, 'emailIncludeMinors')"
        >
          <div>
            <span class="label">SubTasks</span>
            <div class="checkbox-description">
              Select this for the emails preferences selected above to apply for
              subtasks.
            </div>
          </div>
        </crem-check-box>
      </div>
      <div>
        <crem-check-box
          [value]="projectEmailPreferences.emailCopyTeam"
          [elementAttr]="{ id: 'pts-team', 'aria-label': 'Copy Team' }"
          [disabled]="
            projectEmailPreferences.transactionAutoEmail == false
              ? true
              : false || userAccessLevel !== 1
          "
          [ngClass]="{
            disabledOption:
              !projectEmailPreferences.transactionAutoEmail ||
              userAccessLevel !== 1
          }"
          [title]="
            !projectEmailPreferences.transactionAutoEmail
              ? selectAutoEmailTitle
              : ''
          "
          (changeEvent)="emailOptionChanged($event, 'emailCopyTeam')"
        >
          <div>
            <span class="label">Team</span>
            <div class="checkbox-description">
              Any email will copy all of the users on the team.
            </div>
          </div>
        </crem-check-box>
      </div>
      <div>
        <crem-check-box
          [value]="projectEmailPreferences.emailCopyApprover"
          [elementAttr]="{ id: 'pts-approver', 'aria-label': 'Approver' }"
          [disabled]="
            projectEmailPreferences.transactionAutoEmail == false
              ? true
              : false || userAccessLevel !== 1
          "
          [ngClass]="{
            disabledOption:
              !projectEmailPreferences.transactionAutoEmail ||
              userAccessLevel !== 1
          }"
          [title]="
            !projectEmailPreferences.transactionAutoEmail
              ? selectAutoEmailTitle
              : ''
          "
          (changeEvent)="emailOptionChanged($event, 'emailCopyApprover')"
        >
          <div>
            <span class="label">Approver</span>
            <div class="checkbox-description">
              Any email will copy the person sending it.
            </div>
          </div>
        </crem-check-box>
      </div>
    </section>
  </div>
</crem-popup>
<!-- //*************** Task Settings Popup Ends ******************// -->

<!--**** Copy Transaction Popup ****-->
<crem-popup
  #CopyTransactionPopup
  [id]="'copyTransactionPopupId'"
  [visible]="copyTransactionVisible"
  [title]="'Copy Transaction'"
  [saveButtonText]="ctSaveButtonText"
  [draggable]="'true'"
  [height]="'auto'"
  [width]="'50%'"
  [resizable]="true"
  [showCloseButton]="true"
  [disableSApplyButton]="disabledCopyTransBtn"
  [customFooter]="true"
  (close)="applyOrSaveCopyTransaction('Close')"
>
  <div body>
    <copy-transaction-popup-content
      #copyTransactionComponent
      [projectId]="projectId"
      (disableCopyEvent)="handleCopyBtnStatus($event)"
      (copyCompletedEvent)="handleCopyCompleted($event)"
      (notifyHasChanges)="handleCopyTransactionFormChanged($event)"
    >
    </copy-transaction-popup-content>
  </div>
  <div footer class="quick-approval__custom-footer">
    <crem-button
      *ngIf="copyTransBtnVisisble"
      class="footer__copy-button"
      (buttonClick)="applyOrSaveCopyTransaction('Copy')"
      [disabled]="disabledCopyTransBtn"
      btnStyle="flat"
      color="primary"
      [text]="'Copy'"
      [id]="'copyTrans-copyBtn'"
    ></crem-button>
    <crem-button
      *ngIf="!copyTransBtnVisisble"
      class="footer__go-button"
      (buttonClick)="navigateToNewProject(this.newProjectId)"
      btnStyle="flat"
      color="primary"
      [text]="'Go'"
      [id]="'copyTrans-goBtn'"
    ></crem-button>
  </div>
</crem-popup>
