<div id="reset-password">
  <div id="company-logo">
    <img alt="Costar logo" src="assets/images/costar-logo.png" />
  </div>

  <div class="reset-password-wrapper mt-5">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Reset Password</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="mx-auto">
          <form
            id="form"
            [formGroup]="resetPasswordForm"
            (ngSubmit)="resetPassword()"
          >
            <cs-text-field
              id="password"
              formControlName="password"
              placeholder="New Password"
              [type]="showPassword ? 'text' : 'password'"
              (keyup)="togglePopover()"
              [required]="true"
              [error]="!isValidPassword && form.password.touched"
              [errorMsg]="getPasswordErrorMsg()"
              [icon]="showPassword ? 'visibility_off' : 'visibility'"
              (iconClick)="toggleShowPassword()"
              [clickableIcon]="true"
              [iconAriaLabel]="'Show/Hide password'"
              (keydown.space)="$event.preventDefault()"
              required
            >
            </cs-text-field>
            <cs-text-field
              id="confirm-password"
              formControlName="confirmPassword"
              placeholder="Confirm Password"
              [type]="showConfirmPassword ? 'text' : 'password'"
              [disabled]="!isValidPassword"
              [required]="true"
              [error]="
                (form.confirmPassword.touched &&
                  form.confirmPassword.errors?.required) ||
                (form.confirmPassword.touched &&
                  this.resetPasswordForm.errors?.passwordMismatch)
              "
              [errorMsg]="getConfirmPasswordErrorMsg()"
              [icon]="showConfirmPassword ? 'visibility_off' : 'visibility'"
              (iconClick)="toggleShowConfirmPassword()"
              [clickableIcon]="true"
              [iconAriaLabel]="'Show/Hide password'"
              (keydown.space)="$event.preventDefault()"
              required
            >
            </cs-text-field>
            <button
              *ngIf="!isLoading"
              id="reset-btn"
              class="btn btn-primary btn-block mt-2"
              type="submit"
            >
              Submit
            </button>
            <button
              *ngIf="isLoading"
              id="reset-btn"
              class="btn btn-primary btn-block mt-2"
              type="button"
              disabled
            >
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              Loading...
            </button>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<dx-popover
  target=".mat-mdc-form-field-flex"
  position="right"
  [width]="270"
  [(visible)]="showPopover"
>
  <div class="rich-task-popover" *dxTemplate="let data = model; of: 'content'">
    <mat-password-strength
      #passwordComponent
      (onStrengthChanged)="onStrengthChanged($event)"
      [min]="this.passwordRequirements.minLength"
      [max]="this.passwordRequirements.maxLength"
      [password]="form.password.value"
    >
    </mat-password-strength>
    <mat-password-strength-info
      [passwordComponent]="passwordComponent"
      [lowerCaseCriteriaMsg]="this.passwordRequirements.lowerCaseCriteria"
      [upperCaseCriteriaMsg]="this.passwordRequirements.upperCaseCriteria"
      [digitsCriteriaMsg]="this.passwordRequirements.digitsCriteria"
      [specialCharsCriteriaMsg]="this.passwordRequirements.specialCharsCriteria"
      [minCharsCriteriaMsg]="this.passwordRequirements.minCharsCriteria"
    >
    </mat-password-strength-info>
  </div>
</dx-popover>
