<div class="service-accounts-page">
  <div class="service-accounts-page-title-wrapper">
    <div class="controls-left">
      <h2 class="title std-right-margin">{{ pageTitle }}</h2>
      <crem-search
        [showLabel]="false"
        [placeholder]="'Search service accounts'"
        [disabled]="false"
        [required]="false"
        [showInfo]="false"
        [value]=""
        [debounceTime]="500"
        [searchOption]="'typing'"
        (changed)="searchDataGrid($event)"
      >
      </crem-search>
      <div class="dropdown-container">
        <crem-dropdown
          id="service-accounts-dropdown"
          [dataSource]="dropdownFieldData"
          [allowSearch]="false"
          placeholder="Account Filter"
          initialSelectedValue="active"
          [showClearButton]="false"
          [showColumnHeader]="false"
          displayExpr="display"
          valueExpr="value"
          (selectedItems)="onFilterChange($event)"
        ></crem-dropdown>
      </div>
    </div>
    <div class="controls-right">
      <div class="std-right-margin">
        <crem-button type="primary" (click)="addServiceAccount()"
          >Add</crem-button
        >
      </div>
      <div class="std-right-margin">
        <crem-button type="secondary" (click)="exportGrids()"
          >Export</crem-button
        >
      </div>
    </div>
  </div>
  <ng-template #syncTemplate>
    <crem-modal
      modalTitle="Sync Data"
      closeIconVisible="true"
      closeOrCancelButtonText="Cancel"
    >
      <div modalContent>
        <div>{{ syncMessage$ | async }}</div>
      </div>
    </crem-modal>
  </ng-template>
  <div class="service-accounts-page-data-grid-wrapper">
    <dx-data-grid
      #DataGrid
      [dataSource]="serviceAccountsData$ | async"
      keyExpr="contactId"
      [showColumnLines]="false"
      [showRowLines]="false"
      [showBorders]="false"
      [rowAlternationEnabled]="true"
      [allowColumnResizing]="true"
      [allowColumnReordering]="true"
      [columnAutoWidth]="true"
      [filterSyncEnabled]="true"
      [columnMinWidth]="10"
      (onCellClick)="openAccountDetails($event)"
      (onKeyDown)="onKeyDownOpenAccountDetails($event)"
    >
      <dxo-header-filter [visible]="true">
        <dxo-search [enabled]="true"> </dxo-search>
      </dxo-header-filter>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
      <dxo-column-chooser mode="select">
        <dxo-search [enabled]="true"> </dxo-search>
      </dxo-column-chooser>
      <dxo-paging [pageSize]="50"></dxo-paging>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[50, 100, 200, 500]"
        [showInfo]="true"
        [showNavigationButtons]="true"
        [visible]="true"
      >
      </dxo-pager>
      <dxi-column
        *ngFor="let col of gridColumns"
        [dataField]="col.dataField"
        [alignment]="col.alignment"
        [visible]="col.visible"
        [dataType]="col.dataType"
        [format]="col.format"
        [caption]="col.caption"
        [fixed]="col.fixed"
        [allowEditing]="col.allowEditing"
        [cellTemplate]="col.cellTemplate"
      >
        <dxo-format
          *ngIf="col.dataType == 'number' && col.precision >= 0"
          type="fixedPoint"
          [precision]="col.precision"
        ></dxo-format>
      </dxi-column>

      <div *dxTemplate="let d of 'contactActiveTemplate'">
        <dx-check-box
          [value]="d.value"
          readOnly="true"
          id="chk{{ d.rowIndex }}"
          name="chk{{ d.rowIndex }}"
          hint="chk{{ d.rowIndex }} is {{ d.value }}"
          aria-checked="{{ d.value }}"
          aria-readonly="true"
          iconSize="15"
        ></dx-check-box>
      </div>

      <dxi-column
        dataField="Actions"
        caption="Actions"
        type="buttons"
        width="65"
      >
        <dxi-button template="moreMenuTemplate">
          <div *dxTemplate="let data of 'moreMenuTemplate'">
            <button
              class="btn btn-link userOptionsMenuBtn"
              [matMenuTriggerFor]="MoreMenu"
              mat-button
              aria-haspopup="menu"
              aria-label="More service account user Options"
              title="Action menu to reactivate or deactivate"
            >
              <mat-icon role="none" aria-label="Actions Menu"
                >more_horiz</mat-icon
              >
            </button>
            <mat-menu #MoreMenu="matMenu">
              <ul role="group">
                <li
                  *ngIf="data.data.contactActive == true"
                  (click)="updateServiceAccountStatus(data, false)"
                  (keydown.enter)="updateServiceAccountStatus(data, false)"
                  (keydown.space)="updateServiceAccountStatus(data, false)"
                  role="menuitem"
                  tabindex="0"
                  mat-menu-item
                >
                  Deactivate
                </li>
                <li
                  *ngIf="data.data.contactActive == false"
                  (click)="updateServiceAccountStatus(data, true)"
                  (keydown.enter)="updateServiceAccountStatus(data, true)"
                  (keydown.space)="updateServiceAccountStatus(data, true)"
                  role="menuitem"
                  tabindex="0"
                  mat-menu-item
                >
                  Reactivate
                </li>
              </ul>
            </mat-menu>
          </div>
        </dxi-button>
      </dxi-column>
    </dx-data-grid>
  </div>
  <crem-popover
    [targetId]="'ServiceAccounts_SyncButton'"
    [toolTipData]="latestSyncInfo$ | async"
    popoverId="popoverId"
    getTitle=""
    onMouseEvent="mouseenter"
    hideEvent="mouseleave"
    arrowPosition="left"
    showCloseButton="False"
    width="300"
    height="100"
  ></crem-popover>
</div>
