<crem-page-header
  id="page-header"
  [pageTitle]="pageTitle"
  [tabTitle]="'Reminders'"
  [customActions]="true"
  [showListOrMapViewButtons]="false"
  customFilters="true"
  customActions="true"
>
  <div filters class="search-container">
    <cs-search
      #SearchBox
      [id]="'page-header-search'"
      [label]="'Please Input search text'"
      [placeholder]="'Search...'"
      (changed)="searchDataGrid($event)"
      class="searchReminders-input"
    ></cs-search>
  </div>

  <div actions class="actions-container">
    <crem-button
      type="secondary"
      [id]="'clearFilters'"
      text="Clear Filters"
      (click)="resetFilter($event)"
    >
    </crem-button>

    <button
      class="btn btn-default moreButton"
      [matMenuTriggerFor]="moreMenu"
      (click)="$event.preventDefault()"
    >
      More<mat-icon aria-label="More Menu">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #moreMenu="matMenu" class="moreMatMenu">
      <button mat-menu-item (click)="resetFilter($event)">Reset</button>
      <button mat-menu-item (click)="openColumnChooser()">
        Column Chooser
      </button>
      <button mat-menu-item (click)="exportExcel($event)">Export</button>
      <button mat-menu-item (click)="saveDefault.next()">
        Save As Default
      </button>
    </mat-menu>

    <crem-button type="primary" (click)="openAddEditReminderDialog('add')">
      <div id="AddReminder">Add</div>
    </crem-button>
  </div>
</crem-page-header>

<div class="reminders-dataGrid-wrapper">
  <dx-data-grid
    #RemindersDataGrid
    [showColumnLines]="false"
    [showRowLines]="false"
    [showBorders]="false"
    [rowAlternationEnabled]="true"
    [allowColumnResizing]="true"
    columnResizingMode="widget"
    [allowColumnReordering]="true"
    [columnAutoWidth]="false"
    [dataSource]="gridData"
    keyExpr="TicklerID"
    [wordWrapEnabled]="true"
    (onContentReady)="
      adaAttributes($event);
      adaPaginationAttr($event);
      adaAttrNoDataGrid($event)
    "
  >
    <dxo-column-chooser mode="select">
      <dxo-search [enabled]="true"> </dxo-search>
    </dxo-column-chooser>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-header-filter [visible]="true">
      <dxo-search [enabled]="true"> </dxo-search>
    </dxo-header-filter>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
    <dxi-column
      *ngFor="let col of columns"
      [dataField]="col.dataField"
      [alignment]="col.alignment"
      [visible]="col.visible"
      [dataType]="col.dataType"
      [format]="col.format"
      [caption]="col.caption"
      [fixed]="col.fixed"
      [width]="col.width"
      [sortOrder]="col.sortOrder"
      [allowEditing]="col.allowEditing"
      [cellTemplate]="col.cellTemplate"
    >
      <dxo-format
        *ngIf="col.dataType == 'number' && col.precision >= 0"
        type="fixedPoint"
        [precision]="col.precision"
      ></dxo-format>
    </dxi-column>
    <dxi-column
      caption="Actions"
      type="buttons"
      width="65"
      [showInColumnChooser]="false"
      [allowReordering]="false"
      [fixed]="true"
    >
      <dxi-button template="moreMenuTemplate">
        <div *dxTemplate="let data of 'moreMenuTemplate'">
          <button
            aria-label="more menu"
            [disabled]="data.data.AutoLoadReminderID == 1"
            class="btn btn-link"
            (click)="$event.preventDefault()"
            [matMenuTriggerFor]="MoreMenu"
          >
            <mat-icon role="none" aria-label="Actions Menu"
              >more_horiz</mat-icon
            >
          </button>
          <mat-menu #MoreMenu="matMenu">
            <button
              mat-menu-item
              type="button"
              *ngIf="(currentUserRole$ | async) < USER_ROLES.Manager"
              (click)="openAddEditReminderDialog('edit', data)"
            >
              Edit
            </button>
            <button
              mat-menu-item
              type="button"
              (click)="deleteReminder(data)"
              (keydown.space)="deleteReminder(data)"
              (keydown.enter)="deleteReminder(data)"
            >
              Delete
            </button>
          </mat-menu>
        </div>
      </dxi-button>
    </dxi-column>
    <dxo-summary>
      <dxi-group-item column="Id" summaryType="count"> </dxi-group-item>
    </dxo-summary>
    <dxo-paging [pageSize]="50"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[50, 100, 200, 500]"
      [showInfo]="true"
      [showNavigationButtons]="true"
      [visible]="true"
    >
    </dxo-pager>
    <dxo-grouping
      #expand
      [autoExpandAll]="true"
      [contextMenuEnabled]="true"
    ></dxo-grouping>
    <dxo-column-chooser [enabled]="false" width="400" height="500">
      <dxo-search [enabled]="true"> </dxo-search>
    </dxo-column-chooser>
  </dx-data-grid>
</div>
