@use 'styles' as *;
@import '../../assets/styles/colors.scss';
@import '../../assets/styles/var.scss';

:host::ng-deep {
  div.dx-button-content {
    border: 1px solid $navGray;
    border-radius: 2px;
    font-size: 12px;
    height: 30px;

    span.dx-button-text {
      padding-left: 8px !important;
    }
  }

  .queued_for_processing,
  .queued_for_validation {
    div.dx-button-content {
      border-color: $costarYellow;
      color: $costarYellow;
    }
  }

  .validation_complete {
    div.dx-button-content {
      border-color: $costarGreen;
      color: $costarGreen;
    }
  }

  .complete {
    div.dx-button-content {
      border-color: $costarBlue;
      color: $costarBlue;
    }
  }

  .complete_with_error {
    div.dx-button-content {
      border-color: $costarRed;
      color: $costarRed;
    }
  }

  .batch-log__fa-icon > .ng-fa-icon {
    color: $costarBlue !important;
    font-size: 14px;
  }

  td {
    &.dx-command-edit {
      padding: 0;

      .btn-link {
        height: 34px;
        width: 100%;
      }
    }
  }

  .controls-right button {
    @include costar(margin-right, 2);
  }

  .controls-left div {
    white-space: nowrap !important;
    width: auto !important;
  }

  h5 {
    white-space: nowrap;
  }

  .dx-popup-wrapper {
    .dx-overlay-content {
      .dx-popup-content {
        padding: 0 !important;
      }
    }

    .controls-left input {
      max-height: 30px;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }

    .search-input-container {
      max-height: 32px;
    }
  }

  .dx-datagrid .dx-datagrid-content-fixed .fixed-right {
    border-left: 2px solid #ddd !important;
  }

  crem-icon {
    cursor: pointer !important;
  }

  dx-data-grid {
    .dx-row.dx-data-row > td {
      cursor: default !important;
    }

    .dx-header-row > td > .dx-datagrid-text-content {
      display: inline-block;
      text-align: left;
      vertical-align: top;
      white-space: normal;
    }
  }
}

:host ::ng-deep {
  .controls-right input {
    max-height: 30px;
    padding-bottom: 0px !important;
  }

  .search-input-container {
    max-height: 32px;
  }

  input {
    background-color: transparent;
    padding-top: 2px !important;
  }
}

.dx-template-wrapper:has(.cancellation-popup-title) {
  font-size: 20px;
  padding: 10px 20px !important;
}
