<div class="list-page">
  <div class="list-page-controls-wrapper">
    <div id="ba-search" class="controls-left">
      <h5 class="dbl-right-margin nowrap">
        {{ title }}
      </h5>

      <crem-search
        id="ba-log-search-input"
        [(value)]="searchText"
        [placeholder]="'Search...'"
        [debounceTime]="500"
        [searchOption]="'typing'"
        (changed)="searchDataGrid($event)"
      >
      </crem-search>
    </div>

    <div class="controls-right">
      <crem-button
        [id]="'ba-log-filters-button'"
        [color]="'secondary'"
        [size]="'medium'"
        (buttonClick)="showFilterBuilder()"
      >
        Filters
        <div
          *ngIf="appliedFilterCount > 0 && !showClearFilters"
          class="badge primary costar std-left-margin"
          (mouseover)="toggleClearFilters()"
        >
          {{ appliedFilterCount }}
        </div>

        <div
          *ngIf="appliedFilterCount > 0 && showClearFilters"
          class="badge primary costar std-left-margin underline"
          (mouseout)="toggleClearFilters()"
          (click)="clearGridFilters($event)"
        >
          Clear {{ appliedFilterCount }} Filters
        </div>
      </crem-button>
      <crem-button
        [id]="'ba-log-columns-button'"
        [color]="'secondary'"
        (click)="showColumnChooser()"
      >
        Columns
      </crem-button>
      <crem-button
        *ngIf="service.userRights === 2"
        [id]="'ba-log-add-button'"
        [color]="'primary'"
        (click)="addNewBatch()"
      >
        Add
      </crem-button>
    </div>
  </div>

  <div class="list-page-data-grid-wrapper">
    <dx-data-grid
      id="ba-log-grid"
      class="list-page-data-grid"
      #DataGrid
      [dataSource]="batchLogs"
      keyExpr="id"
      [elementAttr]="{ id: 'ba-log-grid' }"
      [showColumnLines]="false"
      [showRowLines]="false"
      [showBorders]="false"
      [rowAlternationEnabled]="true"
      [allowColumnResizing]="true"
      [allowColumnReordering]="true"
      [columnAutoWidth]="true"
      [filterSyncEnabled]="true"
      (onContentReady)="calculateAppliedFilterCount()"
      (onCellPrepared)="onCellPrepared($event)"
      [columnMinWidth]="10"
      [wordWrapEnabled]="true"
    >
      <dxo-header-filter [visible]="true">
        <dxo-search [enabled]="true"> </dxo-search>
      </dxo-header-filter>

      <dxo-sorting mode="multiple"></dxo-sorting>

      <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

      <dxo-column-chooser mode="dragAndDrop" height="500" width="400">
        <dxo-search [enabled]="true"> </dxo-search>
      </dxo-column-chooser>

      <dxo-paging [pageSize]="100"></dxo-paging>

      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[25, 50, 100, 500]"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager>

      <dxo-filter-builder-popup
        [width]="600"
        [height]="600"
        [(visible)]="filterBuilderVisible"
      ></dxo-filter-builder-popup>

      <dxo-filter-builder></dxo-filter-builder>

      <ng-container *ngFor="let col of columns">
        <dxi-column
          [dataField]="col.dataField"
          [alignment]="col.alignment"
          [visible]="col.visible"
          [dataType]="col.dataType"
          [caption]="col.caption"
          [fixed]="col.fixed"
          [sortOrder]="col.sortOrder"
          [format]="col.format"
          [cellTemplate]="
            col.dataField === 'batchStatus' ? 'batchStatusTemplate' : ''
          "
        >
          <dxo-format
            *ngIf="col.dataType == 'number' && col.precision >= 0"
            type="fixedPoint"
            [precision]="col.precision"
          ></dxo-format>
        </dxi-column>
      </ng-container>
      <dxi-column
        cssClass="fixed-right"
        [showInColumnChooser]="false"
        [fixed]="true"
        fixedPosition="right"
        width="100"
        cellTemplate="downloadTemplate"
        alignment="center"
      >
      </dxi-column>

      <div *dxTemplate="let cell of 'batchStatusTemplate'">
        <dx-drop-down-button
          *ngIf="canShowButton(cell.data); else showText"
          [text]="cell.text"
          [items]="getBatchActionItems(cell.data)"
          [disabled]="actionDisabledCache[cell.data.id]"
          class="{{ cell.text.toLowerCase().replaceAll(' ', '_') }}"
          (onItemClick)="
            actionMenuCallback($event.itemData.toLowerCase(), cell.data)
          "
        ></dx-drop-down-button>

        <ng-template #showText>
          {{ cell.text }}
        </ng-template>
      </div>

      <dxo-master-detail
        [enabled]="true"
        template="masterDetail"
      ></dxo-master-detail>

      <div *dxTemplate="let batchLog of 'masterDetail'">
        <div>
          <div class="d-flex mb-2 font-size-small">
            Measure Event: {{ batchLog.data.measureEvent }} | Original Workflow
            Step: {{ batchLog.data.originalWorkflowStep }} | Next Workflow Step:
            {{ batchLog.data.finalWorkflowStep }}
          </div>
        </div>

        <dx-data-grid
          (onContentReady)="onDetailContentReady(batchLog)"
          [showBorders]="true"
          keyExpr="parameterID"
          [columnAutoWidth]="true"
          [dataSource]="batchLog.data.classificationParameters"
        >
          <dxi-column
            dataField="accountingTermBeginDate"
            dataType="string"
          ></dxi-column>

          <dxi-column
            dataField="accountingTermEndDate"
            dataType="string"
          ></dxi-column>

          <dxi-column
            dataField="classificationType"
            dataType="string"
          ></dxi-column>

          <dxi-column
            dataField="manualAssetAdjustment"
            dataType="string"
          ></dxi-column>

          <dxi-column dataField="rouAssetMethod" dataType="string"></dxi-column>

          <dxi-column
            dataField="rouAssetObtainedDate"
            dataType="string"
          ></dxi-column>

          <dxi-column
            dataField="discountRateProfile"
            dataType="string"
          ></dxi-column>

          <dxi-column
            dataField="journalEntryProfile"
            dataType="string"
          ></dxi-column>

          <dxi-column dataField="comments" dataType="string"></dxi-column>
        </dx-data-grid>
      </div>

      <div *dxTemplate="let data of 'downloadTemplate'">
        <crem-icon
          id="ba-log-download-icon"
          icon="faDownload"
          pack="solid"
          color="primary"
          size="lg"
          [visible]="menuButtonVisible('download', data.data)"
          (click)="actionMenuCallback('download', data.data)"
        ></crem-icon>
      </div>
    </dx-data-grid>
  </div>
</div>

<dx-popup
  id="ba-log-cancellation-popup"
  [width]="400"
  [height]="180"
  [showTitle]="true"
  titleTemplate="title-item"
  [dragEnabled]="true"
  [hideOnOutsideClick]="false"
  [(visible)]="cancelModalVisible"
>
  <div *dxTemplate="let data of 'title-item'">
    <div class="cancellation-popup-title">Workflow Change History</div>
  </div>
  <div *dxTemplate="let data of 'content'" class="popup-no-padding">
    <div class="dbl-padding">
      Canceling the batch will remove it from the queue and unlock all related
      leases and schedules.
    </div>
  </div>

  <dxi-toolbar-item toolbar="bottom" location="after">
    <button class="btn btn-default" (click)="cancelModalToggle()">
      Cancel
    </button>
  </dxi-toolbar-item>

  <dxi-toolbar-item toolbar="bottom" location="after">
    <button class="btn btn-primary" (click)="cancelBatch()">Confirm</button>
  </dxi-toolbar-item>
</dx-popup>

<p-toast
  position="bottom-right"
  preventOpenDuplicates="true"
  [baseZIndex]="3000"
>
</p-toast>
