@use 'libs/ui-shared/common/src/styles' as *;

.form {
  &__section-item {
    display: flex;
    flex-direction: column;
  }
}

.textbox_subtext {
  font-size: 12px;
  @include costar(color, gray03);

  &--warning {
    font-size: 12px;
    @include costar(color, danger);
  }

  &--success {
    font-size: 12px;
    @include costar(color, success);
  }
}

::ng-deep {
  crem-dynamic-form {
    // Fixes the crem-dropdown being cut off within the modal
    position: relative;

    // Fix for "System Export Batch ID" field, if ID changes this will break
    crem-dropdown {
      &#CreateSegment__ExportSystemBatchNumber_dropdown {
        .dx-overlay-wrapper.dx-popup-wrapper.dynamicFormDropDown
          .dx-overlay-content {
          max-height: 170px !important;
        }
      }
    }
  }

  #criteriaFormIncludeLeasesWithNoHierarchyID,
  #criteriaFormINCLUDELEASESWITHNOHIERARCHYID,
  .checkbox__container[id*='IncludeLeasesWithNoHierarchy'] {
    padding-top: 27px !important;
  }
}
