<mat-card>
  <mat-card-header>
    <mat-card-title>Change History</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div id="service-account-history-grid">
      <dx-data-grid
        id="gridContainer"
        [dataSource]="histories"
        [showBorders]="true"
        [hoverStateEnabled]="true"
        [showRowLines]="true"
        [showColumnLines]="false"
        (onCellPrepared)="onCellPrepared($event)"
      >
        <dxo-header-filter
          [visible]="true"
          [allowSearch]="true"
        ></dxo-header-filter>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-paging [pageSize]="25"></dxo-paging>
        <dxo-pager
          [showPageSizeSelector]="true"
          [allowedPageSizes]="[25, 50, 100, 500]"
          [showInfo]="true"
          [showNavigationButtons]="true"
        ></dxo-pager>
        <dxi-column
          dataField="fieldName"
          caption="Field Name"
          alignment="left"
          width="200"
        ></dxi-column>
        <dxi-column
          dataField="createdOn"
          caption="Change Date/Time"
          alignment="left"
          dataType="date"
          format="MM/dd/yyyy hh:mm:ss a"
          width="300"
        ></dxi-column>
        <dxi-column
          dataField="description"
          caption="Description"
          alignment="left"
        ></dxi-column>
        <dxi-column
          dataField="beforeChange"
          caption="Old Value"
          alignment="left"
          width="300"
        ></dxi-column>
        <dxi-column
          dataField="afterChange"
          caption="New Value"
          alignment="left"
          width="300"
        ></dxi-column>
      </dx-data-grid>
    </div>
  </mat-card-content>
</mat-card>
