@use 'styles' as *;

.footer-content {
  display: flex;
  width: 100%;

  .footerLeftControls {
    font-size: 13px;
    color: $danger;
    align-content: center;
  }

  .footerRightControls {
    display: flex;
    margin-left: auto;
    align-items: center;

    crem-button {
      padding: 8px 0px 8px 8px;
    }
  }
}

#addEditOtherChargeModal-content {
  crem-form-item {
    justify-content: center;
    padding-right: 30px;

    .ac-tooltip-div {
      width: 0px;
    }
  }

  crem-form-control {
    width: 55%;
    padding-right: 21px;
  }

  crem-form-label {
    width: 32%;
  }

  .ac-checkbox-row {
    padding-left: 75px;
    @include costar(padding-bottom, 4);

    &.ac-is-prorated {
      @include costar(padding-bottom, 4);
    }

    &.ac-is-direct-cost {
      @include costar(padding-bottom, 4);
      height: 40px;
    }

    crem-form-control {
      width: 0px;
    }

    crem-form-label {
      justify-content: start;
    }
  }

  .ac-first-recurring-date-row {
    width: 100%;

    crem-form-control {
      width: 51%;
      padding-right: 0px;
    }

    crem-form-label {
      width: 28%;
    }
  }

  .dx-state-disabled {
    background-color: #efefef4d;
    opacity: 1;
  }
}
