<crem-modal
  [modalId]="modalId"
  [modalTitle]="modalTitle"
  [closeIconVisible]="true"
  [closeDialogResult]="addEditOtherChargeResult"
  [customFooter]="true"
>
  <div modalContent id="addEditOtherChargeModal-content" class="body-content">
    <form crem-form layout="horizontal" class="add-edit-other-charge-form">
      <crem-form-item
        class="ac-checkbox-row ac-is-direct-cost"
        *ngIf="directCostCheckboxVisible"
      >
        <crem-check-box
          [value]="isDirectCost"
          [elementAttr]="{
            id: 'add-edit-other-charge-modal-is-direct-cost-checkbox',
            'aria-label': 'Select Is Direct Cost'
          }"
          [disabled]="false"
          (changeEvent)="isDirectCostChanged($event)"
        ></crem-check-box>
        <crem-form-label
          [id]="
            accountingSummaryService.getId(
              componentName,
              'is-direct-cost',
              'label'
            )
          "
          >Is Direct Cost</crem-form-label
        >
      </crem-form-item>

      <crem-form-item>
        <crem-form-label
          [id]="
            accountingSummaryService.getId(componentName, 'amount', 'label')
          "
          [required]="true"
          >Amount</crem-form-label
        >
        <crem-form-control>
          <dx-number-box
            #AmountInput
            [id]="
              accountingSummaryService.getId(componentName, 'amount', 'input')
            "
            [inputAttr]="{ 'aria-label': 'Amount' }"
            [value]="amount"
            (onValueChanged)="onInputBlurChange($event, 'amountInput')"
            [format]="currencyFormat"
          >
          </dx-number-box>
        </crem-form-control>
      </crem-form-item>

      <crem-form-item>
        <crem-form-label
          [id]="
            accountingSummaryService.getId(componentName, 'currency', 'label')
          "
          >Currency</crem-form-label
        >
        <crem-form-control>
          <crem-dropdown
            [id]="
              accountingSummaryService.getId(
                componentName,
                'currency',
                'dropdown'
              )
            "
            displayExpr="name"
            [dataSource]="currencyTypeList"
            [selectBoxValue]="currencyId"
            valueExpr="id"
            selectMode="single"
            [initialSelectedValue]="currencyId"
            [showClearButton]="true"
            [allowSearch]="true"
            (selectedItems)="onCurrencyValueChanged($event)"
            [containerized]="false"
          ></crem-dropdown>
        </crem-form-control>
      </crem-form-item>

      <crem-form-item>
        <crem-form-label
          [id]="accountingSummaryService.getId(componentName, 'name', 'label')"
          [required]="true"
          >Name</crem-form-label
        >
        <crem-form-control>
          <crem-input
            #NameInput
            [id]="
              accountingSummaryService.getId(componentName, 'name', 'input')
            "
            [inputType]="'text'"
            [value]="chargeName"
            [placeholder]="''"
            [required]="true"
            (onBlurChange)="onInputBlurChange($event, 'nameInput')"
          ></crem-input>
        </crem-form-control>
      </crem-form-item>

      <crem-form-item>
        <crem-form-label
          [id]="
            accountingSummaryService.getId(componentName, 'frequency', 'label')
          "
          >Frequency</crem-form-label
        >
        <crem-form-control>
          <crem-dropdown
            [id]="
              accountingSummaryService.getId(
                componentName,
                'frequency',
                'dropdown'
              )
            "
            displayExpr="name"
            [dataSource]="frequencyTypesList"
            [selectBoxValue]="frequencyTypeId"
            valueExpr="id"
            selectMode="single"
            [isDisabled]="frequencyTypeId === 6 && isEdit"
            [initialSelectedValue]="frequencyTypeId"
            [showClearButton]="false"
            [showTooltip]="frequencyTypeIsCustomPeriod"
            (selectedItems)="onFrequencyValueChanged($event)"
            [containerized]="false"
          ></crem-dropdown>
        </crem-form-control>

        <div class="ac-tooltip-div">
          <crem-tooltip
            *ngIf="frequencyTypeIsCustomPeriod"
            externalId="frequency-type"
            [helpTextDataIsHtml]="true"
            helpTextData="<b>Traditional Scottish Quarters:</b> 2 February, 15 May, 1 August, 11 November<p><br/>
          <b>Traditional English Quarters:</b> 25 March, 24 June, 29 September, and 25 December<p>
          <b>Modified Scottish Quarters:</b> 28 February, 28 May, 28 August, 28 November<p>
          <b>Modern Quarters:</b> 1 January, 1 April, 1 July, 1 October"
          >
          </crem-tooltip>
        </div>
      </crem-form-item>

      <crem-form-item>
        <crem-form-label
          [id]="
            accountingSummaryService.getId(componentName, 'start-date', 'label')
          "
          [required]="true"
          >Start Date</crem-form-label
        >
        <crem-form-control>
          <crem-date-picker
            #StartDatePicker
            [id]="
              accountingSummaryService.getId(
                componentName,
                'start-date',
                'picker'
              )
            "
            [dateFormat]="dateFormat"
            [useMaskBehavior]="false"
            [value]="startDate"
            [isRequired]="true"
            [showClearButton]="true"
            [showDefaultValidationTooltip]="false"
            (changeEvent)="onDatePickerChange($event, 'startDatePicker')"
          >
          </crem-date-picker>
        </crem-form-control>
      </crem-form-item>

      <crem-form-item *ngIf="isRecurringCharge">
        <crem-form-label
          [id]="
            accountingSummaryService.getId(componentName, 'end-date', 'label')
          "
          [required]="true"
          >End Date</crem-form-label
        >
        <crem-form-control>
          <crem-date-picker
            #EndDatePicker
            [id]="
              accountingSummaryService.getId(
                componentName,
                'end-date',
                'picker'
              )
            "
            [dateFormat]="dateFormat"
            [useMaskBehavior]="false"
            [value]="endDate"
            [isRequired]="true"
            [showClearButton]="true"
            [showDefaultValidationTooltip]="false"
            (changeEvent)="onDatePickerChange($event, 'endDatePicker')"
          >
          </crem-date-picker>
        </crem-form-control>
      </crem-form-item>

      <crem-form-item
        class="ac-checkbox-row ac-is-prorated"
        *ngIf="isRecurringCharge"
      >
        <crem-check-box
          [value]="isProrated"
          [elementAttr]="{
            id: 'add-edit-other-charge-modal-is-prorated-checkbox',
            'aria-label': 'Select Is Prorated'
          }"
          [disabled]="false"
          (changeEvent)="isProratedChanged($event)"
        ></crem-check-box>
        <crem-form-label
          [id]="
            accountingSummaryService.getId(
              componentName,
              'is-prorated',
              'label'
            )
          "
          >Is Prorated</crem-form-label
        >
      </crem-form-item>

      <ng-container *ngIf="isProrated && isRecurringCharge">
        <crem-form-item>
          <crem-form-label
            [id]="
              accountingSummaryService.getId(
                componentName,
                'proration-type',
                'label'
              )
            "
            >Proration Type</crem-form-label
          >
          <crem-form-control>
            <crem-dropdown
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'proration-type',
                  'dropdown'
                )
              "
              displayExpr="name"
              [dataSource]="prorationTypesList"
              [selectBoxValue]="prorationTypeId"
              valueExpr="id"
              selectMode="single"
              [initialSelectedValue]="prorationTypeId"
              [showClearButton]="false"
              (selectedItems)="onProrationTypeValueChanged($event)"
              [containerized]="false"
            ></crem-dropdown>
          </crem-form-control>
        </crem-form-item>

        <crem-form-item class="ac-first-recurring-date-row">
          <crem-form-label
            [id]="
              accountingSummaryService.getId(
                componentName,
                'first-recurring',
                'label'
              )
            "
            >First Recurring Date</crem-form-label
          >
          <crem-form-control>
            <crem-date-picker
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'first-recurring-date',
                  'picker'
                )
              "
              [dateFormat]="dateFormat"
              [useMaskBehavior]="false"
              [value]="firstRecurringDate"
              [isRequired]="false"
              [disabled]="frequencyTypeIsCustomPeriod"
              [showClearButton]="true"
              [showDefaultValidationTooltip]="false"
              (changeEvent)="
                onDatePickerChange($event, 'firstRecurringDatePicker')
              "
            >
            </crem-date-picker>
          </crem-form-control>
        </crem-form-item>

        <crem-form-item>
          <crem-form-label
            [id]="
              accountingSummaryService.getId(
                componentName,
                'first-amount',
                'label'
              )
            "
            >First Amount</crem-form-label
          >
          <crem-form-control>
            <dx-number-box
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'first-amount',
                  'input'
                )
              "
              [inputAttr]="{ 'aria-label': 'First Amount' }"
              [disabled]="prorationTypeId !== 5"
              [value]="firstAmount"
              (onValueChanged)="onInputBlurChange($event, 'firstAmountInput')"
              [format]="currencyFormat"
            >
            </dx-number-box>
          </crem-form-control>
        </crem-form-item>

        <crem-form-item class="ac-last-amount">
          <crem-form-label
            [id]="
              accountingSummaryService.getId(
                componentName,
                'last-amount',
                'label'
              )
            "
            >Last Amount</crem-form-label
          >
          <crem-form-control>
            <dx-number-box
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'last-amount',
                  'input'
                )
              "
              [inputAttr]="{ 'aria-label': 'Last Amount' }"
              [disabled]="prorationTypeId !== 5"
              [value]="lastAmount"
              (onValueChanged)="onInputBlurChange($event, 'lastAmountInput')"
              [format]="currencyFormat"
            >
            </dx-number-box>
          </crem-form-control>
        </crem-form-item>
      </ng-container>
    </form>
  </div>

  <div modalFooter class="footer-content">
    <div
      footerLeftControls
      class="errorMessage footerLeftControls"
      *ngIf="otherChargeErrors.length"
      [innerHTML]="otherChargeErrors"
    ></div>

    <div
      footerRightControls
      [id]="accountingSummaryService.getId(componentName, 'footer', 'buttons')"
      class="footerRightControls"
    >
      <crem-button
        type="secondary"
        [id]="accountingSummaryService.getId(componentName, 'cancel', 'button')"
        (click)="close($event)"
      >
        Cancel</crem-button
      >
      <crem-button
        type="secondary"
        [id]="accountingSummaryService.getId(componentName, 'delete', 'button')"
        (click)="delete($event)"
        *ngIf="isEdit"
      >
        Delete</crem-button
      >
      <crem-button
        type="secondary"
        [id]="
          accountingSummaryService.getId(
            componentName,
            'save-and-new',
            'button'
          )
        "
        (click)="saveAndNew($event)"
        *ngIf="!isEdit"
      >
        Save & New</crem-button
      >
      <crem-button
        type="primary"
        [id]="accountingSummaryService.getId(componentName, 'save', 'button')"
        (click)="save($event)"
      >
        Save</crem-button
      >
    </div>
  </div>
</crem-modal>
