<div class="qa-summaryText" *ngIf="dataSource.length">{{ summaryText }}</div>
<div *ngIf="dataLoaded" class="crem-quick-approval-data-grid">
  <dx-data-grid
    #DataGrid
    id="quickApprovalDatagrid"
    [dataSource]="dataSource"
    [remoteOperations]="false"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    [showBorders]="false"
    [invalidDateMessage]="''"
    (onFocusedCellChanged)="onFocusedCellChanged($event)"
    [editing]="{ mode: 'batch' }"
    [width]="'100%'"
    [showColumnLines]="false"
    [showRowLines]="false"
    keyExpr="projectMilestoneApprovalID"
    (onSelectionChanged)="onSelectionChanged($event)"
    (onEditorPreparing)="onEditorPreparing($event)"
  >
    <dxo-selection
      mode="multiple"
      [allowSelectAll]="true"
      [showCheckBoxesMode]="'always'"
    >
    </dxo-selection>

    <dxo-sorting mode="none"></dxo-sorting>
    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-load-panel [enabled]="true"> </dxo-load-panel>
    <dxo-scrolling mode="virtual"> </dxo-scrolling>

    <dxi-column
      cssClass="wrapOption-column"
      dataField="taskName"
      caption="Task Name"
      dataType="string"
      alignment="left"
    ></dxi-column>

    <dxi-column
      caption="Actual Start Date"
      dataField="actualStartDate"
      cellTemplate="actualDateCellTemplate"
      alignment="left"
      [validationRules]="dateValidationRules"
      [width]="200"
    >
    </dxi-column>

    <dxi-column
      caption="Status"
      dataField="approve"
      cellTemplate="statusCellTemplate"
      dataType="string"
    ></dxi-column>

    <dxi-column
      cssClass="wrapOption-column"
      caption="Approval Date"
      dataField="date"
      cellTemplate="dateCellTemplate"
      alignment="left"
      [width]="200"
    ></dxi-column>

    <dxi-column
      caption="Note"
      dataField="note"
      cellTemplate="notesCellTemplate"
      alignment="left"
    ></dxi-column>

    <div *dxTemplate="let row of 'actualDateCellTemplate'">
      <div
        class="dx-field-value"
        *ngIf="
          !row.data.actualStartDate ||
          !row.data.actualStartDateExists ||
          row.data.approve !== 'Approved'
        "
      >
        <crem-date-picker
          #startDatePicker
          [(value)]="row.data.actualStartDate"
          [dateFormat]="dateFormat"
          [max]="currentDate"
          [showDefaultValidationTooltip]="false"
          [disabled]="row.data.approve === 'Approved'"
          [isRequired]="row.values[0] && requireActualStartDate"
          [showClearButton]="'true'"
          [placeholderText]="'Update Start Date'"
          [dataKey]="row.data.projectMilestoneApprovalID"
          [useMaskBehavior]="false"
          (changeEvent)="onValueChanged(row, $event)"
        >
        </crem-date-picker>
      </div>
      <div
        *ngIf="
          row.data.actualStartDate &&
          row.data.actualStartDateExists &&
          row.data.approve === 'Approved'
        "
      >
        <p class="margin">
          {{ row.data.actualStartDate | date: dateFormat }}
        </p>
      </div>
    </div>

    <div *dxTemplate="let row of 'statusCellTemplate'">
      <div *ngIf="row.data.blockApproval" class="qa-taskStatus">
        {{ row.data.blockApproval }}
      </div>
      <div *ngIf="!row.data.blockApproval" class="qa-taskStatus">
        <span>{{ row.value }}</span>
        <span
          *ngIf="row.data.isProxy && row.data.approve == 'Approve'"
          class="qp-proxyMsg"
        >
          - as proxy for {{ row.data.contactName }}
        </span>
      </div>
    </div>

    <div *dxTemplate="let row of 'dateCellTemplate'">
      <ng-container *ngIf="!row.data.blockApproval">
        <div
          class="dx-field-value"
          *ngIf="!row.data.date || !row.data.dateExists"
        >
          <crem-date-picker
            #date
            [isRequired]="true"
            [value]="row.data.date"
            [dateFormat]="dateFormat"
            [showDefaultValidationTooltip]="false"
            [disabled]="row.data.isRowSelected === false"
            [showClearButton]="'true'"
            [placeholderText]="'Update Approval Date'"
            [dataKey]="row.data.projectMilestoneApprovalID"
            [useMaskBehavior]="false"
            (changeEvent)="onValueChanged(row, $event)"
          >
          </crem-date-picker>
        </div>
        <div *ngIf="row.data.date && row.data.dateExists">
          <p class="margin">{{ row.data.date | date: dateFormat }}</p>
        </div>
      </ng-container>
    </div>

    <div *dxTemplate="let row of 'notesCellTemplate'">
      <ng-container *ngIf="!row.data.blockApproval">
        <div
          class="dx-field-value"
          *ngIf="row.data.note === '' || !row.data.noteExists"
        >
          <crem-input
            #notesInput
            [debounceTime]="1000"
            [inputType]="'text'"
            [required]="isNotesFieldRequired"
            [value]="row.data.note"
            [dataKey]="row.data.projectMilestoneApprovalID"
            (valueChange)="onValueChanged(row, $event)"
            [disabled]="
              row.data.approve === 'Approved' || !row.data.isRowSelected
            "
          >
          </crem-input>
        </div>
        <div *ngIf="row.data.note !== '' && row.data.noteExists">
          <p class="margin">
            {{ row.data.note }}: {{ row.data.noteDate | date: dateFormat }}
          </p>
        </div>
      </ng-container>
    </div>
  </dx-data-grid>
</div>
