@use 'styles' as *;

.crem-quick-approval-data-grid {
  height: 634px;
  .dx-field-value {
    width: 100%;
  }
}
:host
  ::ng-deep
  dx-data-grid
  .dx-datagrid-content
  .dx-datagrid-table
  .dx-row
  > td {
  vertical-align: middle;
}
.margin {
  margin-bottom: 0px;
  margin-left: 5px;
}
::ng-deep #quickApprovalDatagrid {
  td:has(div.dx-state-disabled) {
    pointer-events: none;
    .dx-state-disabled {
      visibility: hidden;
    }
  }

  .qa-taskStatus,
  .wrapOption-column {
    white-space: pre-wrap;
    & .qp-proxyMsg {
      font-style: italic;
    }
  }
}

.qa-summaryText {
  padding-bottom: 4px;
}
