@use 'src/assets/styles/colors';

// TODO: This is a global stylesheets, needs revision and add :host
::ng-deep {
  .dx-datagrid-content
    .dx-datagrid-table
    .dx-row
    .dx-command-edit.dx-command-edit-with-icons
    .dx-link {
    text-decoration: none !important;
  }

  .dx-invalid-message .dx-overlay-content.dx-resizable {
    display: none;
  }

  .dx-row {
    font: 14px 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif !important;
  }

  .dx-popup-title.dx-toolbar {
    padding-left: 16px !important;
    padding-right: 16px !important;
    height: 48px !important;
  }

  .dx-popup-title.dx-toolbar .dx-toolbar-item:last-child {
    font-size: 20px !important;
  }

  .dx-datagrid-rowsview .dx-texteditor-input {
    height: auto;
    min-height: unset;
  }

  .dx-toolbar-label {
    max-width: 90% !important;
  }

  .dx-toolbar-label .dx-toolbar-item-content {
    overflow: visible;

    & > div {
      overflow: visible;
    }
  }

  .dx-toolbar-item.custom-add {
    .dx-button-has-text {
      .dx-button-content {
        padding: 8px;

        .dx-button-text {
          line-height: 1;
        }
      }
    }
  }

  .dx-popup-content {
    padding: 0;
  }

  .dx-popup-bottom {
    border-top: 1px solid colors.$gray;

    &.dx-toolbar {
      padding: 16px;

      .dx-toolbar-item {
        padding: 0;
      }
    }

    .dx-button {
      margin-left: 8px;

      &.dx-button-default {
        background-color: colors.$costarBlue;
        border-color: colors.$costarBlue;
        border-radius: 2px;
        padding: 0;

        &:hover {
          background-color: darken(colors.$costarBlue, 5%);
        }
      }

      .dx-button-content {
        padding: 8px;

        .dx-button-text {
          line-height: 1;
        }
      }
    }
  }

  .dx-button-normal {
    border-radius: 2px;
  }

  .dx-header-row {
    .dx-header-filter {
      &.dx-header-filter-empty {
        color: hsla(0, 0%, 58.4%, 0.5);
      }

      color: colors.$costarMediumBlue;
    }
  }

  .dx-row.dx-data-row {
    &.dx-state-hover {
      background-color: #cae3fe;
      cursor: pointer;

      &:not(.dx-selection):not(.dx-row-modified):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row)
        > td:not(.dx-focused)
        .dx-link {
        color: #337ab7;
      }
    }
  }

  #divUnsavedChangedPopup {
    padding: 16px;
  }

  .highlight {
    color: #ff0000 !important;
  }

  .sharing-datagrid .dx-header-row,
  .list-page-data-grid .dx-header-row {
    background-color: colors.$lightGray;
    color: colors.$costarBlue;
    font-weight: bold !important;
  }
}
