@use 'styles' as *;

.batch-event {
  &__dropdown {
    margin-right: 8px;
  }
}

::ng-deep {
  .mat-horizontal-stepper-header {
    pointer-events: none !important;
  }

  dx-data-grid {
    .dx-header-row > td > .dx-datagrid-text-content {
      display: inline-block;
      text-align: left;
      vertical-align: top;
      white-space: normal;
    }
  }
}

div.chip {
  align-items: center;
  border-color: rgb(194, 194, 194);
  border-image: initial;
  border-radius: 14px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  height: 24px;
  justify-content: center;
  letter-spacing: normal;
  line-height: normal;
  min-width: 16px;
  padding: 4px 8px;
  text-align: center;
  margin-right: 10px;

  &.secondary {
    background: rgb(255, 255, 255);

    &.costar {
      border-color: rgb(5, 89, 179);
      color: rgb(5, 89, 179);
    }
  }
}

.no-portfolio-selected {
  @include costar(color, gray03);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

:host {
  ::ng-deep {
    .mat-horizontal-stepper-content {
      flex-direction: column;
      height: 100%;
    }

    .mat-mdc-menu-panel {
      background-color: #0559b3;
      border-color: #0559b3;
      color: white;
      min-height: 0px !important;
    }

    .dx-cell-focus-disabled {
      cursor: default;
    }

    .dx-toolbar-item {
      padding: 7px 8px 0 0 !important;
    }

    .search-container {
      max-height: 32px;
    }
  }
}

.disabled {
  cursor: default;
}

.hidden {
  display: none;
}

.search-box {
  margin-left: 16px;
}

.dx-field-value {
  width: 100% !important;
}

[hidden] {
  display: none;
}

:host::ng-deep {
  .matMenuSize {
    min-height: 0px;
  }
}

.controls-right * {
  @include costar(margin-left, 2);
}

.controls-left > *:not(:first-child) {
  @include costar(margin-left, 2);
  align-items: unset;
}

:host ::ng-deep {
  .controls-right input {
    max-height: 30px;
    padding-bottom: 0px !important;
    background-color: transparent;
    padding-top: 6px !important;
  }
  .search-input-container {
    max-height: 32px;
  }
}

:host ::ng-deep {
  #ba-menu-more {
    width: 80px !important;
  }
}

div.list-page div.list-page-controls-wrapper > div {
  align-items: unset;
}

.dx-texteditor.dx-editor-outlined {
  border-radius: 0.15rem;
  border-color: #c8c8c8;
}

.list-view-dropdown {
  margin-top: 2px;
}

#ba-event-page-grid .dx-datagrid-header-panel {
  display: none;
}

crem-button {
  opacity: unset !important;
}

#dynamic-sql {
  @include costar(padding, 5);
}

.form-row {
  width: 100%;
}
