<div id="password-reset-request">
  <div id="company-logo">
    <img alt="Costar logo" src="assets/images/costar-logo.png" />
  </div>
  <div class="password-reset-request-wrapper mt-5">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Password Reset Request</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="mx-auto">
          <form
            id="form"
            [formGroup]="resetPasswordRequestForm"
            (ngSubmit)="sendResetRequest()"
          >
            <div *ngIf="requestHasBeenSent" class="email-sent-header">
              Email Sent
            </div>
            <div class="instructions">{{ getInstructions() }}</div>
            <div *ngIf="!requestHasBeenSent">
              <cs-text-field
                id="email"
                formControlName="email"
                placeholder="Email"
                [type]="text"
                [required]="true"
                [error]="
                  (form.email.touched && form.email.errors?.required) ||
                  (form.email.touched && form.email.errors?.email)
                "
                [errorMsg]="getEmailErrorMsg()"
                required
              >
              </cs-text-field>
            </div>
            <div *ngIf="!requestHasBeenSent">
              <button
                *ngIf="!isLoading"
                id="reset-btn"
                class="btn btn-primary btn-block mt-2"
                type="submit"
              >
                Submit
              </button>
              <button
                *ngIf="isLoading"
                id="reset-btn"
                class="btn btn-primary btn-block mt-2"
                type="button"
                disabled
              >
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                Loading...
              </button>
            </div>
            <div
              class="return-to-login-link"
              [ngClass]="{ 'center-reset-btn': requestHasBeenSent }"
            >
              <button
                type="button"
                class="btn btn-link pt-1"
                (click)="navigateToLoginPage()"
              >
                Return to Login Page
              </button>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
