<mat-card>
  <mat-card-header>
    <mat-card-title>Client Secret Expiration Duration (In Days)</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <label for="duration" class="expire-label"
        >(If left blank there is no expiration date)</label
      >
      <input
        id="duration"
        type="number"
        min="1"
        value="{{
          serviceAccountInfo.secretExpiresInDays === null
            ? ''
            : serviceAccountInfo.secretExpiresInDays
        }}"
        placeholder="{{
          serviceAccountInfo.secretExpiresInDays === null
            ? 'No Duration Set'
            : ''
        }}"
        oninput="validity.valid||(value='')"
        [disabled]="serviceAccountInfo.secretGeneratedDate === null"
        (change)="saveExpiresInDays($event.target.value)"
        (keydown.enter)="saveExpiresInDays($event.target.value)"
      />
    </div>
  </mat-card-content>
</mat-card>
