<div class="service-account-configuration">
  <mango-ca-navbar></mango-ca-navbar>
  <div *ngIf="serviceAccountInfo$ | async as info; else loading">
    <mango-service-account-api-keys
      [serviceAccountInfo]="info"
      (apiKeyUpdated)="serviceAccountUpdated()"
    >
    </mango-service-account-api-keys>
    <div class="middle-row-grid-container">
      <mango-service-account-sites
        [sites]="info.clientSites"
        (apiAccessUpdated)="serviceAccountUpdated()"
      >
      </mango-service-account-sites>
      <mango-service-account-endpoints
        [scopes]="info.scopes"
        [availableScopes]="info.availableScopes"
        (endPointAccessUpdated)="serviceAccountUpdated()"
      >
      </mango-service-account-endpoints>
      <mango-service-account-api-key-duration
        [serviceAccountInfo]="info"
        (apiKeyExpiresInDaysUpdated)="serviceAccountUpdated()"
      >
      </mango-service-account-api-key-duration>
    </div>
    <mango-service-account-history
      *ngIf="serviceAccountChangeHistories$ | async as history; else loading"
      [histories]="history"
    >
    </mango-service-account-history>
  </div>
</div>
<ng-template #loading>
  <p class="loadingMessage">Loading...</p>
</ng-template>
