<div class="title">
  <div
    class="leaseName"
    [id]="accountingSummaryService.getId(componentName, 'title', 'section')"
  >
    <span class="bold-text">Lease:</span> {{ leaseName }}
  </div>

  <div class="info-icon">
    <crem-icon
      [id]="accountingSummaryService.getId(componentName, 'info', 'icon')"
      pack="crem"
      icon="cremInfo"
      color="dark"
      (click)="showObjectInfoPopup()"
    >
    </crem-icon>
  </div>
  <div
    *ngIf="isLocked"
    [id]="accountingSummaryService.getId(componentName, 'lock', 'click')"
    class="lock-notice-pill"
    (click)="showTooltip = !showTooltip"
  >
    <div class="lock-icon">
      <crem-icon
        [id]="accountingSummaryService.getId(componentName, 'lock', 'icon')"
        pack="solid"
        icon="faLock"
      >
      </crem-icon>
    </div>
    &nbsp;Locked
  </div>

  <div *ngIf="isArchived" class="archive-notice-pill">
    <div>
      <crem-icon
        class="lock-icon"
        [id]="accountingSummaryService.getId(componentName, 'archive', 'icon')"
        pack="solid"
        icon="faLock"
      >
      </crem-icon>
    </div>
    &nbsp;Archived
  </div>

  <dx-tooltip
    [id]="accountingSummaryService.getId(componentName, 'lock', 'tooltip')"
    target="#accounting-summary-lease-lock-click"
    [visible]="showTooltip"
    (onHiding)="showTooltip = !showTooltip"
  >
    <div
      [id]="accountingSummaryService.getId(componentName, 'content', 'tooltip')"
      *dxTemplate="let data of 'content'"
      class="content-class"
    >
      {{ lockedReason }}
      <p>
        <i
          >Locked records cannot be edited. Records will be unlocked when the
          batch has completed processing or has been canceled.</i
        >
      </p>
    </div>
  </dx-tooltip>
</div>
