@use 'styles' as *;

@mixin flex-column-direction {
  display: flex;
  flex-direction: column;
}

@mixin flex-row-direction {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
}

.details-container {
  @include flex-column-direction;
  @include costar(padding, 3);
  @include costar(padding, 3);
  width: 100%;
}

.details-section-controls {
  display: grid;
  @include costar(padding-bottom, 2);
  grid-auto-flow: column;
  grid-row-gap: 12px;
  width: 100%;

  & .controls {
    & .controls-container {
      display: grid;
      grid-auto-flow: column;
      @include costar(margin-right, 3);
    }
  }
}

.comments-section {
  @include costar(padding-top, 3);
}

.terms-container {
  display: grid;
  grid-column: 3 span;

  .terms-row {
    display: grid;
    grid-auto-flow: column;
    grid-row-gap: 12px;
    .controls-container {
      grid-template-columns: 1fr 0.7fr;
    }
  }
}

.term-hint {
  @include flex-row-direction;
  @include costar(padding-top, 2);
  @include costar(padding-right, 3);
  margin-left: auto;

  & span {
    @include costar(color, gray03);
    @include costar(padding-top, 1);
    @include costar(margin-right, 1);
    font-size: 0.8rem;
    text-wrap: nowrap;
  }

  & span:last-child {
    @include costar(margin-right, 0);
  }
}

.term-validation {
  @include flex-row-direction;
  @include costar(padding-top, 2);
  @include costar(padding-right, 3);
  margin-right: auto;
}

.terms-checkbox {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  text-wrap: nowrap;

  & crem-input-label {
    @include costar(color, danger);
    font-size: 0.8rem;
  }
}

.indented-text {
  margin-left: 5px;
}

.message-title {
  font-weight: 500;
}

:host::ng-deep #details-section-card {
  dx-date-box {
    height: 32px;
  }
}

:host::ng-deep #details-termBegin-dropdown {
  .dx-overlay-content:not(.dx-invalid-message-content) {
    min-width: 430px !important;
  }
}

:host::ng-deep #details-termEnd-dropdown {
  .dx-overlay-content:not(.dx-invalid-message-content) {
    min-width: 430px !important;
  }
}

@media (max-width: 1280px) {
  .details-section-controls {
    grid-auto-flow: row;
  }
  .terms-row {
    grid-auto-flow: row !important;
  }
  .terms-container {
    grid-column: unset;
  }
}
