<crem-card
  [id]="accountingSummaryService.getId(componentName, 'section', 'card')"
  [title]="title"
>
  <form [formGroup]="scheduleDetailsForm" class="details-container">
    <div class="details-section-controls">
      <div class="controls">
        <div class="labels">
          <crem-input-label
            [id]="
              accountingSummaryService.getId(
                componentName,
                'classification',
                'label'
              )
            "
            [label]="'Classification'"
            [showInfo]="false"
            [required]="true"
          >
          </crem-input-label>
        </div>
        <div class="controls-container">
          <crem-dropdown
            [id]="
              accountingSummaryService.getId(
                componentName,
                'classification',
                'dropdown'
              )
            "
            [placeholder]="'Select Classification'"
            displayExpr="classificationType"
            [dataSource]="classificationTypeList"
            value="classificationID"
            valueExpr="classificationID"
            [required]="true"
            [showClearButton]="false"
            [initialSelectedValue]="selectedClassificationID"
            (selectedItems)="onClassificationValueChanged($event)"
            formControlName="classificationId"
            [containerized]="true"
            (blur)="classificationBlur = true"
            [customRequireValidation]="!classificationBlur"
          >
          </crem-dropdown>
        </div>
      </div>

      <div class="controls">
        <div class="labels">
          <crem-input-label
            [id]="
              accountingSummaryService.getId(
                componentName,
                'journalEntryProfile',
                'label'
              )
            "
            [label]="'Journal Entry Profile'"
            [showInfo]="false"
            [required]="journalEntryProfileRequired"
          >
          </crem-input-label>
        </div>
        <div class="controls-container">
          <crem-dropdown
            #jeProfileDD
            [id]="
              accountingSummaryService.getId(
                componentName,
                'journalEntryProfile',
                'dropdown'
              )
            "
            [placeholder]="'Select Journal Entry Profile'"
            displayExpr="profileName"
            [isSearchable]="false"
            [dataSource]="journalEntryProfileList"
            [allowSearch]="false"
            [required]="journalEntryProfileRequired"
            value="profileID"
            valueExpr="profileID"
            [showClearButton]="!journalEntryProfileRequired"
            [initialSelectedValue]="selectedjournalEntryProfileID"
            (selectedItems)="onJournalEntryProfileValueChanged($event)"
            formControlName="journalEntryProfile"
            [containerized]="true"
            [status]="jeProfileStatus"
            [statusMessage]="jeProfileStatusMessage"
            (blur)="
              jeProfileBlur = journalEntryProfileList.length > 0 ? true : false
            "
            [customRequireValidation]="!jeProfileBlur"
          >
            ></crem-dropdown
          >
        </div>
      </div>

      <div class="terms-container" id="termRows">
        <div class="terms-row">
          <div class="controls">
            <div class="labels">
              <crem-input-label
                [id]="
                  accountingSummaryService.getId(
                    componentName,
                    'termBegin',
                    'label'
                  )
                "
                [label]="'Accounting Term Begin'"
                [showInfo]="false"
                [required]="true"
              >
              </crem-input-label>
            </div>
            <div class="controls-container">
              <crem-dropdown
                [id]="
                  accountingSummaryService.getId(
                    componentName,
                    'termBegin',
                    'dropdown'
                  )
                "
                [placeholder]="'Select Term Begin...'"
                displayExpr="accountingEventBeginDateDisplay"
                [isSearchable]="false"
                [dataSource]="beginDateOptionsForEvents"
                [allowSearch]="false"
                value="optionID"
                valueExpr="optionID"
                [required]="true"
                [showClearButton]="false"
                (selectedItems)="setTermBeginDate($event)"
                [initialSelectedValue]="selectedBeginDateID"
                formControlName="accountingEventBeginDateDropdown"
                [customRequireValidation]="!termBeginBlur"
                [containerized]="true"
                (blur)="termBeginBlur = true"
                [status]="termBeginStatus"
                [statusMessage]="termBeginStatusMessage"
              ></crem-dropdown>
              <crem-date-picker
                [id]="
                  accountingSummaryService.getId(
                    componentName,
                    'termBegin',
                    'date-picker'
                  )
                "
                [value]="termBeginDate"
                [useMaskBehavior]="false"
                [dateFormat]="dateFormat"
                [invalidDateMessage]="'Invalid date'"
                [showClearButton]="false"
                [isRequired]="true"
                (changeEvent)="onTermBeginDateChange($event)"
                formControlName="accountingEventBeginDate"
                (blur)="termBeginBlur = true"
              >
              </crem-date-picker>
            </div>
          </div>

          <div class="controls">
            <div class="labels">
              <crem-input-label
                [id]="
                  accountingSummaryService.getId(
                    componentName,
                    'termEnd',
                    'label'
                  )
                "
                [label]="'Accounting Term End'"
                [showInfo]="false"
                [required]="true"
              >
              </crem-input-label>
            </div>
            <div class="controls-container">
              <crem-dropdown
                [id]="
                  accountingSummaryService.getId(
                    componentName,
                    'termEnd',
                    'dropdown'
                  )
                "
                [placeholder]="'Select Term End...'"
                displayExpr="accountingEventEndDateDisplay"
                [dataSource]="endDateOptionsForEvents"
                value="optionID"
                valueExpr="optionID"
                [required]="true"
                [showClearButton]="false"
                (selectedItems)="setTermEndDate($event)"
                [initialSelectedValue]="selectedEndDateID"
                formControlName="accountingEventEndDateDropdown"
                [containerized]="true"
                (blur)="termEndBlur = true"
                [customRequireValidation]="!termEndBlur"
                [status]="termEndStatus"
                [statusMessage]="termEndStatusMessage"
              ></crem-dropdown>

              <crem-date-picker
                [id]="
                  accountingSummaryService.getId(
                    componentName,
                    'termEnd',
                    'date-picker'
                  )
                "
                [value]="termEndDate"
                [dateFormat]="dateFormat"
                [useMaskBehavior]="false"
                [invalidDateMessage]="'Invalid date'"
                [showClearButton]="false"
                [isRequired]="true"
                formControlName="accountingEventEndDate"
                (changeEvent)="onTermEndDateChange($event)"
                (blur)="termEndBlur = true"
              >
              </crem-date-picker>
            </div>
          </div>
        </div>
        <div class="terms-row">
          <div class="term-validation" *ngIf="termsValidationFailed">
            <div class="terms-checkbox">
              <crem-check-box
                [id]="
                  accountingSummaryService.getId(
                    componentName,
                    'include-charges',
                    'checkbox'
                  )
                "
                formControlName="notFirstDayOfTheMonth"
                [elementAttr]="{
                  'aria-label': 'Include charges from the first of the month'
                }"
              >
              </crem-check-box>
              <crem-input-label
                [id]="
                  accountingSummaryService.getId(
                    componentName,
                    'include-charges',
                    'label'
                  )
                "
                [label]="'Include charges from the first of the month?'"
                [name]="'details-include-charges-checkbox'"
              >
              </crem-input-label>
            </div>
          </div>
          <div
            class="term-hint"
            *ngIf="
              termBeginDate &&
              termEndDate &&
              measureEvent !== 'Full Termination'
            "
          >
            <span
              title="Accounting Term (Years, Months, Days)"
              *ngIf="termString"
              >{{ termString }} |</span
            >
            <span
              title="Accounting Term (Number of Periods)"
              *ngIf="portfolioSettings?.leaseRecognitionCalendarID !== 1"
            >
              {{ termInPeriods }} Periods |</span
            >
            <span title="Accounting Term (Number of Months)">
              {{ termInMonths | number: '1.2-2' }} Months |
            </span>
            <span title="Accounting Term (Number of Days)"
              >{{ termInDays | number: '1.0-0' }} Days</span
            >
          </div>

          <div
            class="term-hint"
            *ngIf="
              termBeginDate &&
              termEndDate &&
              measureEvent === 'Full Termination'
            "
          >
            <span title="Accounting Terms">
              0 Periods | 0.00 Months | 0 Days</span
            >
          </div>
        </div>
      </div>

      <div class="controls">
        <div class="labels">
          <crem-input-label
            [id]="
              accountingSummaryService.getId(
                componentName,
                'reporting-exception',
                'label'
              )
            "
            [label]="'Reporting Exception'"
            [showInfo]="false"
          >
          </crem-input-label>
        </div>
        <div class="controls-container">
          <crem-dropdown
            [id]="
              accountingSummaryService.getId(
                componentName,
                'reporting-exception',
                'dropdown'
              )
            "
            [placeholder]="'Select Reporting Exceptions...'"
            displayExpr="name"
            [isSearchable]="false"
            [dataSource]="reportingExceptionsList"
            [allowSearch]="false"
            value="id"
            valueExpr="id"
            [showClearButton]="false"
            [initialSelectedValue]="selectedExceptionId"
            (selectedItems)="onReportingExceptionValueChanged($event)"
            formControlName="reportingExceptions"
            [containerized]="true"
          ></crem-dropdown>
        </div>
      </div>

      <div
        class="controls"
        *ngIf="
          !addEventFormService.operatingClassifications.includes(
            selectedClassificationID
          )
        "
      >
        <div class="labels">
          <crem-input-label
            [id]="
              accountingSummaryService.getId(
                componentName,
                'isImpaired',
                'label'
              )
            "
            [label]="'Is Impaired'"
            [showInfo]="false"
            [name]="'details-is-impaired-toggle'"
          >
          </crem-input-label>
        </div>
        <div class="controls-container">
          <crem-toggle-slider
            [id]="
              accountingSummaryService.getId(
                componentName,
                'is-impaired',
                'toggle'
              )
            "
            size="wide"
            checkedLabel="YES"
            uncheckedLabel="NO"
            formControlName="isImpaired"
          >
          </crem-toggle-slider>
        </div>
      </div>
    </div>

    <div class="comments-section" *ngIf="showReportExceptionComment">
      <div class="controls">
        <div class="labels">
          <crem-input-label
            [id]="
              accountingSummaryService.getId(
                componentName,
                'report-exception-comment',
                'label'
              )
            "
            [label]="'Other Reason Explanation'"
            [name]="'details-report-exception-comment-textarea'"
            [required]="true"
          >
          </crem-input-label>
        </div>
        <div class="controls-container">
          <crem-input
            [id]="
              accountingSummaryService.getId(
                componentName,
                'report-exception-comment',
                'textarea'
              )
            "
            [inputType]="'textarea'"
            [value]="''"
            [name]="''"
            [placeholder]="''"
            [required]="true"
            [allowScrolling]="true"
            [rows]="2"
            formControlName="reportingExceptionReason"
          >
          </crem-input>
        </div>
      </div>
    </div>

    <div class="comments-section">
      <div class="controls">
        <div class="labels">
          <crem-input-label
            [id]="
              accountingSummaryService.getId(componentName, 'comments', 'label')
            "
            [label]="'Comments'"
            [name]="'details-comments-textarea'"
          >
          </crem-input-label>
        </div>
        <div class="controls-container">
          <crem-input
            [id]="
              accountingSummaryService.getId(
                componentName,
                'comments',
                'textarea'
              )
            "
            [inputType]="'textarea'"
            [value]="''"
            [name]="''"
            [placeholder]="''"
            [required]="false"
            [allowScrolling]="true"
            [rows]="2"
            formControlName="detailsSectionComments"
          >
          </crem-input>
        </div>
      </div>
    </div>
  </form>
</crem-card>

<crem-popup
  [id]="accountingSummaryService.getId(componentName, '12-month', 'validation')"
  [visible]="reportExceptionValidationPopup"
  [showInfo]="false"
  [saveButtonText]="'Yes'"
  [closeButtonText]="'No'"
  height="auto"
  width="500"
  [draggable]="'false'"
  [resizable]="'true'"
  [showCloseButton]="'true'"
  [hideOnOutsideClick]="'true'"
  [showFooter]="'true'"
  (close)="closeReportExceptionPopup()"
  (save)="setScheduleAsException()"
>
  <div body>
    The term is 12 months or less. Do you want to indicate this schedule as an
    exception?
  </div>
</crem-popup>
