.dx-widget {
  color: inherit;
}

.dx-button-mode-outlined {
  color: inherit;
}

.dx-dropdowneditor-icon {
  color: $costarBlue;
}

.dx-popup-wrapper {
  .dx-overlay-content {
    border-radius: 2px;

    div.dx-popup-title.dx-toolbar {
      border-bottom: $stdBorder;
      padding: 6px $dblPadding;
    }

    div.dx-popup-content {
      padding: 16px;

      div.dx-template-wrapper {
        &.popup-no-padding {
          position: absolute;
          top: 49px;
          bottom: 0px;
          left: 0px;
          right: 0px;
          height: unset;
          width: unset;

          &.popup-no-title {
            top: 0;
          }
        }
      }

      dx-scroll-view.popup-tab-panel-item {
        padding: $dblPadding 0px 0px $dblPadding;
      }

      .dialog-body {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 100%;

        .dialog-content {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          overflow: auto;
          // margin-bottom: $dblPadding;
          // padding: $dblPadding;

          div.dialog-controls-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: $stdPadding $dblPadding;
            font-size: 14px;

            & > div {
              display: flex;
              align-items: center;
              z-index: 500;

              &.controls-left {
                mat-form-field.mat-form-field,
                button.btn,
                dx-text-box,
                dx-drop-down-box,
                dx-drop-down-button {
                  margin-right: $stdPadding;
                }

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                  margin: 0px;
                }
              }

              &.controls-right {
                mat-form-field.mat-form-field,
                button.btn,
                mat-button-toggle-group,
                dx-drop-down-button {
                  margin-left: $stdPadding;
                }
              }
            }

            button.btn {
              font-size: 14px;
            }
          }

          div.dialog-table-wrapper {
            display: flex;
            flex-grow: 1;
            overflow: auto;

            &.list-view-sharing-rights {
              display: block;
              height: 316px;
            }
          }
        }

        .dialog-footer {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: $dblPadding;
          border-top: $stdBorder;

          .dialog-footer-left {
            dx-button,
            button,
            dx-select-box {
              margin-right: $stdPadding;
            }
          }

          .dialog-footer-right {
            dx-button,
            button {
              margin-left: $stdPadding;
            }
          }
        }
      }
    }
  }

  &.dx-dropdowneditor-overlay {
    // &:not(.dx-selectbox-popup-wrapper):not(.dx-dropdownlist-popup-wrapper){
    .dx-overlay-content {
      // min-width: 320px !important;// Removed, this affects too many components; please pass instead a unique class name into the 'crem-dropdown' component using the 'dropDownContainerCustomClass' parameter. Then create your styles using the class name passed inside your micro-component/mango-crem-feature for better CSS management, E.g. ::ng-deep { .accountingViewDropDown > > .dx-overlay-content { min-width: 350px; } }
      div.dx-popup-content {
        padding: 0px;
      }
    }
    // }
  }

  .dx-popup-bottom.dx-toolbar {
    padding: $dblPadding;
  }

  &.dx-header-filter-menu {
    .dx-popup-bottom.dx-toolbar {
      padding: 0px $dblPadding $dblPadding $dblPadding;
    }
  }
}

dx-data-grid {
  height: 100%;

  div.dx-datagrid-headers {
    background-color: $lightGray;
    div.dx-datagrid-content {
      table {
        tbody {
          background-color: $lightGray;
          color: $costarBlue;
          font-family: Helvetica;
          font-size: 14px;
          font-weight: bold;
          tr.dx-header-row {
            td {
              div.dx-column-indicators {
                span.dx-header-filter {
                  color: $costarMediumBlue;
                  &.dx-header-filter-empty {
                    color: rgba(149, 149, 149, 0.5);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  table.dx-datagrid-table {
    tbody {
      tr.dx-row.dx-data-row {
        &:hover {
          background: $hoverBlue !important;
          cursor: pointer;
        }

        &.dx-row-alt {
          &:hover {
            background: $hoverBlue !important;
            cursor: pointer;
            td {
              background: $hoverBlue !important;
              cursor: pointer;
            }
          }

          td {
            background: $offWhite;
          }
        }

        &.dx-selection {
          &:hover {
            background: $costarLightBlue;
            color: white;
          }
          &.dx-row-alt {
            &:hover {
              td {
                background: $costarLightBlue !important;
                color: white;
              }
            }
          }

          td {
            background: $costarLightBlue;
            color: black;
          }
        }
      }

      tr.dx-row.dx-group-row {
        td.dx-group-cell {
          color: black;
        }
      }

      tr.dx-row.dx-master-detail-row {
        td.dx-master-detail-cell {
          padding: $dblPadding;
        }
      }
    }
  }

  .dx-header-row > td > .dx-datagrid-text-content {
    text-align: center;
  }

  .dx-datagrid .dx-row-alt > td,
  .dx-datagrid .dx-row-alt > tr > td {
    background-color: $offWhite;
  }

  div.dx-datagrid-pager.dx-pager {
    div.dx-page-sizes {
      div.dx-page-size {
        &.dx-selection {
          color: white;
          background-color: $primary;
        }
      }
    }

    div.dx-pages {
      div.dx-page {
        &.dx-selection {
          color: white;
          background-color: $primary;
        }
      }

      div.dx-navigate-button {
        color: $primary;
      }
    }
  }

  .dx-datagrid-search-text {
    color: black;
    background-color: rgb(255, 255, 55);
  }

  &.select-box-dropdown-data-grid {
    div.dx-datagrid-headers {
      background-color: $white;
      div.dx-datagrid-content {
        table {
          tbody {
            background-color: $white;
            color: rgb(51, 51, 51, 0.6);
            font-weight: normal;
          }
        }
      }
    }
  }

  .dx-datagrid-content .dx-datagrid-table .dx-row > td,
  .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td {
    vertical-align: unset;
  }
}

dx-pivot-grid {
  height: 100%;
}

dx-data-grid.accounting-measurement-grid {
  max-height: 158px !important;
  font-size: 12px;
}

div.dx-button {
  height: 32px;
  border-radius: 2px !important;
  font-size: 14px;
  font-family: 'Helvetica';
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: normal;
  text-align: center;
  height: $stdPadding * 4;

  &.dx-button-mode-contained {
    background-color: white;
    border-color: $borderColor;
    color: $costarRichGray;
    &:hover {
      background-color: #e6e6e6;
      border-color: #adadad;

      &:disabled {
        background-color: white;
        border-color: $borderColor;
        color: $costarRichGray;
      }
    }
  }

  // div.dx-button-content { // This is leaking to other devExtreme components
  //   padding: 0px;
  // }

  &.dx-closebutton {
    padding: 0px !important;
  }
}

.dx-texteditor {
  &.dx-editor-outlined {
    border-radius: 2px;
    border-color: $gray;

    .dx-text-editor-input {
      border-radius: 2px;
    }
  }
}

dx-text-box,
dx-date-box,
dx-select-box,
dx-drop-down-box,
dx-number-box,
dx-drop-down-button {
  height: 4 * $stdPadding;
}

dx-form {
  div.dx-template-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    dx-text-box,
    dx-date-box,
    dx-select-box,
    dx-drop-down-box,
    dx-number-box,
    dx-text-area,
    dx-range-slider {
      display: inline-block;
      flex-grow: 1;
      height: 4 * $stdPadding;
    }

    &.label-on-top {
      dx-text-box,
      dx-date-box,
      dx-select-box {
        margin-right: -4 * $stdPadding;
      }

      fa-icon {
        padding-right: calc($stdPadding / 2);

        position: relative;
        top: -34px;
      }
    }

    portfolio-menu {
      width: 100%;
    }

    costar-dropdown {
      width: 100%;

      dx-drop-down-box {
        width: 100%;
      }
    }
  }

  .dx-field-item-help-text {
    color: $gray;
  }

  div.dx-layout-manager {
    .dx-field-item:not(.dx-last-col) {
      padding-right: 0px;
    }
  }

  div.form-button-template {
    justify-content: center;
  }
}

div.dx-popup-flex-height {
  div.dx-popup-content {
    // padding: 0px;

    div.dx-accordion-item-title {
      font-size: 14px;

      &:before {
        font-size: 14px;
      }
    }
  }
}

dx-drop-down-button {
  div.dx-button {
    padding: 0px;
    border: 0px;
    height: auto;

    div.dx-button-content {
      padding: 0px !important;

      .dx-button-text {
        vertical-align: unset;
      }

      i.dx-icon-right {
        margin: 0 !important;
      }
    }
  }
}

div.dx-popup-normal {
  div.dx-popup-title {
    div.dx-closebutton {
      border: 0px;
    }
  }
}

.dx-popover-wrapper {
  .dx-popup-content {
    padding: 0px;
  }
}

dx-text-box {
  div.dx-texteditor-container {
    div.dx-texteditor-buttons-container {
      div.dx-button.dx-button-mode-text {
        padding: $stdPadding;
        div.dx-button-content {
          i.dx-icon {
            width: $dblPadding;
            height: $dblPadding;
            background-size: $dblPadding $dblPadding;
            font-size: 18px;
            line-height: calc($stdPadding / 2);
          }
        }
      }
    }
  }
}

dx-tab-panel.dx-tabpanel {
  div.dx-tabpanel-tabs {
    background: $backgroundGray;
    div.dx-tabs {
      border: none;
      box-shadow: none;
      height: 36px;
      border-bottom: $stdBorder;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-content: center;

      div.dx-tabs-wrapper {
        display: flex;
        div.dx-tab {
          box-shadow: none;
          padding: 0px $dblPadding;
          width: auto;

          &.dx-state-hover {
            background-color: $backgroundGray;
          }

          &.dx-tab-selected {
            box-shadow: none;
            background-color: $backgroundGray;

            div.dx-tab-content {
              border-bottom: 3px solid $costarDarkOrange;
              font-weight: bold;
            }
          }

          div.dx-tab-content {
            height: 36px;
            padding: $stdPadding 0px;

            span.dx-tab-text {
              line-height: 17px;
              vertical-align: unset;
            }
          }
        }
      }
    }
  }

  &.dx-state-focused {
    div.dx-tabpanel-tabs {
      div.dx-tabs {
        box-shadow: none;
      }

      div.dx-tabs-expanded {
        div.dx-tab:not(.dx-tab-selected):first-of-type {
          box-shadow: none;
        }
      }
    }
  }

  div.dx-tabpanel-container {
    div.dx-multiview-wrapper {
      border: none;
    }
  }
}

dx-range-slider.dx-rangeslider {
  div.dx-slider-wrapper {
    div.dx-slider-bar {
      div.dx-slider-range {
        div.dx-slider-handle {
          div.dx-popover {
            div.dx-popover-wrapper {
              div.dx-popup-normal {
                div.dx-popup-content {
                  height: 24px;
                  line-height: 2;
                }
              }
            }
          }
        }
      }
    }
  }
}

div.dx-toolbar {
  div.dx-toolbar-item.dx-toolbar-button {
    div.dx-button {
      padding: 6px 8px !important;

      &.dx-closebutton {
        padding: 0px !important;
      }

      div.dx-button-content {
        padding: 0px !important;
      }
    }
  }
}
