<div class="api-keys-wrapper">
  <mat-card>
    <mat-card-header class="api-key-header">
      <mat-card-title>Service Account Configuration</mat-card-title>
      <button
        type="button"
        class="btn btn-primary"
        tabindex="0"
        (click)="generateApiKey()"
        (keydown.enter)="generateApiKey()"
      >
        Generate Secret
      </button>
    </mat-card-header>
    <mat-card-content>
      <div></div>
      <div class="api-key-grid-container">
        <div>Service Account</div>
        <div>Client Secret</div>
        <div>Date Generated</div>
        <div>Expiration Date</div>
        <div>Status</div>
        <div>{{ serviceAccountInfo.email }}</div>
        <div>
          {{
            serviceAccountInfo.secretGeneratedDate === null
              ? 'N/A'
              : '********************'
          }}
        </div>
        <div>
          {{
            serviceAccountInfo.secretGeneratedDate === null
              ? 'N/A'
              : (serviceAccountInfo.secretGeneratedDate
                | date: 'MM/dd/yyyy hh:mm:ss a')
          }}
        </div>
        <div>
          {{
            serviceAccountInfo.secretExpiresInDays === null
              ? 'N/A'
              : (serviceAccountInfo.secretExpiresOn
                | date: 'MM/dd/yyyy hh:mm:ss a')
          }}
        </div>
        <div>
          {{ serviceAccountInfo.isActive == true ? 'Active' : 'Inactive' }}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
