<!-- All elements should be placed inside of the div "<div class="accounting-summary-style-container">"  -->
<!-- This div is to prevent styles from bleeding into other components from our styles.scss file  -->

<div class="accounting-summary-style-container">
  <div class="accounting-summary-toolbar-wrapper">
    <div class="controls-left">
      <div class="accounting-summary-title">
        <mango-accounts-summary-title></mango-accounts-summary-title>
      </div>
    </div>

    <div class="controls-right">
      <div
        [id]="accountingSummaryService.getId(componentName, 'alerts', 'button')"
        class="alerts"
      >
        <mango-alerts-root
          [leaseAbstractId]="returnLeaseAbstractId()"
        ></mango-alerts-root>
      </div>

      <div class="workflow-dropdown-div">
        <mango-workflow-dropdown
          [leaseIsLocked]="isLocked"
          [leaseIsArchived]="isArchived"
          [rightsInfo]="rightsInfo"
          [workflowStatusInfo]="workflowStatusInfo"
          [modifiedById]="modifiedByID"
          (workflowStatusSavedEvent)="onWorkflowStatusSaved($event)"
        >
        </mango-workflow-dropdown>
        <div
          *ngIf="modifiedDate || modifiedByName"
          class="work-flow-change-info"
          [id]="
            accountingSummaryService.getId(
              componentName,
              'modifiedBy',
              'details'
            )
          "
        >
          <span
            (mouseenter)="onChangeByTooltipMouseOver()"
            (mouseleave)="onChangeByTooltipMouseLeave()"
          >
            Modified by
            {{
              modifiedByName.length > 20
                ? (modifiedByName | slice: 0:20) + '...'
                : modifiedByName
            }}

            on
            {{
              modifiedDate
                | date
                  : (userInfo?.useDateEU !== undefined && userInfo?.useDateEU
                      ? 'dd.MM.yyyy'
                      : 'MM/dd/yyyy')
            }}
          </span>
          <dx-tooltip
            [id]="
              accountingSummaryService.getId(componentName, 'add', 'tooltip')
            "
            target="#accounting-summary-modifiedBy-details"
            [visible]="isChangeByTooltipVisible"
          >
            <div
              *dxTemplate="let data of 'content'"
              class="modified-history-tooltip"
            >
              <div class="modified-history-row">
                <div class="modified-history-label">Modified by:</div>
                <div class="modified-history-value">{{ modifiedByName }}</div>
              </div>

              <div class="modified-history-row">
                <div class="modified-history-label">Modified date:</div>
                <div class="modified-history-value">
                  {{
                    modifiedDate
                      | date
                        : (userInfo?.useDateEU !== undefined &&
                          userInfo?.useDateEU
                            ? 'dd.MM.yyyy'
                            : 'MM/dd/yyyy')
                  }}
                </div>
              </div>

              <div class="modified-history-row">
                <div class="modified-history-label">Description:</div>
                <div class="modified-history-value">
                  {{ modifiedDescription }}
                </div>
              </div>

              <div class="modified-history-row">
                <div class="modified-history-label">Comment:</div>
                <div
                  class="modified-history-value"
                  [innerHTML]="modifiedComment"
                ></div>
              </div>
            </div>
          </dx-tooltip>
        </div>
      </div>

      <div class="workflow-history-popup-div">
        <mango-workflow-history-popup
          [userInfo]="userInfo"
          [workflowStatusHistory]="workflowStatusHistory"
        ></mango-workflow-history-popup>
      </div>

      <div class="send-to-excel-button">
        <crem-split-button
          [id]="
            accountingSummaryService.getId(
              componentName,
              'sendToExcel',
              'split-button'
            )
          "
          [text]="'Send to Excel'"
          [icon]="sendToExcelClicked ? 'faSpinner' : 'faCaretDown'"
          [iconAnimation]="sendToExcelClicked ? 'spin' : ''"
          [color]="'secondary'"
          [btnStyle]="'flat'"
          [dropdownPosition]="'right'"
          (mainButtonClick)="sendToExcelMain()"
          (selectedOption)="selectedOption($event)"
          [disabled]="
            sendToExcelClicked ||
            isAccountingEventEmpty ||
            !leaseRecognitionScheduleIDs
          "
          [options]="['Send All to Excel', 'Consolidate']"
        ></crem-split-button>
      </div>

      <div class="add-button">
        <crem-button
          [id]="accountingSummaryService.getId(componentName, 'add', 'button')"
          type="primary"
          (click)="addEvent($event)"
          [disabled]="isAddButtonDisabled || summaryServiceLock"
          (mouseenter)="onMouseEnter()"
          (mouseleave)="onMouseLeave()"
          >Add
        </crem-button>
        <dx-tooltip
          [id]="accountingSummaryService.getId(componentName, 'add', 'tooltip')"
          target="#accounting-summary-add-button"
          [visible]="isTooltipVisible"
        >
          <div *dxTemplate="let data of 'content'">
            {{ disableBtnReason }}
          </div>
        </dx-tooltip>
      </div>
    </div>
  </div>

  <div>
    <mango-events-detail-section
      [leaseIsLocked]="isLocked"
      [leaseIsArchived]="isArchived"
      [rightsInfo]="rightsInfo"
      [userInfo]="userInfo"
      [wfStatusRights]="wfStatusRights"
      (eventScheduleSelectedEvent)="setLeaseRecognitionScheduleID($event)"
      (dataChanged)="onDataChanged($event)"
    >
    </mango-events-detail-section>

    <mango-payments-detail-section
      *ngIf="!isAccountingEventEmpty"
      [classificationID]="classificationID"
      [eventScheduleData]="eventSchedule"
      [gridState]="gridState"
      [userInfo]="userInfo"
      [amortizationProfileName]="amortizationProfileName"
      [classificationType]="classificationType"
      [isAccountingEventEmpty]="isAccountingEventEmpty"
    >
    </mango-payments-detail-section>

    <mango-amortization-detail-section
      *ngIf="!isAccountingEventEmpty"
      [classificationID]="classificationID"
      [eventScheduleData]="eventSchedule"
      [gridState]="gridState"
      [userInfo]="userInfo"
      [rightsInfo]="rightsInfo"
      [wfStatusRights]="wfStatusRights"
      [amortizationProfileName]="amortizationProfileName"
      [classificationType]="classificationType"
      [isAccountingEventEmpty]="isAccountingEventEmpty"
    >
    </mango-amortization-detail-section>
  </div>
</div>

<p-toast
  position="bottom-right"
  preventOpenDuplicates="true"
  mangoAccountingAda
></p-toast>
