<div *ngIf="canAccessDocumentImportPage; else noAccessRightContent">
  <crem-card id="document-import" title="Document Import">
    <mat-horizontal-stepper
      linear
      #DocumentImportStepper
      labelPosition="bottom"
    >
      <mat-step
        id="import-files-step-index-0"
        editable="false"
        completed="false"
      >
        <ng-template matStepLabel>
          <span id="ba-acct-events">Import and Extract File(s)</span>
        </ng-template>
        <div class="step-wrapper">
          <div *ngIf="!fileLoading">
            <div class="step-content text-align-left">
              <div class="label-normal">Add Files</div>
              <div>
                <span class="label-small-gray"
                  >Select or drag and drop a file(s) to upload</span
                >
                OR <span class="label-normal"></span
                ><span class="label-small-gray">
                  import file(s) from sFTP site. Preferably, the files should be
                  compressed files.</span
                >
              </div>
              <div class="drag-drop-zone">
                <div class="drag-drop-zone-content">
                  <div class="button-label">
                    <div
                      class="label-small-gray hover-container"
                      (mouseenter)="showAllFormats()"
                      (mouseleave)="hideAllFormats()"
                    >
                      Supported Formats: ai, .avi, .bmp, .cdb, .csv, ...
                      <div class="hover-div" *ngIf="showAllFormatsDiv">
                        {{ allowedExtensions }}
                      </div>
                    </div>
                    <div class="label-small-gray">Maximum file size: 4 GB.</div>
                  </div>
                  <div>
                    <div
                      id="fileuploader-container"
                      class="fileuploader-container"
                    >
                      <dx-file-uploader
                        #fileUploader
                        selectButtonText="Select a File(s)"
                        [accept]="allowedExtensions"
                        [disabled]="isFTP"
                        focusStateEnabled="false"
                        [elementAttr]="{ id: 'SelectFilesdnd' }"
                        (onValueChanged)="handleSelectFileValueChanged($event)"
                        uploadMode="useForm"
                      ></dx-file-uploader>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ftp-container">
                <div>
                  <crem-check-box
                    class="ftp-checkbox"
                    [id]="ftp - checkbox"
                    [value]="false"
                    (changeEvent)="ftpCheckValueChanged()"
                  >
                  </crem-check-box>
                  <span class="label-normal ftp-check-label"
                    >Import compressed file from sFTP site</span
                  >
                </div>
                <div class="label-normal">Directory Location</div>
                <crem-input
                  [id]="fpt - path"
                  [value]="ftpPath"
                  [inputType]="'text'"
                  [showLabel]="false"
                  [required]="true"
                  [disabled]="true"
                ></crem-input>
                <div>
                  <div [ngClass]="isFTP ? 'label-warning' : 'ftp-label'">
                    {{ ftpWarning }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="fileLoading">
            <div class="step-content">
              <div class="load-file-header">Loading File(s)...</div>
              <div>
                <div class="label-warning" *ngIf="!isFTP">
                  Please stay on this page or open a new tab to keep working.
                </div>
                <div class="label-warning" *ngIf="!isFTP">
                  If you leave, the connection for importing will be lost.
                </div>
                <div class="label-normal" *ngIf="isFTP">
                  Please check back again later.
                </div>
                <div class="label-warning">{{ uploadStatus }}</div>
              </div>
            </div>
          </div>
          <div *ngIf="!fileLoading" class="btn-container">
            <crem-button
              class="btn"
              id="etl-next-0"
              text="Next"
              [color]="'primary'"
              [disabled]="!fileSelected"
              (buttonClick)="moveToValidateFilesStep()"
            >
            </crem-button>
          </div>
        </div>
      </mat-step>

      <mat-step
        id="import-files-step-index-1"
        editable="false"
        completed="false"
      >
        <ng-template matStepLabel>
          <span id="load-files-step">File Validation</span>
        </ng-template>
        <div class="step-wrapper">
          <files-validation-results
            id="files-validation-results"
            [fileValidationCompleted]="fileValidationCompleted"
            [filesValidationResults]="filesValidationResults"
          >
          </files-validation-results>
          <div *ngIf="fileValidationCompleted" class="btn-container">
            <crem-button
              class="btn"
              id="etl-download-validation-cancel-btn"
              text="Cancel Process"
              [color]="'secondary'"
              [btnStyle]="'basic'"
              (buttonClick)="cancelProcess()"
            >
            </crem-button>
            <crem-button
              class="btn"
              id="etl-download-validation-result-btn"
              text="Download Validation Results"
              [color]="'primary'"
              [btnStyle]="'stroked'"
              [disabled]="!fileValidationCompleted"
              (buttonClick)="downloadFileValidationResults()"
            >
            </crem-button>
            <crem-button
              class="btn"
              id="etl-next-1"
              text="Next"
              [color]="'primary'"
              (buttonClick)="moveToMappingTemplateStep(DocumentImportStepper)"
            >
            </crem-button>
          </div>
        </div>
      </mat-step>

      <mat-step
        id="import-files-step-index-2"
        editable="false"
        completed="false"
      >
        <ng-template matStepLabel>
          <span id="import-mapping-template-step"
            >Import Document Mapping Template</span
          >
        </ng-template>
        <div class="step-wrapper">
          <template-validation-results
            id="template-validation-results"
            [templateValidating]="templateValidating"
            [templateValidationCompleted]="templateValidationCompleted"
            [templateValidationResults]="templateValidationResults"
            (templateSelected)="templateSelected($event)"
            (templateValidated)="setTemplateValid($event)"
            (reValidateTemplate)="reValidateTemplate($event)"
          >
          </template-validation-results>
          <div class="btn-container">
            <crem-button 
              *ngIf="!templateValidating"
              class="btn"
              id="etl-mapping-cancel-btn"
              text="Cancel Process"
              [color]="'secondary'"
              [btnStyle]="'basic'"
              (buttonClick)="cancelProcess()"
            >
            </crem-button>
            <crem-button
              *ngIf="!templateValidationCompleted && !templateValidating"
              class="btn"
              id="etl-mapping-next-btn"
              text="Next"
              [color]="'primary'"
              [disabled]="!this.templateFile || !isTemplateValid"
              (buttonClick)="validateTemplate()"
            >
            </crem-button>
            <crem-button
              *ngIf="templateValidationCompleted"
              class="btn"
              id="etl-mapping-download-btn"
              text="Download Validation Results"
              [color]="'primary'"
              [btnStyle]="'stroked'"
              [disabled]="!templateValidationCompleted"
              (buttonClick)="downloadMappingTemplateValidationResults()"
            >
            </crem-button>
            <crem-button
              *ngIf="templateValidationCompleted"
              class="btn"
              id="etl-next-2"
              text="Proceed with Valid Records"
              [color]="'primary'"
              [disabled]="
                !templateValidationCompleted ||
                !isTemplateValid ||
                !hasValidTemplateData
              "
              (buttonClick)="moveToExecuteStep(DocumentImportStepper)"
            >
            </crem-button>
          </div>
        </div>
      </mat-step>
      <mat-step
        id="import-files-step-index-3"
        editable="false"
        completed="false"
      >
        <ng-template matStepLabel>
          <span id="execute-step">Execute</span>
        </ng-template>
        <div class="step-wrapper">
          <map-to-objects
            [executing]="executing"
            [executingCompleted]="executingCompleted"
            [comparisonResults]="comparisonResults"
          >
          </map-to-objects>
          <div *ngIf="!executing && !executingCompleted" class="btn-container">
            <crem-button
              class="btn"
              id="etl-download-validation-cancel-btn"
              text="Cancel Process"
              [color]="'secondary'"
              [btnStyle]="'basic'"
              (buttonClick)="cancelProcess()"
            >
            </crem-button>
            <crem-button
              class="btn"
              id="etl-download-validation-result-btn"
              text="Download Comparison Results"
              [color]="'primary'"
              [btnStyle]="'stroked'"
              [disabled]="!templateValidationCompleted"
              (buttonClick)="downloadComparisonResults()"
            >
            </crem-button>
            <crem-button
              class="btn"
              id="etl-next-1"
              text="Execute"
              [color]="'primary'"
              (buttonClick)="executeTemplate(DocumentImportStepper)"
            >
            </crem-button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </crem-card>
</div>

<ng-template #noAccessRightContent>
  <div class="no-access-right">
    <crem-no-objects-found
      [title]="'No access to this Page'"
      [subtitle]="
        'You do not currently have access to this page, please contact your Admin'
      "
    ></crem-no-objects-found>
  </div>
</ng-template>
