@use 'styles' as *;

mat-horizontal-stepper {
  width: 100%;
  @include costar(padding-top, 4);
}

.step-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: top;
  text-align: center;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-style: solid;
  border-width: thin;
  @include costar(color, gray05);
  @include costar(padding-right, 5);
}

.hover-container {
  display: flex;
  justify-content: right;
  align-items: right;
  position: relative;
  cursor: pointer;
}

.hover-div {
  position: absolute;
  top: 120%;
  @include costar(background-color, info-lightest);
  @include costar(border, gray01);
  padding: 10px;
  z-index: 1;
}

.btn {
  @include costar(padding, 3);
}

.ftp-container {
  width: 100%;
  @include costar(padding, 5);
  text-align: left;
  display: block;
}

.ftp-checkbox {
  display: inline-block;
  @include costar(padding-bottom, 4);
}

.ftp-check-label {
  display: inline-block;
}

.ftp-label {
  display: inline-block;
  @include costar(color, gray02);
  @include costar(font-size, navigation);
}

:host ::ng-deep {
  .mat-step-header .mat-step-icon-state-done {
      @include costar(background-color, success);     
  }
}

.fileuploader-container {
  display: inline-block;
}

::ng-deep #fileuploader-container {
  border: 1px solid #807f7f;
  margin: 10px 10px 0 10px;
  text-align: center;

  .dx-button-content {
    background-color: var(--costar-color-primary-light, #0559b3);
    color: var(--costar-color-light, #ffffff);
    padding: 5px !important;
    width: 120px;
    width: max-content;
    display: table-row;
  }
  div.dx-button.dx-button-mode-contained {
    background-color: var(--costar-color-info-lightest, #dce8f4);
    display: grid;
    justify-content: center;
    border-color: transparent;
  }
  .dx-fileuploader-input-wrapper {
    padding: 7px 0;
    border: 3px dashed transparent;
    flex: auto;
    display: grid;
    width: 100%;
    justify-content: center;
  }
  .dx-fileuploader-input-container {
    height: 100%;
    width: 100% !important;
    position: relative;
    overflow: hidden;
    display: table-row;
  }
}
