<div class="accounting-summary-toolbar-wrapper">
  <div class="controls-left">
    <div class="add-edit-title">
      <mango-accounts-summary-title></mango-accounts-summary-title>
    </div>
  </div>
  <div class="controls-right">
    <div
      [id]="accountingSummaryService.getId(componentName, 'alerts', 'button')"
      class="alerts"
    >
      <mango-alerts-root
        [leaseAbstractId]="accountingSummaryService.getLeaseAbstractId()"
      ></mango-alerts-root>
    </div>
    <div class="cancel-button">
      <crem-button
        [id]="accountingSummaryService.getId(componentName, 'cancel', 'button')"
        type="secondary"
        (click)="navigateToAccountingSummaryPage()"
      >
        Cancel
      </crem-button>
    </div>
    <div class="calculate-button">
      <crem-button
        [id]="
          accountingSummaryService.getId(
            componentName,
            'calculate-value',
            'button'
          )
        "
        type="primary"
        [disabled]="!isCalculateValuesAllowed || calculateValuesLoading"
        [icon]="calculateValuesLoading ? 'faSpinner' : ''"
        [iconPack]="calculateValuesLoading ? 'solid' : ''"
        [iconAnimation]="calculateValuesLoading ? 'spin' : ''"
        (click)="calculateValues()"
      >
        {{ calculateValuesLoading ? 'Calculating...' : 'Calculate Values' }}
      </crem-button>
    </div>

    <div class="save-close-button">
      <crem-button
        [id]="
          accountingSummaryService.getId(componentName, 'save-close', 'button')
        "
        type="primary"
        [disabled]="!isSaveAllowed || isApplyClicked"
        [icon]="isSaveAndCloseClicked ? 'faSpinner' : ''"
        [iconPack]="isSaveAndCloseClicked ? 'solid' : ''"
        [iconAnimation]="isSaveAndCloseClicked ? 'spin' : ''"
        (click)="saveAndClose()"
      >
        {{ isSaveAndCloseClicked ? 'Saving...' : 'Save & Close' }}
      </crem-button>
    </div>

    <div class="apply-button">
      <crem-button
        [id]="accountingSummaryService.getId(componentName, 'apply', 'button')"
        type="secondary"
        [disabled]="!isApplyAllowed || isApplyClicked"
        [icon]="isApplyClicked ? 'faSpinner' : ''"
        [iconPack]="isApplyClicked ? 'solid' : ''"
        [iconAnimation]="isApplyClicked ? 'spin' : ''"
        (click)="applyChanges()"
      >
        {{ isApplyClicked ? 'Saving...' : 'Apply' }}
      </crem-button>
    </div>
  </div>
</div>
<crem-block-ui
  [isBlocking]="
    calculateValuesLoading || isApplyClicked || isSaveAndCloseClicked
  "
  [message]="blockerText"
  size="lg"
  spinnerPosition="viewport"
>
  <div id="addEventsBody" class="add-events-body">
    <mango-schedule-details
      [commonDropdowns]="commonDropdowns"
      [eventsGridData]="eventsGridData"
      [pageMode]="pageMode"
      [measureEvent]="measureEvent"
      [classificationSettings]="classificationSettings"
      [accountingEventsData]="accountingEventsData"
      [eventDateOptions]="eventDateOptions"
      (classificationChanged)="onClassificationChanged($event)"
      (scheduleDetailsData)="scheduleDetailsDataChanged($event)"
    >
    </mango-schedule-details>

    <mango-classification-tests
      *ngIf="
        classificationId !== undefined &&
        classificationId !== 4 &&
        classificationId !== 5
      "
      [accountingEventsData]="accountingEventsData"
      [classificationId]="classificationId"
      [pageMode]="pageMode"
    >
    </mango-classification-tests>

    <mango-residual-value
      *ngIf="
        classificationId && classificationId !== 0 && classificationId !== 5
      "
      [accountingEventsData]="accountingEventsData"
      [pageMode]="pageMode"
    >
    </mango-residual-value>

    <mango-financial-card
      *ngIf="classificationId !== null && classificationId !== undefined"
      [pageMode]="pageMode"
      [measureEvent]="measureEvent"
      [classificationId]="classificationId"
      [classificationSettings]="classificationSettings"
      [scheduleDetailsData]="scheduleDetailsData"
      [accountingEventsData]="accountingEventsData"
      [amortizationProfiles]="amortizationProfiles"
      [currencyList]="currencyList"
      [rouAssetMethodsList]="rouAssetMethodsList"
      [minROUActionDate]="minROUActionDate"
    ></mango-financial-card>

    <mango-payments-grid
      *ngIf="classificationId !== null && classificationId !== undefined"
    >
    </mango-payments-grid>
  </div>
</crem-block-ui>
<p-toast
  position="bottom-right"
  preventOpenDuplicates="true"
  mangoAccountingAda
></p-toast>

<crem-popup
  [id]="
    accountingSummaryService.getId(
      componentName,
      'functional-rate',
      'validation'
    )
  "
  [visible]="isFunctionalRate1"
  [showInfo]="false"
  [saveButtonText]="'Yes'"
  [closeButtonText]="'No'"
  height="auto"
  width="500"
  [draggable]="'false'"
  [resizable]="'true'"
  [showCloseButton]="'true'"
  [hideOnOutsideClick]="'true'"
  [showFooter]="'true'"
  (close)="closeFunctionalRatePopup()"
  (save)="continueToCalculate()"
>
  <div body>
    <p>
      Functional Rate is 1, however, the Functional Currency does not equal the
      Local Currency.
    </p>
    <p>Would you like to continue?</p>
  </div>
</crem-popup>

<crem-popup
  [id]="
    accountingSummaryService.getId(componentName, 'remeasure', 'validation')
  "
  [visible]="openDay1DayxRemeasurePopup"
  [showInfo]="false"
  [saveButtonText]="'Edit Previous Schedule'"
  [closeButtonText]="'Dismiss, Change Dates'"
  height="auto"
  width="600"
  [draggable]="'false'"
  [resizable]="'true'"
  [showCloseButton]="'true'"
  [hideOnOutsideClick]="'true'"
  [showFooter]="'true'"
  (close)="closeRemeasuringFromDay1Popup()"
  (save)="editPreviousSchedule()"
>
  <div body>
    <p class="message-title indented-text">
      Remeasuring from Day 1 of the previous amortization schedule is not
      allowed when the status is Scheduled.
    </p>
    <p class="indented-text">
      Click <u>Dismiss, change dates</u> to remeasure and input a date that
      occurs after the first period of the previous schedule.
    </p>
    <p class="indented-text">
      Click <u>Edit previous schedule</u> to cancel this remeasure and load the
      previous amortization schedule in edit mode.
    </p>
  </div>
</crem-popup>
