<crem-modal
  [class]="editTask ? 'aet-editTaskModal' : 'aet-addTaskModal'"
  [modalTitle]="modalTitle"
  [primaryFooterButtonText]="'Save'"
  [closeOrCancelButtonText]="'Cancel'"
  [closeIconVisible]="closeButton"
  [closeDialogResult]="'true'"
  [modalId]="modalId"
  [customHeader]="true"
  [customFooter]="'true'"
>
  <div modalHeader class="aet-editTask-headerContent">
    <div class="aet-addTaskHeader" *ngIf="!editTask; else editTaskTemplate">
      <h2 class="modalTitle">{{ modalTitle }}</h2>
      <button
        (click)="closeModal()"
        class="btn-close btn-none modalCloseButton"
        color="secondary"
        aria-label="Close"
        id="aet-closeModalBtnId"
      >
        <mat-icon class="closeIcon">close</mat-icon>
      </button>
    </div>
    <ng-template #editTaskTemplate>
      <crem-dropdown
        id="aet-selectTaskDropdownId"
        dropDownContainerCustomClass="aet-taskListDropDown"
        [dataSource]="projectCurrentTasks"
        [showClearButton]="false"
        [showColumnHeader]="false"
        displayExpr="displayVal"
        valueExpr="taskId"
        [allowSearch]="true"
        [useSelectBox]="true"
        [selectBoxValue]="taskId"
        [hoverText]="selectedTaskName"
        (selectedItems)="onSelectedTaskChanged($event)"
      >
      </crem-dropdown>
      <button
        (click)="closeModal()"
        class="btn-close btn-none modalCloseButton"
        color="secondary"
        aria-label="Close"
        id="aet-closeModalBtn"
      >
        <mat-icon class="closeIcon">close</mat-icon>
      </button>
    </ng-template>
  </div>
  <div modalContent id="addEditTaskModal-content">
    <div id="aet-taskName-container" class="container">
      <h4
        class="aet-taskName-label label"
        [ngClass]="taskNameFieldInvalid ? 'fieldInvalid' : ''"
      >
        Task Name<span class="aet-required-tag">*</span>
      </h4>
      <crem-input
        #TaskNameTextBox
        [state]="'active'"
        [showHint]="false"
        [showLabel]="false"
        [showInfo]="false"
        [inputType]="'text'"
        [(value)]="taskName"
        id="aet-taskNameId"
        [required]="true"
        [placeholder]="'Enter task name'"
        (valueChange)="onTaskNameChanged($event)"
      ></crem-input>
    </div>
    <div id="aet-dates-container" class="container">
      <div id="aet-targetStartDate-container" class="aet-flexItem50">
        <h4
          class="aet-targetStartDate-label label"
          [ngClass]="taskTargetStartDateFieldInvalid ? 'fieldInvalid' : ''"
        >
          Target Start Date
        </h4>
        <crem-date-picker
          #TargetStartDatePicker
          [(value)]="targetStartDate"
          [dateFormat]="isUserDatesEU ? 'dd.MM.yyyy' : 'MM/dd/yyyy'"
          [showClearButton]="'true'"
          [inputId]="'aet-targetStartDate'"
          [placeholderText]="'Select Date...'"
          (changeEvent)="onDateChanged($event, 'targetStartDate')"
          [disabled]="projectTaskSettings.calculateDates"
          [showDefaultValidationTooltip]="false"
        >
        </crem-date-picker>
      </div>
      <div id="aet-targetEndDate-container" class="aet-flexItem50">
        <h4
          class="aet-targetEndDate-label label"
          [ngClass]="taskTargetEndDateFieldInvalid ? 'fieldInvalid' : ''"
        >
          Target End Date
        </h4>
        <crem-date-picker
          #TargetEndDatePicker
          [(value)]="targetEndDate"
          [dateFormat]="isUserDatesEU ? 'dd.MM.yyyy' : 'MM/dd/yyyy'"
          [showClearButton]="'true'"
          [inputId]="'aet-targetEndDate'"
          [placeholderText]="'Select Date...'"
          [disabled]="projectTaskSettings.calculateDates"
          (changeEvent)="onDateChanged($event, 'targetEndDate')"
          [showDefaultValidationTooltip]="false"
        >
        </crem-date-picker>
      </div>
    </div>
    <div id="aet-daysToStart-duration-container" class="container">
      <div id="aet-daysToStart-container" class="aet-flexItem50">
        <h4 class="aet-daysToStart-label label">Days to Start</h4>
        <crem-number-box
          [value]="taskDaysToStart"
          [initialFocus]="null"
          [inputId]="'aet-taskDaysToStartId'"
          [numberFormat]="'0,###'"
          [inputLabel]="'Enter days to start'"
          [inputPlaceHolder]="'Enter days to start'"
          [disabled]="
            projectTaskSettings.autoCalculate &&
            projectTaskSettings.calculateDates
          "
          (valueChange)="onNumberValueChanged($event, 'taskDaysToStart')"
        ></crem-number-box>
      </div>
      <div id="aet-duration-container" class="aet-flexItem50">
        <h4 class="aet-duration-label label">Duration</h4>
        <crem-number-box
          [value]="taskDuration"
          [initialFocus]="null"
          [inputId]="'aet-taskDurationId'"
          [numberFormat]="'0,###'"
          [inputLabel]="'Expected # of days to complete'"
          [inputPlaceHolder]="'# of days to complete'"
          [disabled]="
            projectTaskSettings.calculateDates &&
            editTask &&
            taskSubTasksCount &&
            taskSubTasksCount >= 1
          "
          (valueChange)="onNumberValueChanged($event, 'taskDuration')"
        ></crem-number-box>
      </div>
    </div>
    <div id="aet-milestone-Wflow-complete-container" class="container">
      <div id="aet-milestone-container" class="aet-flexItem40">
        <h4 class="aet-milestone-label label">Milestone</h4>
        <ng-template
          [ngIf]="(!addSubTask && !editTask) || (editTask && taskParentId == 0)"
          [ngIfElse]="NotApplicableSpan"
        >
          <crem-toggle-slider
            [value]="taskMilestone"
            [disabled]="false"
            checkedLabel="Yes"
            uncheckedLabel="No"
            [size]="'wide'"
            ariaLabel="Milestone Toggle"
            (selectionChange)="onToggleChanged($event, 'taskMilestone')"
          ></crem-toggle-slider>
        </ng-template>
      </div>
      <div id="aet-workFlowStatus-container" *ngIf="taskMilestone">
        <h4 class="aet-workFlowStatus-label label">Workflow Status</h4>
        <crem-dropdown
          id="workFlowStatusDropdownId"
          dropDownContainerCustomClass="workFlowStatusDropDown"
          [dataSource]="taskWorkFlows"
          [showClearButton]="true"
          [showColumnHeader]="false"
          displayExpr="workflowName"
          valueExpr="workflowStatusID"
          [allowSearch]="true"
          [useSelectBox]="true"
          [selectBoxValue]="taskWorkflowStatusID"
          hoverText="Select Workflow Status"
          (selectedItems)="onWorkFlowStatusChanged($event)"
          [isDisabled]="loading"
        >
        </crem-dropdown>
      </div>
      <div id="aet-complete-container" *ngIf="taskMilestone">
        <h4 class="aet-complete-label label">% Complete</h4>
        <crem-number-box
          [value]="taskPercentCompletion"
          [initialFocus]="null"
          [inputId]="'aet-taskPercentCompletionId'"
          [numberFormat]="'0,###'"
          [inputLabel]="'Task Percentage Completion'"
          [inputPlaceHolder]="'Enter Number'"
          (valueChange)="onNumberValueChanged($event, 'taskPercentCompletion')"
        ></crem-number-box>
      </div>
    </div>
    <div id="aet-rqrd-con-shrink-emlapp-container" class="container">
      <div id="aet-required-container">
        <h4 class="aet-required-label label">Required</h4>
        <crem-toggle-slider
          [value]="taskRequired"
          [disabled]="false"
          checkedLabel="Yes"
          uncheckedLabel="No"
          [size]="'wide'"
          ariaLabel="Required Toggle"
          (selectionChange)="onToggleChanged($event, 'taskRequired')"
        ></crem-toggle-slider>
      </div>
      <div id="aet-concurrent-container">
        <h4 class="aet-concurrent-label label">Concurrent</h4>
        <ng-template
          [ngIf]="
            (!addSubTask && !editTask) ||
            (editTask &&
              taskStep !== 1 &&
              (taskSelectedPredecessors === undefined ||
                taskSelectedPredecessors.length <= 0))
          "
          [ngIfElse]="NotApplicableSpan"
        >
          <crem-toggle-slider
            [value]="taskConcurrent"
            [disabled]="false"
            checkedLabel="Yes"
            uncheckedLabel="No"
            [size]="'wide'"
            ariaLabel="Concurrent Toggle"
            (selectionChange)="onToggleChanged($event, 'taskConcurrent')"
          ></crem-toggle-slider>
        </ng-template>
      </div>
      <div id="aet-shrinkable-container">
        <h4 class="aet-shrinkable-label label">Shrinkable</h4>
        <ng-template
          [ngIf]="
            projectTaskSettings.calculateDates &&
            projectTaskSettings.autoCalculate &&
            (!editTask || (editTask && taskSubTasksCount <= 0))
          "
          [ngIfElse]="NotApplicableSpan"
        >
          <crem-toggle-slider
            [value]="taskShrinkable"
            [disabled]="false"
            checkedLabel="Yes"
            uncheckedLabel="No"
            [size]="'wide'"
            ariaLabel="Shrinkable Toggle"
            (selectionChange)="onToggleChanged($event, 'taskShrinkable')"
          ></crem-toggle-slider>
        </ng-template>
      </div>
      <div
        id="aet-emailApproval-container"
        *ngIf="(editTask && taskParentId == 0) || (!editTask && !addSubTask)"
      >
        <h4 class="aet-emailApproval-label label">Email Approvals</h4>
        <crem-toggle-slider
          [value]="clientEmailPreference == 1 ? true : false"
          [disabled]="false"
          checkedLabel="Yes"
          uncheckedLabel="No"
          [size]="'wide'"
          ariaLabel="Email Approvals Toggle"
          (selectionChange)="onToggleChanged($event, 'clientEmailPreference')"
        ></crem-toggle-slider>
      </div>
    </div>
    <div id="aet-exempt-requiredApproval-container" class="container">
      <div id="aet-approval-exempt-container" class="aet-flexItem50">
        <div class="aet-label-tooltip">
          <h4 class="aet-approval-exemption-label label">Approval Exemption</h4>
          <crem-tooltip
            id="aet-approvalExemptionTooltipId"
            class="aet-tooltip-approval-exempt"
            [externalId]="'aet-approval-exemption-tooltipId'"
            [helpTextData]="
              'Select Yes if you want to specify how many approvals are needed in order to complete task if multiple assignees have been added.'
            "
          >
          </crem-tooltip>
        </div>
        <crem-toggle-slider
          [value]="taskApprovalExempt"
          [disabled]="false"
          checkedLabel="Yes"
          uncheckedLabel="No"
          [size]="'wide'"
          ariaLabel="Approval Exemption Toggle"
          (selectionChange)="onToggleChanged($event, 'taskApprovalExempt')"
        ></crem-toggle-slider>
      </div>
      <div id="aet-required-approvals-container" *ngIf="taskApprovalExempt">
        <div class="aet-label-tooltip">
          <h4 class="aet-required-approvals-label label">
            # of Required Approvals
          </h4>
          <crem-tooltip
            id="aet-requiredApprovalsTooltipId"
            class="aet-tooltip-required-approvals"
            [externalId]="'aet-required-approvals-tooltipId'"
            [helpTextData]="
              'Select the number of approvals needed to mark task complete.'
            "
          >
          </crem-tooltip>
        </div>
        <crem-dropdown
          id="requiredApproversId"
          dropDownContainerCustomClass="requiredApproversDropDown"
          [dataSource]="requiredApproversList"
          [showClearButton]="false"
          [showColumnHeader]="false"
          displayExpr="displayValue"
          valueExpr="id"
          [allowSearch]="true"
          [useSelectBox]="true"
          [selectBoxValue]="taskRequiredApprovals"
          hoverText="Select to total number of approvals needed in order to mark the task as Complete."
          (selectedItems)="onRequiredApprovalNumberChanged($event)"
          [isDisabled]="loading"
        >
        </crem-dropdown>
      </div>
    </div>
    <div id="aet-role-container" class="container">
      <h4 class="aet-role-label label">Role</h4>
      <crem-dropdown
        id="aet-roleDropdownId"
        #RolesDropdown
        dropDownContainerCustomClass="aet-roles-custClass"
        [showColumnHeader]="true"
        placeholder="Add multiple roles to this task"
        displayExpr="role"
        valueExpr="role"
        showCheckBoxesMode="always"
        showClearButton="true"
        allowSearch="true"
        selectMode="multiple"
        [dataSource]="availableRoles"
        useArrayOfKeys="true"
        getWholeObject="true"
        [initialSelectedValue]="taskAssignedRoles"
        (selectedItems)="roleSelection($event)"
      ></crem-dropdown>
    </div>
    <div
      id="aet-predecessor-container"
      class="container"
      *ngIf="taskIndexOrder > 1 || !editTask"
    >
      <h4 class="aet-predecessor-label label">Predecessor</h4>
      <crem-dropdown
        id="aet-predecessorDropdownId"
        #PredecessorDropdown
        dropDownContainerCustomClass="aet-predecessor-custClass"
        placeholder="Select one or more tasks as predecessors"
        [showColumnHeader]="true"
        displayExpr="projectMilestoneStepFullAndName"
        valueExpr="projectMilestoneID"
        showCheckBoxesMode="always"
        showClearButton="true"
        allowSearch="true"
        selectMode="multiple"
        [dataSource]="availablePredecessors"
        useArrayOfKeys="true"
        getWholeObject="true"
        [initialSelectedValue]="taskSelectedPredecessors"
        (selectedItems)="predecessorSelection($event)"
      ></crem-dropdown>
    </div>
    <div id="aet-description-container" class="container">
      <h4 class="aet-description-label label">Description</h4>
      <dx-text-area
        [(value)]="taskDescription"
        [valueChangeEvent]="'input'"
        [minHeight]="32"
        [maxHeight]="100"
        [autoResizeEnabled]="true"
        [inputAttr]="{
          'aria-label': 'Add-Edit task description',
          id: 'aet-description'
        }"
      >
      </dx-text-area>
      <div
        class="aet-character-counter"
        [ngClass]="{
          'aet-character-limit-exceeded': taskDescription?.length > MAX_DESC_LEN
        }"
      >
        {{ taskDescription?.length || 0 }} / {{ MAX_DESC_LEN }}
      </div>
    </div>

    <ng-template #NotApplicableSpan>
      <span class="aet-not-applicable">N/A</span>
    </ng-template>
  </div>
  <div modalFooter class="addEditTaskModal-footerContent">
    <div id="buttonTemplate" class="footerRightControls">
      <crem-button
        *ngIf="editTask"
        type="secondary"
        class="assign-btn"
        [id]="'aet-closeBtn'"
        [title]="assignApproverBtnTitle"
        [ngClass]="{
          disabledOption: userAccessLevel !== 1
        }"
        (click)="addOrEditAssignees(projectTaskDetails)"
      >
        Assign Approver
      </crem-button>
      <crem-button
        type="secondary"
        class="cancelChanges aet-btn"
        [id]="'aet-cancelBtn'"
        (click)="closeModal()"
      >
        Cancel
      </crem-button>
      <crem-button
        type="secondary"
        class="applyChanges aem-btn"
        [id]="'aet-applyBtn'"
        [disabled]="disableBtn"
        (click)="validateAndSaveTask('apply')"
      >
        Apply
      </crem-button>
      <crem-button
        type="primary"
        class="saveChanges aet-btn"
        [id]="'aet-saveBtn'"
        [disabled]="disableBtn"
        (click)="validateAndSaveTask('save')"
      >
        Save
      </crem-button>
    </div>
  </div>
</crem-modal>
