@use 'styles' as *;

.aet-editTask-headerContent {
  width: 100%;
  .aet-addTaskHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;

    #aet-closeModalBtnId .closeIcon {
      transform: scale(1.3) translateY(3px);
    }

    .modalTitle {
      margin: 0;
      line-height: 1.5;
      font-size: 1.25rem;
      color: var(--costar-color-dark, #000);
    }
  }
}

#addEditTaskModal-content {
  .fieldInvalid {
    color: #d9534f;
  }

  .label {
    margin-bottom: 2px;
    margin-top: 8px;

    .aet-required-tag {
      color: $danger;
    }
  }

  .container {
    padding: 4px 0;
  }

  .aet-not-applicable {
    margin-left: 10px;
  }

  #aet-dates-container,
  #aet-rqrd-con-shrink-emlapp-container,
  #aet-daysToStart-duration-container,
  #aet-milestone-Wflow-complete-container,
  #aet-exempt-requiredApproval-container {
    display: flex;
    gap: 8px;
    .aet-flexItem50 {
      flex-basis: 50%;
    }
    .aet-flexItem40 {
      flex-basis: 40%;
    }
  }
  #aet-rqrd-con-shrink-emlapp-container {
    display: flex;
    justify-content: space-between;
  }
}

::ng-deep #addEditTaskModal-content {
  #aet-description-container {
    .dx-texteditor.dx-editor-outlined .dx-texteditor-input {
      max-height: none;
    }
    .aet-character-counter {
      text-align: right;
      font-size: 12px;
      color: $gray03;
      margin-top: 4px;
    }

    .aet-character-limit-exceeded {
      color: $danger;
    }
  }
}

.footerRightControls {
  display: flex;
  & > .assign-btn {
    position: absolute;
    left: 5px;
  }
  .modalFooter {
    @include costar(border-top, gray05);
  }
}

::ng-deep {
  .aet-tooltip-approval-exempt,
  .aet-tooltip-required-approvals {
    crem-icon {
      position: relative;
      top: 4px;
      right: 7px;
    }
  }

  #aet-requiredApprovalsTooltipId,
  div#aet-required-approvals-tooltipIdTooltip.dx-field,
  #aet-approvalExemptionTooltipId,
  div#aet-approval-exemption-tooltipIdTooltip.dx-field {
    height: 24px;
    min-height: 24px;
    @include costar(margin-top, 1);
  }
}

.aet-label-tooltip {
  display: flex;
  .aet-approval-exemption-label,
  .aet-required-approvals-label {
    margin-bottom: 0px;
  }
}
::ng-deep .workFlowStatusDropDown {
  div.dx-overlay-content div.dx-item-content div.dx-template-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
