<crem-card id="ba-parameters-card" title="Batch Parameters">
  <div class="batch-parameters-card">
    <dx-form
      #ParametersForm
      [colCount]="4"
      labelLocation="left"
      [showColonAfterLabel]="false"
      [formData]="parametersData"
    >
      <dxi-item *ngIf="isReadOnly" [colSpan]="4">
        <p>
          Portfolio: {{ scheduleObject?.SelectedPortfolio.portfolioName }} |
          Original Workflow Step:
          {{ scheduleObject?.SelectedWorkflowStatus.workflowStatus }} | View:
          {{ scheduleObject?.SelectedView.name }}
        </p>

        <p></p
      ></dxi-item>

      <dxi-item
        editorType="dxSelectBox"
        dataField="cardMeasureEvent"
        validationMessagePosition="right"
        [colSpan]="2"
        [editorOptions]="{
            items: measureEvents,
            dropDownOptions: { maxHeight: 'auto' },
            elementAttr: { id: 'ba-parameters-measure-event-dropdown' },
            showClearButton: true,
            displayExpr: 'remeasureTypeName',
            placeholder: 'Measure Events',
            disabled: isReadOnly,
            onValueChanged: measureEventChanged,
            validationMessagePosition: 'top',
            itemTemplate: itemTemplate,
          }"
        [label]="{ text: 'Measure Event' }"
      >
        <dxi-validation-rule
          type="required"
          *ngIf="!isReadOnly"
          message="Measure Event is Required."
        ></dxi-validation-rule>
      </dxi-item>

      <dxi-item
        editorType="dxSelectBox"
        dataField="cardNextWorkflowStatus"
        [colSpan]="2"
        [editorOptions]="{
          items: nextWorkflowStatuses,
          dropDownOptions: { maxHeight: '25vh' },
          elementAttr: { id: 'ba-parameters-wf-status-dropdown' },
          showClearButton: true,
          displayExpr: 'workflowStatus',  
          placeholder: 'Workflow Status',
          disabled: isReadOnly,
          itemTemplate: itemTemplate,
        }"
        [label]="{ text: 'Next Workflow Status' }"
      >
        <dxi-validation-rule
          type="required"
          *ngIf="!isReadOnly"
          message="Next Workflow Status is Required."
        ></dxi-validation-rule>
      </dxi-item>

      <dxi-item
        *ngIf="parametersData.workflowSettings?.isCommentsEnabled"
        editorType="dxTextBox"
        dataField="cardWorkflowComment"
        [colSpan]="2"
        [editorOptions]="{
          elementAttr: { id: 'ba-parameters-next-wf-comment-textarea' },
          disabled: isReadOnly
        }"
        [label]="{ text: 'Next Workflow Comment' }"
      >
        <dxi-validation-rule
          type="required"
          message="Next Workflow Comment is Required."
          *ngIf="
            parametersData.workflowSettings.isCommentsRequired && !isReadOnly
          "
        ></dxi-validation-rule>
      </dxi-item>
    </dx-form>
  </div>
</crem-card>
