<section class="section-grid">
  <crem-card [showCustomHeader]="true" mangoAccountingAda>
    <div
      customHeader
      class="card-header"
      [id]="accountingSummaryService.getId(componentName, 'card', 'header')"
    >
      <div class="card-header">
        <div
          class="card-title"
          [id]="accountingSummaryService.getId(componentName, 'card', 'title')"
        >
          Accounting Events {{ eventsCount ? '(' + eventsCount + ')' : '' }}
          <!-- {{isGridStateChanged ? preferenceSavePendingMessage : ''}} Removing this text for now as per discussion with PO's-->
        </div>
        <div class="event-selector">
          <crem-button
            *ngIf="!isAccountingEventEmpty && showPrevNextButton"
            [id]="
              accountingSummaryService.getId(
                componentName,
                'previous',
                'button'
              )
            "
            color="secondary"
            text="Prev"
            [disabled]="isPrevNextButtonDisabled"
            (buttonClick)="selectPreviousRow()"
          >
          </crem-button>
          <input
            [id]="
              accountingSummaryService.getId(componentName, 'empty', 'dropdown')
            "
            *ngIf="isAccountingEventEmpty"
            class="no-data-text-box"
            type="text"
            disabled="true"
            placeholder="No Accounting Events to Display"
          />
          <div *ngIf="!isAccountingEventEmpty" class="events-dropdown">
            <dx-drop-down-box
              #EventSelectorDropdown
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'events-selector',
                  'dropdown'
                )
              "
              [(value)]="gridBoxValue"
              [(opened)]="isGridBoxOpened"
              valueExpr="masterScheduleID"
              [deferRendering]="false"
              [displayExpr]="gridBox_displayExpr"
              [inputAttr]="{ 'aria-label': 'Accounting Event' }"
              [showClearButton]="false"
              [dataSource]="gridDataSource"
              height="30px"
              (click)="$event.stopPropagation()"
              (keydown)="handleDropdownActivationKeys($event)"
              (onOptionChanged)="onGridBoxOptionChanged($event)"
              (onValueChanged)="onValueChanged($event)"
              [dropDownOptions]="{ width: 700 }"
            >
              <div *dxTemplate="let data of 'content'">
                <div>
                  <div class="event-select-toolbar">
                    <crem-search
                      [id]="
                        accountingSummaryService.getId(
                          componentName,
                          'search',
                          'input'
                        )
                      "
                      [placeholder]="'Search...'"
                      [debounceTime]="500"
                      [searchOption]="'typing'"
                      (changed)="searchDataGrid($event)"
                    >
                    </crem-search>
                  </div>
                  <dx-data-grid
                    #EventsSelectDataGrid
                    [id]="
                      accountingSummaryService.getId(
                        componentName,
                        'events',
                        'grid',
                        'dropdown'
                      )
                    "
                    [dataSource]="gridDataSource"
                    keyExpr="masterScheduleID"
                    [hoverStateEnabled]="true"
                    [(selectedRowKeys)]="gridBoxValue"
                    (onRowClick)="onEventSelectorRowClick($event)"
                    (onCellPrepared)="onEventSelectorCellPrepared($event)"
                    (onContentReady)="onEventSelectorContentReady($event)"
                  >
                    >
                    <dxo-selection mode="single"></dxo-selection>
                    <dxo-paging
                      [enabled]="pagingEnabled"
                      [pageSize]="10"
                    ></dxo-paging>
                    <dxo-pager
                      [visible]="pagingEnabled"
                      [allowedPageSizes]="allowedPageSizes"
                      [displayMode]="full"
                      [showPageSizeSelector]="false"
                      [showInfo]="true"
                      [showNavigationButtons]="true"
                    >
                    </dxo-pager>
                    <dxo-grouping
                      [autoExpandAll]="false"
                      [contextMenuEnabled]="true"
                    ></dxo-grouping>
                    <dxo-sorting mode="multiple"></dxo-sorting>

                    <dxi-column
                      dataField="classificationType"
                      caption="Classification"
                    ></dxi-column>
                    <dxi-column
                      dataField="amortizationProfileName"
                      caption="Amortization Profile"
                    ></dxi-column>
                    <dxi-column
                      dataField="jeStatus"
                      caption="Status"
                    ></dxi-column>
                    <dxi-column
                      dataField="endDate"
                      caption="End Date"
                      [calculateSortValue]="'endDateSortValue'"
                    ></dxi-column>
                  </dx-data-grid>
                </div>
              </div>
            </dx-drop-down-box>
          </div>
          <crem-button
            *ngIf="!isAccountingEventEmpty && showPrevNextButton"
            [id]="
              accountingSummaryService.getId(componentName, 'next', 'button')
            "
            color="secondary"
            text="Next"
            [disabled]="isPrevNextButtonDisabled"
            (buttonClick)="selectNextRow()"
          >
          </crem-button>
        </div>
      </div>
      <div class="more-menu">
        <div class="more">
          <button
            [disabled]="isAccountingEventEmpty"
            [id]="
              accountingSummaryService.getId(componentName, 'more', 'button')
            "
            class="btn btn-default moreButton"
            [matMenuTriggerFor]="moreMenu"
            (click)="openMoreMenu($event)"
            (keydown)="openMoreMenu($event)"
          >
            More
            <mat-icon
              [id]="
                accountingSummaryService.getId(componentName, 'more', 'icon')
              "
              >arrow_drop_down</mat-icon
            >
          </button>
          <mat-menu #moreMenu="matMenu" class="moreMatMenu">
            <button
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'column-chooser',
                  'button'
                )
              "
              mat-menu-item
              (click)="showColumnChooser()"
            >
              Column Chooser
            </button>
            <button
              [id]="
                accountingSummaryService.getId(componentName, 'save', 'button')
              "
              mat-menu-item
              (click)="saveGridPreferences()"
            >
              Save Preferences
            </button>
            <button
              [id]="
                accountingSummaryService.getId(componentName, 'reset', 'button')
              "
              mat-menu-item
              (click)="
                isGridStateChanged ? clearGridChanges() : resetGridPreferences()
              "
              [title]="
                isGridStateChanged ? clearBtnHoverText : resetBtnHoverText
              "
            >
              {{ isGridStateChanged ? 'Clear Changes' : 'Reset Preferences' }}
            </button>
            <button
              mat-menu-item
              *ngIf="
                eventsDataGrid &&
                eventsDataGrid.instance &&
                expandedRowCount < totalRowCount
              "
              (click)="expandAll()"
            >
              Expand All
            </button>
            <button
              mat-menu-item
              *ngIf="expandedRowCount > 0"
              (click)="collapseAll()"
            >
              Collapse All
            </button>
            <button
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'sendToExcel',
                  'button'
                )
              "
              mat-menu-item
              (click)="sendToExcel()"
              title="Send to Excel"
            >
              Send to Excel
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="grid-size">
        <crem-button
          btnStyle="basic"
          color="secondary"
          size="small"
          class="icon-style"
          icon="faExpand"
          title="Show All Rows"
          ariaLabel="Show All Rows"
          *ngIf="showMaxRow"
          [disabled]="isAccountingEventEmpty"
          (click)="showMaxRows()"
        >
        </crem-button>

        <crem-button
          btnStyle="basic"
          size="small"
          color="secondary"
          class="icon-style"
          icon="faSquare"
          iconPack="regular"
          title="Default View"
          ariaLabel="Default View"
          *ngIf="showDefaultRow"
          [disabled]="isAccountingEventEmpty"
          (click)="showDefaultRows()"
        >
        </crem-button>

        <crem-button
          btnStyle="basic"
          size="small"
          class="icon-style"
          color="secondary"
          icon="faCompress"
          title="Show Minimum Rows"
          ariaLabel="Show Minimum Rows"
          *ngIf="showMinRow"
          [disabled]="isAccountingEventEmpty"
          (click)="showMinRows()"
        >
        </crem-button>
      </div>
    </div>
    <div class="card-content">
      <dx-data-grid
        #EventsDataGrid
        [id]="
          accountingSummaryService.getId(componentName, 'detail', 'section')
        "
        [dataSource]="detailsGridData"
        keyExpr="leaseRecognitionScheduleID"
        width="100%"
        [columnMinWidth]="25"
        [columns]="detailColumns"
        [showColumnLines]="true"
        [allowColumnReordering]="true"
        [allowColumnResizing]="true"
        columnResizingMode="widget"
        [height]="eventGridHeight"
        [hoverStateEnabled]="true"
        [(selectedRowKeys)]="selectedRowKeys"
        [showRowLines]="true"
        [showBorders]="true"
        [remoteOperations]="true"
        (onOptionChanged)="onGridOptionChanged($event)"
        (onCellClick)="onCellClick($event)"
        (onRowClick)="onRowClick($event)"
        (onRowExpanding)="showMaxRows()"
        (onRowExpanded)="setExpandedRowCount()"
        (onRowCollapsed)="setExpandedRowCount()"
        (onContextMenuPreparing)="onContextMenuPreparing($event)"
        (onContentReady)="onGridContentReady($event)"
      >
        <dxo-paging [enabled]="false"> </dxo-paging>
        <dxo-state-storing
          [enabled]="true"
          type="custom"
          storageKey="eventsGridStateKey"
          [customLoad]="loadState"
          [customSave]="saveState"
        >
        </dxo-state-storing>

        <dxo-column-fixing [enabled]="true"> </dxo-column-fixing>

        <dxo-scrolling columnRenderingMode="standard"> </dxo-scrolling>

        <dxo-selection mode="single"> </dxo-selection>

        <dxo-column-chooser
          [enabled]="true"
          mode="select"
          height="500"
          width="400"
        >
          <dxo-position
            my="right top"
            at="right top"
            [of]="
              '#' +
              accountingSummaryService.getId(componentName, 'card', 'header')
            "
          ></dxo-position>
          <dxo-search [enabled]="true"> </dxo-search>

          <dxo-selection allowSelectAll="true" [recursive]="true">
          </dxo-selection>
        </dxo-column-chooser>
        <dxo-master-detail
          [enabled]="true"
          [template]="'eventMasterDetail'"
        ></dxo-master-detail>
        <div *dxTemplate="let info of 'accountingEventHeader'">
          <p title="{{ info.column.caption }}" class="header-column-caption">
            {{ info.column.caption }}
          </p>
        </div>

        <div *dxTemplate="let cell of 'pointer'">
          <div class="pointer" title="{{ cell.text }}">{{ cell.text }}</div>
        </div>

        <div *dxTemplate="let cell of 'clickable'">
          <div
            *ngIf="
              cell.data.hasHistoricalCharges &&
              cell.data.measureEvent !== 'Full Termination'
            "
            class="pointer"
            title="{{ cell.text }}"
          >
            <a
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'present-value',
                  'link'
                )
              "
              href="#"
              (click)="presentValueExcel($event, cell.data)"
              class="link-class"
              >{{ cell.text }}</a
            >
          </div>
          <div
            *ngIf="
              !cell.data.hasHistoricalCharges ||
              cell.data.measureEvent === 'Full Termination'
            "
            class="pointer"
            title="{{ cell.text }}"
          >
            {{ cell.text }}
          </div>
        </div>

        <div *dxTemplate="let data of 'actionsTemplate'" #actionTemplate>
          <div class="actions-icon">
            <crem-icon
              [id]="
                accountingSummaryService.getId(
                  componentName,
                  'action',
                  'icon',
                  data.data.scheduleIndex
                )
              "
              pack="solid"
              icon="faEllipsisH"
              color="primary"
              size="lg"
            >
            </crem-icon>
          </div>
        </div>
        <div *dxTemplate="let detail of 'eventMasterDetail'">
          <crem-tabs>
            <crem-tab-item title="Comments">
              <div class="master-detail-card">
                <div>
                  <p>{{ detail.data.comments }}</p>
                </div>
              </div>
            </crem-tab-item>
            <crem-tab-item
              title="Classification Test"
              *ngIf="
                detail.data &&
                detail.data.classificationID !== 4 &&
                detail.data.classificationID !== 5 &&
                detail.data.classificationTestResult != 'Tests Incomplete' &&
                detail.data.classificationTestResultReason !=
                  'Incomplete Test 1, 2, 3, 4, 5'
              "
            >
              <div class="master-detail-card">
                <div>
                  <p>
                    <span class="bold">Result:</span>
                    <span>{{ detail.data.classificationTestResult }}</span>
                    <span class="bold">Reason:</span>
                    <span>{{
                      detail.data.classificationTestResultReason
                    }}</span>
                  </p>
                  <p>
                    <span class="bold">Transfer of Ownership:</span>
                    <span
                      >{{
                        detail.data.test1 === null
                          ? 'Incomplete'
                          : detail.data.test1
                          ? 'Yes'
                          : 'No'
                      }}
                      |
                    </span>
                    <span class="bold">Purchase Option:</span>
                    <span
                      >{{
                        detail.data.test2 === null
                          ? 'Incomplete'
                          : detail.data.test2
                          ? 'Yes'
                          : 'No'
                      }}
                      |
                    </span>
                    <span class="bold">Lease Term:</span>
                    <span
                      >{{
                        detail.data.test3
                          ? detail.data.test3.toFixed(2) + '%'
                          : 'Incomplete'
                      }}
                      |
                    </span>
                    <span class="bold">Present Value:</span>
                    <span
                      >{{
                        detail.data.test4
                          ? detail.data.test4.toFixed(2) + '%'
                          : 'Incomplete'
                      }}
                      <p
                        class="inline"
                        *ngIf="
                          detail.data.classificationID !== 0 &&
                          detail.data.classificationID !== 1
                        "
                      >
                        |
                      </p>
                    </span>
                    <span
                      class="bold"
                      *ngIf="
                        detail.data.classificationID !== 0 &&
                        detail.data.classificationID !== 1
                      "
                      >Alternative Use:</span
                    >
                    <span
                      *ngIf="
                        detail.data.classificationID !== 0 &&
                        detail.data.classificationID !== 1
                      "
                      >{{
                        detail.data.test5 === null
                          ? 'Incomplete'
                          : detail.data.test5
                          ? 'Yes'
                          : 'No'
                      }}</span
                    >
                  </p>
                  <p>
                    <span *ngIf="detail.data.fmv"
                      ><span class="bold">Fair Market Value:</span>
                      <span
                        >{{
                          fairMarketValueDisplay(
                            detail.data.fmv,
                            detail.data.localCurrencyDecimalPrecision
                          )
                        }}
                        |
                      </span></span
                    >
                    <span *ngIf="detail.data.implicitRate"
                      ><span class="bold">Implicit Rate:</span>
                      <span>{{ implicitRateDisplay(detail.data) }} | </span>
                    </span>
                    <span *ngIf="detail.data.economicLifeYears"
                      ><span class="bold">Remaining Economic Life:</span>
                      <span>{{
                        detail.data.economicLifeYears.toFixed(2)
                      }}</span></span
                    >
                  </p>
                </div>
              </div>
            </crem-tab-item>
          </crem-tabs>
        </div>
      </dx-data-grid>
    </div>
  </crem-card>
</section>
