<div class="accounting-history-toolbar">
  <div class="accounting-history-header">
    <h3 class="title">Accounting History</h3>

    <div class="portfolio-list">
      <crem-dropdown
        id="accounting-history-portfolio-dropdown"
        [initialSelectedValue]="-1"
        displayExpr="companyName"
        valueExpr="companyID"
        [placeholder]="'Select Portfolio...'"
        [label]="'Label'"
        [isSearchable]="true"
        [required]="true"
        [dataSource]="userPortfolios"
        [allowSearch]="true"
        [showClearButton]="false"
        (selectedItems)="onPortfolioSelectedItem($event)"
      >
      </crem-dropdown>
    </div>
  </div>

  <div class="export-to-excel">
    <crem-button
      id="accounting-history-export-to-excel-button"
      [color]="'primary'"
      [ariaLabel]="'Send to Excel'"
      [disabled]="showLoading || sendToExcelClicked"
      (click)="sendToExcel($event)"
      [icon]="sendToExcelClicked ? 'faSpinner' : ''"
      [iconPack]="sendToExcelClicked ? 'solid' : ''"
      [iconAnimation]="sendToExcelClicked ? 'spin' : ''"
    >
      <div>
        <span>
          {{ sendToExcelClicked ? 'Sending to Excel' : 'Send to Excel' }}
        </span>
      </div>
    </crem-button>
  </div>
</div>

<div class="grid" id="accounting-history-grid">
  <dx-data-grid
    #AccountingHistoryGrid
    id="accounting-history-grid-section"
    [dataSource]="accountingHistory"
    [columns]="accountingHistoryColumns"
    [allowColumnReordering]="true"
    [width]="'100%'"
    [showBorders]="true"
    [remoteOperations]="true"
    [loadPanel]="{ enabled: false }"
  >
    <dxo-paging [pageSize]="100"></dxo-paging>

    <dxo-group-panel [visible]="true"> </dxo-group-panel>

    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[25, 50, 100, 500]"
      [showInfo]="true"
      [showNavigationButtons]="true"
      visible="true"
    >
    </dxo-pager>

    <dxo-grouping #expand [autoExpandAll]="false"> </dxo-grouping>
  </dx-data-grid>

  <dx-load-panel
    shadingColor="rgba(255,255,255,0.2)"
    [position]="{ of: '#accounting-history-grid' }"
    [visible]="showLoading"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [hideOnOutsideClick]="false"
  >
  </dx-load-panel>
  <p-toast
    position="bottom-right"
    preventOpenDuplicates="true"
    mangoAccountingAda
  ></p-toast>
</div>
