<mango-accounting-dashboard
  *ngIf="!featureFlagEnabled"
></mango-accounting-dashboard>

<div *ngIf="featureFlagEnabled">
  <div class="dashboard-toolbar-wrapper">
    <div class="controls-left">
      <div
        class="dashboard-toolbar__item"
        id="AccountingDashboardHeaderViewSelector"
      >
        <ng-container *ngIf="!loading">
          <crem-dropdown
            [id]="'AccountingViewDropdown-' + getViewName(selectedView, true)"
            dropDownContainerCustomClass="accountingViewDropDown"
            [dataSource]="accountingViewData"
            [placeholder]="loading ? 'Loading...' : 'Select View'"
            [showClearButton]="false"
            [showColumnHeader]="false"
            displayExpr="displayValue"
            valueExpr="id"
            [allowSearch]="true"
            [useSelectBox]="true"
            [selectBoxValue]="selectedView"
            hoverText="Select View"
            (selectedItems)="onAccountingViewChange($event)"
            [isDisabled]="loading"
            [containerized]="false"
          ></crem-dropdown>
        </ng-container>
      </div>

      <div class="dashboard-toolbar__item">
        <crem-dropdown
          *ngIf="selectedView !== 1"
          [isDisabled]="loading"
          [id]="'AccountingDashboardHeaderYearSelector'"
          dropDownContainerCustomClass="accountingYearDropDown"
          [dataSource]="accountingYearData"
          [placeholder]="loading ? 'Loading...' : 'Select Year'"
          [showClearButton]="false"
          [showColumnHeader]="false"
          displayExpr="value"
          valueExpr="value"
          [allowSearch]="true"
          [useSelectBox]="true"
          [selectBoxValue]="selectedYear"
          hoverText="Select Year"
          (selectedItems)="onAccountingYearChange($event)"
          [containerized]="false"
        >
        </crem-dropdown>
      </div>

      <div class="dashboard-toolbar__item">
        <crem-dropdown
          [isDisabled]="loading"
          [id]="'AccountingDashboardHeaderSegmentsSelector'"
          dropDownContainerCustomClass="accountingSegmentDropDown"
          [dataSource]="accountingSegmentData"
          [placeholder]="loading ? 'Loading...' : 'Select Segment'"
          [showClearButton]="false"
          [showColumnHeader]="false"
          displayExpr="name"
          valueExpr="segmentID"
          [useSelectBox]="true"
          [selectBoxValue]="selectedSegment"
          hoverText="Select Segment"
          (selectedItems)="onAccountingSegmentChange($event)"
          (moreMenuItemClicked)="onMoreMenuItemClicked($event)"
          [containerized]="false"
          itemTemplate="withMenu"
          fieldTemplate="withLabel"
          label="Segment is"
          [allowSearch]="true"
          searchMode="contains"
          searchExpr="name"
        ></crem-dropdown>
      </div>

      <crem-button
        [id]="'AccountingDashboardHeaderApplyButton'"
        [disabled]="loading"
        type="secondary"
        (buttonClick)="apply($event)"
      >
        Apply
      </crem-button>
    </div>
    <div class="controls-right">
      <div
        *ngIf="selectedView !== 1"
        class="currency-label"
        id="AccountingDashboardHeaderReportingCurrency"
      >
        Reporting Currency in
        <strong class="currency-iso">{{ selectedCurrency }}</strong>
      </div>
      <crem-button
        *ngIf="selectedView !== 1"
        [id]="'AccountingDashboardHeaderSendToExcelButton'"
        [disabled]="loading || exportingReport"
        type="secondary"
        (buttonClick)="export()"
        [icon]="exportingReport && 'faSpinner'"
        [iconAnimation]="exportingReport && 'spin'"
        [iconPack]="exportingReport && 'solid'"
        [title]="
          exportingReport
            ? 'A link to the report will be emailed to you shortly.'
            : ''
        "
        [ariaLabel]="exportingReport ? 'Sending to Excel' : 'Send to Excel'"
        noWrap="true"
      >
        {{ exportingReport ? 'Sending to Excel' : 'Send to Excel' }}
      </crem-button>

      <crem-button
        [id]="'AccountingButtonDashboardSettings'"
        type="secondary"
        ariaLabel="Dashboard Settings"
        icon="faCog"
        [disabled]="loading"
        [hidden]="true"
        (click)="launchSettingsModal(); $event.preventDefault()"
      ></crem-button>
    </div>
  </div>

  <div class="dashboard-content-wrapper">
    <ng-container *ngIf="!loading">
      <div class="dashboard-content" *ngIf="selectedSegment !== undefined">
        <workflow-and-alerts
          *ngIf="selectedView === 1"
          [selectedSegment]="selectedSegment"
          [reportingYear]="selectedYear"
          [cardContainerId]="'AccountingDashboardWorkflowAndAlertsView'"
        ></workflow-and-alerts>

        <asc-842-annual-disclosures *ngIf="selectedView === 2">
          <mango-disclosure-dashboard-view
            [selectedView]="selectedView"
            [selectedSegment]="selectedSegment"
            [reportingYear]="selectedYear"
            [selectedCurrency]="selectedCurrency"
            [cardContainerId]="'AccountingDashboardASC842AnnualView'"
          ></mango-disclosure-dashboard-view>
        </asc-842-annual-disclosures>

        <asc-842-quarterly-disclosures *ngIf="selectedView === 3">
          <mango-disclosure-dashboard-view
            [selectedView]="selectedView"
            [selectedSegment]="selectedSegment"
            [reportingYear]="selectedYear"
            [selectedCurrency]="selectedCurrency"
            [cardContainerId]="'AccountingDashboardASC842QuarterlyView'"
          ></mango-disclosure-dashboard-view>
        </asc-842-quarterly-disclosures>

        <ifrs-16-annual-disclosures *ngIf="selectedView === 4">
          <mango-disclosure-dashboard-view
            [selectedView]="selectedView"
            [selectedSegment]="selectedSegment"
            [reportingYear]="selectedYear"
            [selectedCurrency]="selectedCurrency"
            [cardContainerId]="'AccountingDashboardIFRS16AnnualView'"
          ></mango-disclosure-dashboard-view>
        </ifrs-16-annual-disclosures>

        <ifrs-16-quarterly-disclosures *ngIf="selectedView === 5">
          <mango-disclosure-dashboard-view
            [selectedView]="selectedView"
            [selectedSegment]="selectedSegment"
            [reportingYear]="selectedYear"
            [selectedCurrency]="selectedCurrency"
            [cardContainerId]="'AccountingDashboardIFRS16QuarterlyView'"
          ></mango-disclosure-dashboard-view>
        </ifrs-16-quarterly-disclosures>
      </div>
    </ng-container>
  </div>
</div>
