@use 'styles' as *;

.status-right-container {
  height: 100%;
}

.status-toolBar-wrapper {
  @include costar(border-bottom, gray04);
  width: 100% !important;
  position: sticky !important;
  top: 0;
}

.status-toolBar-wrapper > div {
  height: 32px;
}

.status-toolBar-wrapper {
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .controls-left {
    display: flex;
    flex-direction: row;

    .title {
      @include costar(font-weight, medium);
      font-size: 1rem;
      line-height: 20px;
      margin: 0px;
      @include costar(margin-right, 2);
    }
  }
}

.status-dataGrid-wrapper {
  height: calc(100% - 50px);
  font-size: 16px;

  dx-data-grid {
    width: 100%;
    height: 100% !important;
  }
}

.actions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;

  crem-icon {
    @include costar(margin-right, 4);
  }
}

:host::ng-deep #benchmarking-search-input {
  input {
    height: 32px;
  }
}

.controls-right {
  display: flex;
  column-gap: 8px;
}

#benchmarking-more-menu-icon {
  @include costar(margin-left, 2);
}

a {
  @include costar(color, primary-light);
}

:host::ng-deep #benchmarking-grid {
  .dx-datagrid .dx-datagrid-content-fixed {
    .dx-row > td:last-child {
      border-left: 2px solid #ddd !important;
    }
  }
}
