@use 'styles' as *;

:host {
  width: 100%;
  display: block;
  position: relative;
  @include costar(background-color, light);

  ::ng-deep {
    // Forces all element on the DevExtreme's grid results to be left aligned
    .dx-datagrid [role='gridcell'],
    .dx-datagrid [role='columnheader'] {
      text-align: left !important;
    }

    // Forces header to always aligned to the left with filter to the right for specific columns
    tr>td[aria-label='Column System  Project  ID'],
    /* Project Grid */
    tr>td[aria-label='Column System  Building  ID'],
    /* Building Grid */
    tr>td[aria-label='Column System  Company  ID'],
    /* Company Grid */
    tr>td[aria-label='Column System  Lease  ID'],
    /* Lease Grid */
    tr>td[aria-label='Column Contact VPContact ID'],
    /* Contact Grid */
    tr>td[aria-label='Column Building  ID']

    /* Supplier Grid */ {
      display: flex;

      .dx-datagrid-text-content {
        order: 0;
      }

      .dx-column-indicators {
        order: 1;
      }
    }

    .tab-content {
      // Removes crem-tab's padding
      padding: 0px !important;
    }

    section {
      height: 100%;
    }

    .dx-gridbase-container {
      height: calc(100vh - 116px - 41px);
    }

    // Skeleton full height modification
    crem-skeleton {
      .skeleton-table-pag {
        bottom: 0;
        width: 100%;
        position: absolute;
      }
    }
  }
}

.search-results-grid-container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 20px;
  gap: 10px;
}

.search-results-navigation {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  backdrop-filter: blur(10px);
  transition: all 0.2s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  button {
    @include costar(color, primary);
    @include costar(background-color, light);
    border: 0px;
    padding: 0px;

    &:hover {
      text-decoration: underline;
    }
  }
}

:host ::ng-deep {
  .cremCard {
    min-height: auto;
    padding-bottom: 10px;
    scroll-margin-top: 50px;

    .dx-gridbase-container {
      height: unset;
    }
  }
}
