<crem-modal
  modalId="addServiceAccoutModalId"
  modalTitle="Service Account Setup"
  closeIconVisible="true"
  primaryFooterButtonText="Save"
  closeOrCancelButtonText="Cancel"
  (primaryButtonAction)="AddServiceAccount(serviceAccountForm)"
>
  <div modalContent>
    <form [formGroup]="serviceAccountForm">
      <div class="layout-container">
        <div>
          <label for="emailAddress" class="email-label">Email Address:</label
          ><br />
          <input
            id="emailAddress"
            formControlName="emailAddress"
            placeholder="Email Address"
            type="text"
          />
        </div>
        <!--
        <div>
          <label for="name" class="email-label">Name:</label><br />
          <input
            id="name"
            formControlName="name"
            placeholder="Name"
            type="text"
          />
        </div>
        <div>
          <label for="description" placeholder="Description" class="email-label"
            >Description:</label
          ><br />
          <input
            id="description"
            formControlName="description"
            placeholder="Description"
            type="text"
          />
        </div>
        <div>
          <label for="expires" placeholder="expires" class="email-label"
            >Token Expires (in Days):</label
          >
          <input
            id="expires"
            formControlName="expires"
            placeholder="Token Expires"
            type="text"
          />
        </div>
        <div>
          <span class="email-label">Requested Scopes:</span><br />
          <div class="checkbox-container">
            <label
              formArrayName="requestedScopes"
              *ngFor="
                let control of requestedScopesArray.controls;
                let i = index
              "
            >
              <input
                type="checkbox"
                [formControlName]="i"
                id="{{ scopes[i].scopeName }}"
              />
              {{ scopes[i].scopeName }}
            </label>
          </div>
        </div>
-->
      </div>
      <div class="err">{{ errorMsg }}</div>
    </form>
  </div>
</crem-modal>
