@use '../../../../../../../libs/ui-shared/common/src/styles/' as *;

.email-label {
  @include costar(font-size, small);
}

.checkbox-container {
  overflow-y: scroll;
  border: 1px solid #c8c8c8;
  height: 95px;
  width: 320px;
  padding: 5px;
}

.checkbox-container > div {
  vertical-align: text-top;
}

input[type='text'] {
  @include costar(padding, 1);
  @include costar(border, gray04);
  @include costar(font-size, normal);
  width: 100%;
}

.err {
  @include costar(color, danger);
}

::ng-deep {
  crem-modal {
    .modalHeader {
      background-color: #fbfbfb !important;
      padding: 10px 16px !important;
      @include costar(border-bottom, gray04);
    }

    .modal-title {
      color: #414141 !important;
    }

    .modalContent {
      @include costar(border-bottom, gray04);
      padding-bottom: 40px !important;
    }

    .btn-secondary {
      &:focus {
        box-shadow: none !important;
      }
      &:hover {
        background-color: #fbfbfb !important;
      }
    }
  }
}
