<crem-card
  [id]="card.gridData.id"
  [title]="card.title"
  [subtitle]="card.subtitle"
  [counter]="card.counter"
  [filterData]="card.filterData"
  [filterInitialValue]="card.filterInitialValue"
  [showFilterClearButton]="false"
  dropValue="Value"
  dropDisplay="Display"
  (selectedFilter)="filter($event, card.id)"
  [moreOptions]="card.moreOptions"
  (exportDataGrid)="exportAllGridData()"
  fxFlexFill
>
  <div class="cardContent" fxflexFill *ngIf="card.dispCard">
    <dx-data-grid
      #NewProjectsGrid
      [id]="card.gridData.id + 'grid'"
      [showColumnLines]="false"
      [showRowLines]="false"
      [showBorders]="false"
      [rowAlternationEnabled]="true"
      [allowColumnResizing]="true"
      [allowColumnReordering]="true"
      [columnAutoWidth]="false"
      [dataSource]="card.gridData.dataSource"
      keyExpr="gridIndex"
      (onRowClick)="rowClick($event)"
      [wordWrapEnabled]="true"
      (onContentReady)="adaAttrNoDataGrid($event)"
    >
      <dxo-header-filter [visible]="true">
        <dxo-search [enabled]="true"> </dxo-search>
      </dxo-header-filter>
      <dxo-search-panel [visible]="false"></dxo-search-panel>
      <dxo-pager [visible]="false"></dxo-pager>
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxi-column
        dataField="projectName"
        caption="Name"
        alignment="left"
      ></dxi-column>
      <dxi-column
        dataField="projectType"
        caption="Type"
        alignment="left"
      ></dxi-column>
      <dxi-column
        dataField="projectManager"
        caption="Manager"
        alignment="left"
      ></dxi-column>
      <dxi-column
        dataField="projectStatus"
        caption="Status"
        alignment="left"
      ></dxi-column>
      <dxi-column
        dataField="projectDueDate"
        caption="Due Date"
        dataType="date"
        alignment="left"
        [format]="cardsService.dateFormat"
      ></dxi-column>
      <dxi-column
        dataField="projectAdded"
        caption="Date Added"
        dataType="date"
        alignment="left"
        [format]="cardsService.dateFormat"
      ></dxi-column>
    </dx-data-grid>
  </div>
</crem-card>
