<crem-card
  [id]="pendoId + '--card'"
  [title]="config.title"
  [showFilterClearButton]="false"
  [pendoTitleId]="pendoId + '--title'"
  [customDropdownMenu]="true"
  fxFlexFill
>
  <ng-template #customDropdownMenu>
    <div class="card-header--right">
      <fa-icon
        class="chart-toggle"
        id="{{ pendoId + '--chart' }}"
        (click)="toggleChartButton()"
        [ngClass]="{ 'chart-toggle__visible': !chartVisible }"
        [icon]="faChartBar"
        title="Chart"
      ></fa-icon>

      <button
        id="{{ pendoId + '--moreOption' }}"
        class="btn btn-default btn-sm moreOptionsBtn"
        [matMenuTriggerFor]="cardMenu"
        (click)="$event.preventDefault()"
        aria-label="More Options"
      >
        <mat-icon aria-label="More Options">more_horiz</mat-icon>
      </button>

      <mat-menu #cardMenu="matMenu">
        <button mat-menu-item (click)="exportGrid()">Export Pivot Grid</button>

        <button mat-menu-item (click)="exportDatasource()">
          Export Datasource
        </button>

        <button
          *ngIf="config.showMenuToggleFullWidth"
          mat-menu-item
          (click)="toggleCardWidth()"
        >
          {{
            config?.fullWidth ? 'Switch to Half Width' : 'Switch to Full Width'
          }}
        </button>

        <button mat-menu-item (click)="showColumnChooser()">
          Field Chooser
        </button>

        <button mat-menu-item>
          <mat-slide-toggle
            [checked]="cremPivotTable?.showRowGrandTotals"
            (change)="toggleGrandTotal('row')"
            >Show Row Grand Total</mat-slide-toggle
          >
        </button>

        <button mat-menu-item>
          <mat-slide-toggle
            [checked]="cremPivotTable?.showColumnGrandTotals"
            (change)="toggleGrandTotal('column')"
            >Show Column Grand Total</mat-slide-toggle
          >
        </button>

        <button mat-menu-item (click)="useDefaultSetting()">Reset</button>

        <button
          mat-menu-item
          (click)="saveUserConfig(true)"
          *ngIf="canSaveDefault"
        >
          Save as Default
        </button>

        <button mat-menu-item (click)="saveUserConfig(false)">Save</button>
      </mat-menu>
    </div>
  </ng-template>

  <div class="card-content scroll-container vertical" fxflexFill>
    <crem-pivot-table
      #CremPivotTable
      *ngIf="config.cardType === 'pivot'"
      [id]="config.id"
      [config]="config.pivotDataSource"
      [dataGridKeyExpr]="config.dataGridKeyExpr"
      [showRowGrandTotals]="config.showRowGrandTotals"
      [showColumnGrandTotals]="config.showColumnGrandTotals"
      [exportFileName]="config.exportFileName"
      [allowDrillDown]="config.allowDrillDown"
      [summationTypeConfig]="summationTypeConfig"
      [fieldModal]="fieldModal"
      applyChangesMode="onDemand"
      (changeCallback)="onPivotChangeCallback($event)"
      [chartVisible]="chartVisible"
    ></crem-pivot-table>

    <crem-simple-grid
      *ngIf="config.cardType === 'grid'"
      [id]="config.id"
      [dataSource]="config.pivotDataSource"
      [keyExpr]="config.dataGridKeyExpr"
    ></crem-simple-grid>
  </div>
</crem-card>

<div class="position-fixed visibility-hidden">
  <crem-simple-grid
    #SimpleGrid
    [dataSource]="exportData"
    [exportFileName]="this.exportDataSourceFileName"
  ></crem-simple-grid>
</div>
<p-toast
  position="bottom-right"
  preventOpenDuplicates="true"
  mangoAccountingAda
></p-toast>
